.category,
.tag {
  header {
    position: absolute;
    top: 0;
    left: 0;
  }

  .blog,
  .wrap {
    width: 100% !important;
  }

  .svg {
    padding-top: 0 !important;
  }
}

.error404,
.category,
.tag {
  .main {
    height: 100%;
    width: 100%;
    .svg {
      display: flex;
      max-width: 867px;
      margin: 0 auto 70px auto;
      height: auto;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      padding-top: 200px;
    }

    .err {
      text-align: center;
      margin-bottom: 100px;
      h1 {
        font-family: "Lora", serif;
        font-size: 60px;
        margin-top: 55px;
      }
      p {
        font-family: "Mulish", sans-serif;
        font-size: 20px;
        margin-top: 38px;
        font-variation-settings: 'wght' 500;
      }
    }
    .btn {
      display: none;
      justify-content: center;

      a {
        height: 20px;
        font-family: "Mulish", sans-serif;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid #1994ff;
        box-sizing: border-box;
        border-radius: 100px;
        color: #1994ff;
        display: flex;
        align-items: center;
        padding: 14px 25px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .error404 .main {
    .svg {
      width: 80%;
    }
  }
}

@media (max-width: 1024px) {
  .error404 .main .err p {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 1000px) and (min-width: 900px) {
  .template-404 .main .svg svg {
    width: 780px;
  }
}

@media (max-width: 899px) and (min-width: 800px) {
  .template-404 .main .svg svg {
    width: 600px;
  }
  .template-404 .main .err h1 {
    font-size: 40px;
  }
  .template-404 .main .svg {
    width: auto;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .template-404 .main .svg svg {
    width: 550px;
  }
  .template-404 .main .err p {
    font-size: 16px;
  }
  .template-404 .main .err h1 {
    font-size: 40px;
  }
  .template-404 .main .svg {
    width: auto;
    margin: 15px;
  }
}

@media (max-width: 599px) and (min-width: 450px) {
  .template-404 .main .svg svg {
    width: 400px;
  }
  .template-404 .main .err p {
    font-size: 16px;
    width: auto;
  }
  .template-404 .main .err h1 {
    width: auto;
    font-size: 40px;
  }
  .template-404 .main .svg {
    width: auto;
    margin: 0;
  }
  .template-404 .main .btn {
    display: flex;
  }
}

@media (max-width: 500px) {
  .error404 {
    .main {
      .svg {
        width: 70%;
        padding: 0;
        padding-top: 100px;
        margin-bottom: 0;
      }

      .err {
        h1 {
          font-size: 40px;
          margin-bottom: 30px;
        }

        p {
          width: 80%;
          font-size: 16px;
          line-height: 27px;
          margin: auto;

          br {
            display: none;
          }
        }
      }
    }
  }
}