.page-template-template-au-bane {
  .hero-content .info-content .img {
    background: url("../images/about/bane.png") no-repeat;
  }
}

.page-template-template-au-brian {
  .hero-content .info-content .img {
    background: url("../images/about/bojan.png") no-repeat;
  }
}

.page-template-template-au-jovan {
  .hero-content .info-content .img {
    background: url("../images/about/jovan.png") no-repeat;
  }
}

.template-au-nenad {
  .hero-content .info-content .img {
    background: url("../images/about/nenad.png") no-repeat;
  }
}

.template-au-sofija {
  .hero-content .info-content .img {
    background: url("../images/about/sofija.png") no-repeat;
  }
}

.template-au-sara {
  .hero-content .info-content .img {
    background: url("../images/about/sara.png") no-repeat;
  }
}

.template-au-ethan {
  .hero-content .info-content .img {
    background: url("../images/about/ethan.png") no-repeat;
  }
}

.template-au-diego {
  .hero-content .info-content .img {
    background: url("../images/about/diego.png") no-repeat;
  }
}

// .template-au-teodora {
//   .hero-content .info-content .img {
//     background: url("../images/about/teodora.png") no-repeat;
//   }
// }

// .template-au-tijana {
//   .hero-content .info-content .img {
//     background: url("../images/about/tijana.png") no-repeat;
//   }
// }

.template-au-ethan,
.page-template-template-au-bane,
.template-au-brian,
.page-template-template-au-jovan,
.template-au-nenad,
.page-template-template-au-diego,
.page-template-template-au-sofija,
.page-template-template-au-sara,
.page-template-template-au-teodora,
.page-template-template-au-tijana {
  header {
    background: #f5f5f5;

    .menu-holder {
      max-width: 1320px;

      @media (max-width: 1600px) {
        max-width: 80%;
      }

      @media (max-width: 600px) {
        max-width: 90%;
      }
    }
  }

  .hero-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5 url("../images/about/lines.svg") bottom no-repeat;

    .info-content {
      margin: auto;
      display: flex;
      max-width: 1320px;
      width: 100%;
      padding: 200px 0 150px 0;
      justify-content: flex-end;

      @media (max-width: 1600px) {
        max-width: 80%;
      }

      @media (max-width: 600px) {
        max-width: 90%;
      }

      .img {
        background-repeat: no-repeat;
        border-radius: 205px;
        background-size: cover;
        width: 291px;
        height: 291px;
      }

      .txt {
        width: 85%;
        position: relative;
        background: #fff;
        padding: 85px 5% 85px 20%;
        border: 1px solid #C7C7C7;
        box-shadow: 0 50px 100px -20px rgba(0, 0, 0, 0.07);
        border-radius: 30px;

        h1 {
          font-family: "Mulish", sans-serif;
          font-size: 40px;
        }

        h2 {
          font-family: "Mulish", sans-serif;
          font-size: 22px;
        }

        .line {
          width: 88px;
          height: 1px;
          background: #898989;
          margin-top: 29px;
          margin-bottom: 22px;
        }

        p {
          font-family: "Mulish", sans-serif;
          font-size: 18px;
          margin-bottom: 30px;
        }

        .img-wrapper {
          width: 332px;
          height: 332px;
          border-radius: 100%;
          border: 2px solid #1994ff;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 0;
          top: 50%;
        }
      }

      .svg {
        display: flex;
        // justify-content: space-around;
        width: 200px;

        a {
          margin-right: 20px;

          &:last-of-type {
            margin-right: 0;
          }
        }

        .insta {
          background: #f5f5f5;
          width: 50px;
          height: 50px;
          border-radius: 82px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s;

          &:hover {
            background: #d8d8d8;
            width: 60px;
            height: 60px;
            border-radius: 82px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &:active {
            background: #bbb;
            width: 60px;
            height: 60px;
            border-radius: 82px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .wrepper {
    width: 100%;
    padding: 200px 0 300px 0;
    background: #fafafa url("../images/about/project-lines.svg") 0 bottom no-repeat;

    .wrap-box {
      max-width: 1320px;
      margin: auto;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1600px) {
        max-width: 80%;
      }

      @media (max-width: 600px) {
        max-width: 90%;
      }
    }

    .product {
      max-width: 460px;
      padding-right: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .product-content {
        display: flex;
        flex-direction: column;

        &:first-of-type {
          margin-bottom: 50px;
        }

        svg {
          margin-right: 20px;
        }

        .title {
          display: flex;

          .box {
            display: flex;
            flex-direction: column;
          }
        }
      }

      h1 {
        display: inline;
        font-family: "Lora", serif;
        font-size: 40px;
        border-bottom: 1px solid #898989;
        padding-bottom: 7px;
      }

      p {
        font-size: 16px;
        padding-top: 22px;
        font-variation-settings: 'wght' 300;
      }
    }

    .project {
      max-width: 610px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .log {
    width: 100%;
    background-color: #f5f5f5;
    background-image: url("../images/shared/coa.svg");
    background-repeat: no-repeat;
    background-position: bottom;

    .box {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 100px 0;
      margin: auto;

      .ask {
        width: 656px;
        height: 180px;

        h1 {
          font-family: "Lora", serif;
          font-size: 40px;
          line-height: 60px;
        }
      }
    }

    .about-form {
      background: #fff;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
      border-radius: 60px;
      width: 785px;
      padding: 67px 63px;
      margin: auto;

      h4 {
        font-size: 35px;
        line-height: 45px;
        align-self: flex-start;
      }

      .line {
        width: 60px;
        border-bottom: 1px solid #a6a6a6;
        margin: 20px 0 15px 0;
        align-self: flex-start;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Mulish", sans-serif;
        font-variation-settings: 'wght' 500;

        .form-text {
          font-size: 20px;
          line-height: 50px;

          p br {
            display: none !important;
          }

          .about-input {
            background: transparent;
            border: none;
            border-bottom: 1px solid #303030;
            margin: 0 3px;
            height: 40px;
            text-align: center;

            &::placeholder {
              font-size: 16px;
              color: #cbcbcb;
              font-style: italic;
            }

            &:focus {
              outline: none;

              &::placeholder {
                color: transparent;
              }
            }
          }

          #first {
            width: 190px;
          }

          #second {
            width: 180px;
          }

          #third {
            width: 140px;
            text-align: center;
          }

          #fourth {
            width: 210px;
          }

          #phone-num {
            width: 190px;
          }

          p {
            font-size: 20px;
            line-height: 50px;
            color: #303030;
            display: inline;
          }
        }
      }

      .submit-btn {
        width: 156px;
        height: 45px;
        background: #1994ff;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        border: none;
        color: #fff;
        margin-top: 30px;
      }
    }
  }

  @media (max-width: 1600px) {
    .wrepper .project {
      .img {
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .log .box .ask {
      width: auto;

      h1 {
        font-size: 35px;
        max-width: 530px;
      }
    }
  }

  @media (max-width: 1440px) {
    .log .about-form {
      width: 555px;

      form .form-text p br {
        display: inline;
      }
    }
  }

  @media (max-width: 1366px) {
    .wrepper .project {
      width: 585px;

      .img {
        height: 200px;
        width: 380px;
      }
    }

    .log .about-form h4 {
      font-size: 30px;
    }
  }

  @media (max-width: 1112px) {
    .wrepper {
      .wrap-box {
        flex-direction: column;

        .product {
          height: auto;
          padding: 0 0 50px 0;
          max-width: 100%;
        }
      }

      .project {
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
      }
    }

    .hero-content {
      height: auto;
      padding: 70px 0;

      .info-content {
        padding: 200px 0 50px 0;

        .txt {
          flex-direction: column;
          display: flex;
          margin-top: 30px;
          padding-left: 25%;

          .line {
            margin-top: 12px;
          }
        }
      }
    }

    .log .box {
      flex-direction: column;

      .ask {
        height: auto;
        padding-bottom: 30px;
      }
    }

    .log .about-form {
      width: 785px;

      form .form-text {
        p br {
          display: none !important;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .hero-content {
      .info-content {
        padding-top: 200px;

        .txt {
          padding: 200px 5% 85px 5%;
          align-items: center;
          width: 100%;

          p {
            text-align: center;
          }

          .img-wrapper {
            left: 50%;
            top: 0;
          }
        }

        .svg {
          width: unset;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .log .about-form {
      width: 90%;

      form .form-text #fourth {
        width: 260px;
      }
    }
  }

  @media (max-width: 800px) {
    .hero-content .info-content {
      padding: 200px 0 10% 0;

      .txt {
        padding: 160px 5% 55px 5%;

        p {
          width: initial;
        }

        .img-wrapper {
          width: 252px;
          height: 252px;

          .img {
            width: 212px;
            height: 212px;
          }
        }
      }
    }

    .log .about-form {
      width: 100%;

      form .form-text #third {
        width: 115px;
      }
    }

    .wrepper {
      padding: 10% 0 220px 0;

      .project {
        background: transparent;
        width: initial;
        height: auto;
        box-shadow: none;
        padding: 0;

        .img {
          background-image: url("../images/about/projects.svg");
          height: 361px;
          margin: -36px;
          width: 350px;
        }
      }

      .product {
        h1 {
          font-size: 30px;
        }

        svg {
          width: 55px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .log .about-form {
      padding: 40px 50px;
      border-radius: 10px;

      h4 {
        font-size: 22px;
        line-height: 28px;
      }

      form .form-text #phone-num {
        width: 170px;
      }
    }

    .hero-content .info-content {
      width: 90%;
      padding-top: 160px;

      .txt .line {
        margin-top: 9px;
      }
    }
  }

  @media (max-width: 480px) {
    .log {
      padding: 40px 0;

      .about-form {
        align-items: flex-start;
        padding: 40px 22px;

        form .form-text {
          font-size: 14px;

          .about-input {
            height: 40px;
            font-size: 16px;

            &::placeholder {
              font-size: 14px;
            }
          }

          #first {
            width: 148px;
          }

          #second {
            width: 141px;
          }

          #third {
            width: 82px;
            text-align: center;
          }

          #fourth {
            width: 174px;
          }
        }

        h4 {
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 12px !important;
        }

        .line {
          display: block !important;
          margin-bottom: 15px;
          width: 60px;
        }

        p:last-of-type {
          width: 100%;
        }
      }

      .about-form .submit-btn {
        width: 100%;
      }

      .box {
        padding: 0;

        .ask h1 {
          font-size: 25px;
          line-height: 40px;
          text-align: center;
        }
      }
    }

    .hero-content .info-content {
      border-radius: 30px;

      .txt {
        h1 {
          font-size: 20px;
        }

        h2 {
          font-size: 16px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 414px) {
    .log .box .ask {
      width: 90%;
    }
  }
}
