.template-about {
  header {
    width: 100%;
    z-index: 100;

    .menu-holder {
      max-width: 1520px;

      @media (max-width: 1700px) {
        max-width: 90%;
      }
    }
  }

  .title {
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 33px;
    font-family: "Lora", serif;
    font-variation-settings: 'wght' 500;
  }

  .line {
    width: 88px;
    border-top: 1px solid #898989;
    margin-bottom: 30px;
  }

  .about-header {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", serif;
    font-variation-settings: 'wght' 500;
    position: relative;
    background: #fafafa url("../images/about/hero-lines.svg") 50% 45% no-repeat;

    @media (max-width: 480px) {
      height: auto;
      padding: 90px 0 110px 0;
      background: #fafafa url("../images/shared/mobile.svg") center 93% no-repeat;
    }

    h1 {
      font-size: 60px;
      line-height: 77px;
      color: #323232;
      z-index: 5;
      position: relative;
    }

    .bg-phone {
      display: none;
    }

    .bg-desktop {
      position: absolute;
      z-index: 0;
      width: 100%;
      top: 20%;

      svg {
        width: 100%;
      }
    }
  }

  .experts {
    max-width: 1500px;
    margin: auto;
    padding-top: 70px;
    //padding-bottom: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .team-text {
      display: flex;
      flex-direction: column;
      width: 850px;
      padding-top: 30px;
      margin: auto;
      text-align: center;

      p {
        font-size: 18px;
        line-height: 30px;
        font-family: "Mulish", sans-serif;
        font-variation-settings: 'wght' 500;
      }

      .line {
        margin: auto;
        margin-bottom: 31px;
      }
    }

    .personnel {
      margin: auto;
      margin-top: 150px;
      max-width: 1320px;
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;

      .person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 21%;
        margin-bottom: 125px;
        position: relative;

        a.person-img {
          z-index: 20;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 0;
          width: 167px;
          height: 167px;

          img {
            filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.25));
          }
        }

        .person-full {
          background: #F5F5F5;
          border-radius: 20px;
          padding: 100px 0 30px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          h6 {
            text-align: center;
          }

          p {
            text-align: center;
          }

          .name {
            padding-top: 20px;
            font-variation-settings: 'wght' 500;
            font-size: 20px;
            line-height: 24px;
            font-family: "Mulish", sans-serif;
          }

          .role {
            font-size: 16px;
            line-height: 24px;
          }

          .socials {
            justify-content: space-between;
            margin: auto;
            min-height: 44px;

            a {
              display: inline-block;
            }

            .insta:hover {
              circle {
                fill: #c13584;
              }

              svg path {
                fill: #fff;
              }
            }

            .linkedin:hover {
              circle {
                fill: #0077b5;
              }

              svg path {
                fill: #fff;
              }
            }

            .behance:hover {
              circle {
                fill: #115efa;
              }

              svg path {
                fill: #fff;
              }
            }

            .github:hover {
              circle {
                fill: #000;
              }

              svg path {
                fill: #fff;
              }
            }
          }
        }

        .person-img {
          img {
            border-radius: 100px;
            width: 180px;
            padding: 8px;
          }

          .red {
            border: 1px solid #ED462F;
          }

          .yellow {
            border: 1px solid #FFE500;
          }

          .orange {
            border: 1px solid #FFB000;
          }

          .blue {
            border: 1px solid #1994FF;
          }
        }

        .even {
          justify-content: space-evenly;
        }
      }
    }
  }

  .productivity {
    width: inherit;
    height: 970px;
    padding: 80px 0;
    background: #fafafa url("../images/shared/lines2.svg") 50% 95% no-repeat;
    background-size: contain;
    display: flex;
    position: relative;
    // margin-bottom: 50px;

    .img-frame {
      position: absolute;
      left: 14%;
      margin-top: 13px;

      img {
        width: 100%;
      }
    }

    .decade {
      padding: 70px 125px 120px 115px;
      width: 900px;
      //background: #fff;
      //box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
      //border-radius: 60px;
      margin-left: 50px;
      position: absolute;
      right: 8%;
      line-height: 27px;

      p {
        font-family: "Mulish", sans-serif;
        font-variation-settings: 'wght' 300;
        font-size: 16px;
        line-height: 22px;
        color: #303030;
        width: 90%;
      }

      .decor {
        position: absolute;
        left: -37px;
        top: 46%;
      }

      .line {
        width: 193px;
        margin-bottom: 40px;
      }

      .last {
        padding-bottom: 40px;
      }

      .see-more {
        display: none;
      }

      a {
        font-size: 22px;
        line-height: 27px;
        color: #007be7;
        height: 27px;
        font-variation-settings: 'wght' 400;
        margin-top: 40px;
        display: block;

        svg {
          margin-left: 13px;
        }
      }
    }
  }

  .clients {
    padding: 120px 0 140px 0;
    max-width: 1390px;
    margin: auto;

    .partner {
      line-height: 30px;
      margin-bottom: 90px;
      font-family: "Mulish", sans-serif;
      font-variation-settings: 'wght' 500;
    }
  }

  .clients-frame,
  .clients-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .client {
      width: 210px;
      margin: 60px 0;
      display: flex;
      justify-content: center;

      svg {
        filter: sepia(0%) saturate(112%) hue-rotate(161deg) brightness(89%) contrast(5%) grayscale(20);

        &:hover {
          filter: unset;
        }
      }
    }
  }

  .clients-mobile {
    display: none;
  }

  .project {
    padding-top: 80px;
    width: inherit;
    background: #fafafa;

    .top-div {
      width: 1480px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        width: 46%;
        font-variation-settings: 'wght' 400;
      }

      .text-big {
        font-size: 40px;
        line-height: 58px;
        font-family: "Lora", serif;
        font-variation-settings: 'wght' 500;
      }

      .text-sm {
        font-size: 16px;
        line-height: 27px;
        display: inline;
        font-family: "Mulish", sans-serif;
        font-variation-settings: 'wght' 500;
      }

      .line-ver {
        height: 135px;
        border-right: 1px solid #898989;
      }
    }
  }

  .about-form {
    width: inherit;
    padding: 80px 0;
    background: #fafafa url("../images/shared/lines.svg") 50% no-repeat;

    form {
      max-width: 835px !important;
      background: #fff;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
      border-radius: 60px;
      padding: 60px 80px;

      h5,
      .form-body {
        text-align: left !important;
      }

      h5 {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -12px;
          width: 60px;
          border-top: 1px solid #a6a6a6;
        }
      }
    }
  }

  @media (max-width: 1800px) {
    .productivity {
      .decade {
        width: 870px;
        right: 7%;
      }
    }

    .clients {
      width: 1310px;
    }

    .project {
      .top-div {
        width: 1430px;
      }
    }
  }

  @media (max-width: 1680px) {
    .productivity {
      background-position: 50% 100%;

      .img-frame {
        left: 11%;
      }
    }

    .clients {
      width: 1240px;

      .clients-frame {
        .client {
          width: 180px;
        }
      }
    }

    .project {
      .top-div {
        width: 1350px;
      }
    }
  }

  @media (max-width: 1600px) {
    .productivity {
      height: 944px;

      .decade {
        width: 890px;
        top: 13%;
        right: 0%;
      }

      .img-frame {
        width: 45%;
        left: 13%;
        top: 18%;
      }
    }

    .clients {
      width: 1150px;
    }

    .project {
      .top-div {
        width: 1330px;
      }
    }
  }

  @media (max-width: 1560px) {

    .experts,
    .clients,
    .project .top-div {
      width: 81%;
    }

    .clients-frame {
      justify-content: center;
    }

    .clients {
      width: 1100px;

      .clients-frame {
        .client {
          width: 180px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .experts {
      flex-direction: column;
      padding-bottom: 60px;

      .team-text {
        width: auto;

        p {
          width: 80%;
          margin: auto;
        }
      }

      .personnel {
        padding: 60px 0 0 0;

        .person {
          width: 22%;

          .person-img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }

    .productivity {
      background-position: 50% 94%;

      .img-frame {
        width: 41%;
      }

      .decade {
        top: 6%;
        width: 870px;
      }
    }

    .clients {
      padding-bottom: 70px;
      width: 1140px;

      .clients-frame {
        .client {
          width: 190px;
        }
      }
    }
  }

  @media (max-width: 1366px) {
    .productivity .img-frame {
      left: 10%;
    }

    .productivity {
      .decade {
        h4 {
          font-size: 36px;
        }
      }
    }

    .clients-frame {
      justify-content: space-around;
    }

    .clients {
      width: 1100px;

      .clients-frame {
        .client {
          width: 170px;
        }
      }
    }

    .project {
      .top-div {
        .text-big {
          font-size: 36px;
          line-height: 52px;
          width: 48%;
        }

        .line-ver {
          height: 228px;
        }
      }
    }
  }

  @media (max-width: 1285px) {
    .productivity {
      height: 1020px;

      .decade {
        width: 825px;
        top: 5.5%;
        padding: 90px 105px 80px 95px;
      }

      .img-frame {
        width: 38%;
      }
    }

    .clients {
      width: 1030px;

      .clients-frame {
        .client {
          width: 180px;
        }
      }
    }
  }

  @media (max-width: 1213px) {
    .experts {
      .personnel {
        justify-content: space-around;

        .person {
          width: 260px;
        }
      }
    }

    .clients {
      width: 950px;

      .clients-frame  {
        .client {
          width: 165px;
        }
      }
    }
  }

  @media (max-width: 1112px) {
    .experts {
      padding-top: 10%;

      .personnel {
        justify-content: space-around;

        .person {
          width: 45%;

          .person-img {
            width: 80% !important;

            img {
              display: block;
              margin: auto;
            }
          }

          .role {
            height: 20px;
          }

          .name,
          .role {
            text-align: center;
          }
        }
      }
    }

    .productivity {
      height: auto;
      background-position: top;
      background-size: auto;
      flex-direction: column;
      align-items: center;

      .img-frame {
        position: static;
        width: 550px;
      }

      .decade {
        width: 96%;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;

        .decor {
          transform: translate(-50%);
          left: 50%;
          top: -37px;
        }
      }
    }

    .clients {
      padding-top: 30px;
      width: 885px;
    }

    .project .top-div .text-big {
      font-size: 32px;
      line-height: 42px;
    }
  }

  @media (max-width: 1070px) {
    .clients {
      width: 850px;

      .clients-frame {
        .client {
          width: 200px;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .clients {
      width: 780px;
      padding-bottom: 30px;

      .clients-frame {
        .client {
          width: 160px;

          svg:first-of-type {
            display: none !important;
          }

          .d-none {
            display: block !important;
            filter: unset;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .productivity {
      .img-frame {
        width: 500px;
      }

      .decade {
        width: 96%;

        p {
          width: 95%;
        }
      }
    }

    .about-form form {
      max-width: 90% !important;
      padding: 5%;
    }

    .clients {
      width: 690px;

      .clients-frame {
        .clent {
          width: 190px;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .project .top-div {
      flex-direction: column;
      align-items: flex-start;
      width: 90% !important;

      .text-big {
        width: 70%;
      }

      .text-sm {
        width: 95%;
      }

      .line-ver {
        height: 0;
        width: 180px;
        border-right: none;
        border-top: 1px solid #303030;
        margin: 20px 0;
      }
    }

    .clients {
      width: 610px;

      .clients-frame {
        .client {
          width: 140px;
        }
      }
    }

    .clients-frame .client {
      justify-content: center;
    }

    .clients .partner {
      margin-bottom: 20px;
    }

    .productivity {
      .decade {
        h4 {
          font-size: 32px;
        }
      }
    }
  }

  @media (max-width: 750px) {
    .clients {
      width: 550px;

      .clients-frame {
        .client {
          width: 120px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .title {
      font-size: 25px;
      line-height: 38px;
    }

    .experts .team-text p {
      width: 100%;
    }

    .experts .personnel .person .role {
      height: auto;
    }

    .experts {
      width: 90%;

      .clients-frame {
        display: none;
      }

      .clients-mobile {
        display: flex;
        justify-content: space-around;

        .client {
          width: 100px;
          justify-content: center;
        }
      }

      .project .top-div .text-big {
        width: 83%;
      }
    }

    .about-form form {
      padding: 5%;
      border-radius: 10px;

      h5 {
        font-size: 26px !important;
      }
    }

    .productivity {
      background: #f5f5f5;

      .decade {
        width: 90%;
        margin: auto;
        padding: 0 0 10% 0;

        p {
          width: 100%;
        }
      }

      .img-frame {
        width: 100% !important;
      }
    }

    .clients {
      width: 90% !important;
      margin: auto;
      padding: 10% 0 !important;

      .title {
        margin-bottom: 12px;
      }

      .clients-frame {
        .client {
          margin-top: 30px;
          margin-bottom: 30px;
          width: 100px;
        }
      }
    }

    .project {
      .top-div {
        width: 71%;

        .text-big {
          width: 85%;
        }

        .text-sm {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .productivity {
      padding-top: 0;

      .img-frame {
        .img-iphone {
          display: none !important;
        }

        .d-none {
          display: block !important;
        }
      }
    }

    .experts {
      .personnel {
        .person {
          padding-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .about-header h1 {
      position: relative;
      z-index: 2;
      font-size: 40px;
      line-height: 125%;
      color: #323232;
    }

    .about-header .bg-phone {
      display: block;
      position: absolute;
      width: 100%;
      top: 20%;
      z-index: 0;

      svg {
        width: 100%;
      }
    }

    .about-header .bg-desktop {
      display: none;
    }

    .experts {
      padding-bottom: 0;

      .personnel {
        .person {
          a.person-img {
            height: auto !important;
          }

          .person-full {
            padding-top: 40%;
          }
        }
      }

      .team-text {
        padding-top: 0;
      }
    }

    .decade {
      border-radius: 30px !important;

      .hide {
        display: none;
      }

      .see-more,
      .first {
        display: inline !important;
      }

      .see-more {
        line-height: 27px !important;
        font-size: 16px !important;
        font-variation-settings: 'wght', 300 !important;
      }
    }

    .productivity {
      padding: 0;
      margin: 0;

      .decade {
        .last {
          padding-bottom: 0;
        }

        a {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }

    .project {
      padding-top: 43px;

      .top-div {
        width: 90%;

        .text-big {
          font-size: 25px;
          line-height: 40px;
        }

        .text-sm {
          font-size: 14px;
        }
      }
    }

    .clients {
      padding-bottom: 20px;
      width: 370px;
    }

    .about-form form {
      h5 {
        font-size: 22px !important;
        line-height: 28px !important;
      }
    }
  }

  @media (max-width: 414px) {
    .productivity .decade {
      padding: 45px 0;

      h4 {
        font-size: 25px;
      }
    }

    .experts .team-text p {
      font-size: 16px;
    }

    .experts .personnel {
      padding-top: 30px;

      .person {
        .person-img {
          width: 130px;
          height: 130px;
        }

        .person-full {
          .name {
            font-size: 15px;
            font-variation-settings: 'wght' 500;
            line-height: 18px;
          }
  
          .role {
            font-size: 14px;
            line-height: 24px;
            color: #303030;
          }
  
          .socials {
            svg {
              width: 33px;
            }
          }
        }
      }
    }

    .clients-mobile .client {
      margin: 25px 0;
    }

    .clients {
      width: 330px;
    }

    .about-form {
      padding-top: 30px;
    }
  }

  @media (max-width: 375px) {
    .clients {
      width: 290px;

      .clients-frame {
        .client {
          width: 80px;
        }
      }
    }
  }

  @media (max-width: 360px) {
    .productivity {
      .img-frame {
        width: 300px;
      }
    }
  }
}
