.page-template-template-blog,
.tag,
.category {
  header {
    width: 100%;

    .menu-holder {
      max-width: 1320px;

      @media (max-width: 1440px) {
        max-width: 80%;
      }
    }
  }

  .hero {
    width: 100%;
    height: 360px;
    background-color: #fafafa;
    background-image: url("../images/blog/hero.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 110px;

    h1 {
      font-size: 60px;
      line-height: 77px;
      font-family: "Lora", serif;
      font-variation-settings: 'wght' 500;
      padding-top: 130px;
    }
  }

  .content-holder {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: auto;

    @media (max-width: 1440px) {
      max-width: 80%;
    }
  }

  .right {
    width: 25%;
    height: 1000px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      max-width: 100%;
      height: auto;
    }

    .marketing-audit {
      margin-bottom: 50px;
    }

    .first-issue-image {
      margin-bottom: 50px;
    }

    .platinum-text {
      width: 100%;
      margin-bottom: 43px;
    }

    .platinum-form {
      width: 100%;
      height: 219px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
      border-radius: 20px;
      margin-bottom: 40px;
      display: none;

      form {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px 28px;
        justify-content: space-between;

        label {
          font-size: 26px;
          margin: 0;
          line-height: 39px;
          font-family: "Lora", serif;
          font-variation-settings: 'wght' 500;
        }

        #platinum-edition {
          height: 43px;
          color: #b1b1b1;
          font-size: 16px;
          line-height: 24px;
          border: 1px solid #dedede;
          box-sizing: border-box;
          border-radius: 100px;
          outline: none;
          padding-left: 24px;
        }

        #submit-platinum {
          background: #1994ff;
          border-radius: 100px;
          width: 143px;
          height: 42px;
          border: 1px solid #1994ff;
          color: #fff;

          &:hover {
            background: #fff;
            color: #1994ff;
          }
        }
      }
    }

    .recent-posts {
      p {
        font-size: 26px;
        line-height: 39px;
        font-family: "Lora", serif;
        font-variation-settings: 'wght' 500;
      }

      hr {
        width: 70px;
        margin-left: 0;
      }

      ul {
        padding: 0 0 0 20px;
        max-width: 360px;
        overflow-wrap: break-word;

        li {
          margin-bottom: 14px;

          a {
            color: #323232;

            .title {
              font-size: 16px;
              line-height: 24px;
              color: #323232;
              font-family: "Mulish", sans-serif;
            }
          }
        }
      }
    }
  }

  .blog {
    width: 70%;

    .pagi-other {
      display: none;
    }

    .post-list {
      padding: 0;
      display: flex;
      height: fit-content;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .single-post {
      width: 48%;
      margin: 25px 0;

      &:hover {
        .post-title-wrapper {
          .dots-trending {
            .dots {
              display: none !important;
            }

            .trending {
              display: block !important;
            }
          }
        }
      }

      &:nth-child(3) {
        width: 100%;

        .post-content-wrapper {
          width: 100%;
          height: initial;

          .entry-content {
            width: 90%;
            margin: -40px auto 0 auto;

            h2 {
              min-height: unset !important;
            }
          }

          a img {
            border-radius: 40px;
            width: 100%;
            height: 325px;
          }
        }
      }

      .post-content-wrapper {
        width: 100%;
        height: fit-content;
        
        a img {
          border-radius: 40px;
          width: 100%;
          height: 325px;
          object-fit: cover;
        }

        &:nth-child(3) {
          width: 100%;

          a img {
            width: 100%;
            height: 320px;
            object-fit: cover;
            border-radius: 30px;
          }
        }

        .entry-content {
          background: #fff;
          box-shadow: 0 40px 70px -20px rgba(125, 142, 157, 0.2);
          border-radius: 40px;
          width: 90%;
          height: auto;
          padding: 35px;
          margin: -60px auto 0 auto;
          position: relative;
          bottom: 23px;
          display: flex;
          flex-direction: column;
          min-height: unset;
          border: 1px solid #e2e2e2;

          .post-desc-div {
            font-family: "Mulish", sans-serif;

            p {
              font-size: 16px;
              line-height: 24px;
              color: #323232;
            }

            a {
              font-size: 22px;
              line-height: 27px;
              color: #007be7;
            }
          }

          .time-title {
            overflow-wrap: break-word;

            .time {
              color: #bfbfbf;
              font-size: 18px;
              line-height: 30px;
              font-family: "Mulish", sans-serif;
            }

            h2 {
              flex-grow: 1;
              min-height: 120px;

              .post-title {
                font-size: 26px;
                line-height: 39px;
                font-family: "Lora", serif;
                color: #323232;
              }
            }

            hr {
              width: 72px;
              margin: 22px 0 20px 0;
            }
          }
          
          .post-description {
            overflow-wrap: break-word;
            flex-grow: 1;
          }
        }

        .post-title-wrapper {
          position: relative;

          .dots-trending {
            position: absolute;
            top: 20px;
            left: 15px;
          }
        }
      }
    }

    .container {
      .pagination {
        justify-content: center;
      }
    }

    h3 {
      font-family: Lora, serif;
    }
  }

  .bottom {
    .blog-pagination {
      ul li {
        &.disabled a {
          background: #1994ff;
          border-radius: 1000px;
          color: white;
          outline: none;

          svg path {
            fill: #fff;
          }
        }

        .page-link {
          border: 0;
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease-in;
          color: #303030;
          font-family: "Mulish", sans-serif;
          margin: 0 5px;
          outline: none;
          background: transparent;

          &:hover {
            background: #1994ff;
            border-radius: 1000px;
            color: white;
            outline: none;

            svg path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .page-template-template-blog,
  .tag,
  .category {
    header .menu-holder {
      max-width: 85%;
    }

    .content-holder {
      flex-direction: column;
      max-width: 85%;
  
      .right {
        height: fit-content;
        width: 80%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;

        .first-issue-image {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .marketing-audit {
          .svg-first {
            display: none !important;
          }
 
          .d-none {
            display: block !important;
            width: 100%;
          }
        }
      }
  
      .blog {
        width: 100%;
        flex-direction: column;
      }
    }

    .desktop-pagination {
      display: none;
    }

    .blog .pagi-other {
      display: block;
    }
  }
}

@media (max-width: 1000px) {
  .page-template-template-blog,
  .tag,
  .category {
    .blog {
      .post-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .single-post {
          width: 100%;

          &:nth-child(3) .post-content-wrapper {
            max-width: 100%;

            .entry-content {
              margin: -60px auto 0 auto;
            }
          }

          .post-content-wrapper {
            .entry-content {
              width: 90%;

              .time-title h2 {
                min-height: unset;
              }
            }
          }
        }
      }
    }

    .right {
      .ma-frame,
      .first-issue-image {
        margin: 0 auto 50px auto;
      }
    }
  }
}

@media (max-width: 600px) {
  .page-template-template-blog,
  .tag,
  .category {
    .right {
      .platinum-text,
      .recent-posts {
        margin: auto;
      }

      .recent-posts:last-of-type {
        min-height: 500px;
      }

      .platinum-text {
        margin-bottom: 43px;
      }
    }
  }
}

@media (max-width: 510px) {
  .page-template-template-blog,
  .tag,
  .category {
    .blog {
      .post-list {
        .single-post {
          .post-content-wrapper {
            width: 100%;

            .entry-content {
              width: 90%;
              bottom: initial;
              padding: 30px 7%;
              margin-top: -30px;

              @media (max-width: 360px) {
                width: 100%;
              }
            }

            .post-title-wrapper {
              margin: 0 auto;

              a.post-image-link {
                display: flex;
        
                img {
                  width: 100%;
                  margin: 0 auto;
                  height: auto;
                  border-radius: 30px;
                }
              }
            }
          }

          &:nth-child(3) .post-content-wrapper {
            .entry-content {
              width: 90%;
              padding: 30px 7%;
              margin-top: -30px;

              @media (max-width: 360px) {
                width: 100%;
              }
            }

            .post-title-wrapper {
              a.post-image-link {
                border-radius: 30px;
              }
            }
          }
        }
      }
    }

    .hero {
      background: #fafafa url("../images/shared/mobile.svg") 0 95% no-repeat;
      background-size: contain;
      height: 240px;
      margin: 0 0 50px 0;
      display: block;
      text-align: center;

      h1 {
        font-size: 40px;
        padding-top: 85px;
      }
    }
  }
}

@media (max-width: 480px) {
  .page-template-template-blog,
  .tag,
  .category {
    .content-holder .right {
      width: 90%;
      margin: auto;
  
      .marketing-audit {
        display: none;
      }
  
      .recent-posts {
        width: 100%;
      }
    }

    .mobile-join {
      width: 90%;
      height: 270px;
      background: url("../images/blog/single/audit-m.png") no-repeat;
      background-size: cover;
      margin: 30px auto 40px auto;
    }
  }
}

@media (max-width: 426px) {
  .page-template-template-blog,
  .tag,
  .category {
    .hero h1 {
      font-size: 35px;
      line-height: 45px;
    }

    .blog .post-list .single-post .post-content-wrapper .entry-content .time-title .post-title {
      font-size: 20px;
      line-height: 30px;
    }

    .right {
      .platinum-form form {
        align-items: center;
        width: 95%;
    
        #platinum-edition {
          width: 100%;
        }
      }

      .first-issue-image {
        img {
          width: 100%;
          padding: 0 10px;
        }
      }

      .marketing-audit svg {
        width: 100%;
      }
    }
  }
}

.tag,
.category {
  .blog {
    display: flex;
    flex-wrap: wrap;
  }
}