.page-template-template-careers {
  header {
    .container-fluid {
      padding: 0;

      .menu-holder {
        max-width: 1320px !important;

        @media (max-width: 1500px) {
          max-width: 80% !important;
        }

        nav .regular-menu ul li:first-of-type a {
          margin-left: 0;
        }
      }
    }
  }

  .container {
    max-width: 1320px;
    padding: 0;

    @media (max-width: 1500px) {
      max-width: 80% !important;
    }
  }

  .title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .hero {
    padding: 125px 0 140px 0;
    background: #fafafa url('../images/careers/hero-careers.svg') center 85% no-repeat;

    .container {
      h1 {
        font-size: 60px;
        line-height: 75px;
        text-align: center;

        span {
          font-variation-settings: 'wght' 700;;
        }
      }
    }
  }

  .offer {
    background: url('../images/careers/offer-lines.svg') 0 90% no-repeat;
    padding: 200px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text-wrap {
        max-width: 480px;

        a {
          color: #007be7;
          font-size: 22px;
        }

        p {
          font-size: 18px;
        }

        .title {
          font-size: 40px;
          margin-bottom: 0; 
        }

        .line {
          width: 100px;
          border-top: 1px solid #898989;
          margin: 35px 0 30px 0;
        }
      }

      .img-wrap {
        filter: drop-shadow(0px 50px 100px rgba(0, 0, 0, 0.25));
      }
    }
  }

  .benefits {
    background: #f9f9f9;
    padding: 180px 0 300px 0;

    .title {
      text-align: center;
    }

    .line {
      border-top: 1px solid #898989;
      width: 120px;
      margin: 23px auto 100px auto;
    }

    .container {
      display: flex;
      justify-content: space-between;

      .item {
        position: relative;

        .desc {
          position: absolute;
          transform: translate(-50%, 50%);
          bottom: 0;
          left: 50%;
          background: #fff;
          text-align: center;
          padding: 35px 0;
          width: 80%;
          box-shadow: 0 50px 50px -10px rgba(0, 0, 0, 0.07);
          border-radius: 30px;

          p {
            margin: 0;
            font-size: 24px;
            line-height: 44px;
          }

          .dot {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 0;
            width: 28px;
            height: 28px;
            border-radius: 100%;
          }
        }
      }
    }
  }

  .careers-section {
    background: #F5F5F5;
    padding: 110px 0 135px 0;

    .title {
      text-align: center;
    }

    .line {
      border-top: 1px solid #898989;
      width: 120px;
      margin: 0 auto 100px auto;
    }

    .container {
      display: flex;
      justify-content: space-between;

      .item {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }

        p {
          font-size: 18px;
          margin: 35px 0 30px 0;
        }

        .line {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .offer {
      padding: 10% 0;
      background-position: 0 130%;

      .container {
        .img-wrap {
          width: 45%;
        }

        .text-wrap {
          padding-right: 30px;
        }
      }
    }

    .benefits {
      padding: 10% 0 15% 0;

      .container {
        flex-wrap: wrap;
        justify-content: space-around;

        .item {
          width: 30%;
          display: flex;
          justify-content: center;

          &:last-of-type {
            margin-top: 160px;
          }
        }
      }
    }

    .careers {
      padding: 10% 0;
    }
  }

  @media (max-width: 1150px) {
    .benefits {
      padding-bottom: 20%;

      .container .item {
        width: 50%;
        align-items: flex-end;
  
        &:last-of-type {
          margin-top: 220px;
        }
  
        .desc {
          bottom: -50px;
        }
  
        img {
          width: 286px;
          height: 226px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .offer {
      background-position: 0 80%;

      .container {
        flex-direction: column;

        .img-wrap {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .text-wrap {
          max-width: 100%;
          padding: 0;
          margin-bottom: 80px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .careers-section {
      .container {
        flex-wrap: wrap;

        .item {
          width: 50%;

          &:last-of-type,
          &:nth-of-type(3) {
            margin-top: 120px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    header {
      .container-fluid {
        padding: 0 15px !important;
      }
    }

    .benefits {
      .container {
        .item {
          width: 100%;
          margin-bottom: 200px;

          &:last-of-type {
            margin-top: 0;
          }

          .desc {
            width: 260px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 25px !important;
      line-height: 32px !important;
    }

    .container {
      max-width: 90%;
    }

    p {
      font-size: 15px;
    }

    .hero {
      padding: 90px 0 120px 0;
      background: #fafafa url('../images/careers/lines-mob.svg') 0 40px no-repeat;
      background-size: cover;

      .container {
        h1 {
          font-size: 40px;
          line-height: 51px;
        }
      }
    }

    .offer {
      padding: 15% 0;
      background-position: 0 95%;

      .container {
        .text-wrap {
          margin-bottom: 40px;

          .line {
            margin: 18px 0 20px 0;
          }
        }
      }
    }

    .benefits {
      .line {
        margin-bottom: 60px;
      }
    }

    .careers-section {
      .line {
        margin-bottom: 70px;
      }

      .container {
        .item {
          width: 100%;
          margin: 0 0 50px 0 !important;

          &:last-of-type {
            margin: 0 !important;
          }
        }
      }
    }
  }
}