.template-careers-cw {
  .hero {
    background-image: url("../images/careers/writer-cover.png");
  }
}

.template-careers-des {
  .hero {
    background-image: url("../images/careers/writer-cover.png");
  }
}

.template-careers-dev {
  .hero {
    background-image: url("../images/careers/dev-cover.png");
  }
}

.template-careers-dm {
  .hero {
    background-image: url("../images/careers/marketing-cover.png");
  }
}

.template-careers-cw,
.template-careers-des,
.template-careers-dev,
.template-careers-dm,
.page-template-template-careers-cripto-cw {
  .hero {
    width: 100%;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 77px;
    padding: 50px 0 0 0;
    h1 {
      font-family: "Lora", serif;
      font-size: 60px;

      @media (max-width: 600px) {
        br {
          display: none;
        }
      }
    }
    a {
      // width: 239px;
      width: 100px;
      height: 45px;
      background: #1994ff;
      border-radius: 100px;
      color: #fff;
      text-decoration: none;
      padding: 14px 35px;
      font-family: "Mulish", sans-serif;
      font-size: 16px;
      &:hover,
      &:active {
        background-color: #fff;
        color: #1994ff;
        border: 1px solid #1994ff;
      }
    }
    .bgImg {
      background-image: url("../images/careers/lines.svg");
      width: 100%;
      height: 280px;
      background-repeat: no-repeat;
      background-position: center;
      .anm {
        text-align: center;
        line-height: 20px;
        padding: 50px;
        a {
          scroll-behavior: smooth;
          background-color: #f6f6f6;
          display: block;
          margin: auto;
          &:active,
          &:hover {
            border: 1px solid #f6f6f6;
          }
        }
        p {
          font-family: "Mulish", sans-serif;
          font-size: 16px;
          line-height: 20px;
          color: #878787;
        }
      }
    }
  }
  .wrepper {
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 70px;
    .left {
      h2 {
        font-family: "Lora", serif;
        font-size: 40px;
        max-width: 450px;
        margin-bottom: 35px;
        line-height: 65px;
      }
      .line {
        width: 127px;
        height: 1px;
        background-color: #898989;
        opacity: 0.7;
      }
    }
    .right {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      font-family: "Mulish", sans-serif;
      font-size: 16px;
      line-height: 28px;
      max-width: 700px;
      padding-top: 14px;
      .line {
        display: none;
      }
      .ul {
        display: flex;
        font-family: "Mulish", sans-serif;
        color: #6d6d6d;
        .svg {
          svg {
            cursor: pointer;
            display: none;
          }
        }
        h2 {
          font-size: 30px;
          width: 150px;
        }
      }
      .if {
        display: flex;
        font-family: "Mulish", sans-serif;
        color: #6d6d6d;
        .svg {
          h2 {
            width: 150px;
          }
          svg {
            cursor: pointer;
            display: none;
          }
        }
      }
    }
  }
  section {
    height: 850px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .second {
    .container-fluid {
      padding: 0;
    }
    .content-holder {
      max-width: 1800px;
      margin: 0 auto;
      height: 738px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      .upper-content {
        display: flex;
        height: 50%;
        width: 100%;

        .left {
          width: 50%;
          height: 100%;
          background-image: url("../images/careers/1.png");
          background-size: cover;
          background-position: center;
          border-radius: 60px 0 0 0;
        }

        .right {
          width: 50%;
          height: 100%;
          padding-left: 150px;

          hr {
            width: 60px;
            margin-left: 0;
          }

          h2 {
            margin-top: 50px;
            font-size: 40px;
            line-height: 51px;
            font-family: "Lora", serif;
          }

          p,
          a {
            font-family: "Mulish", sans-serif;
          }

          a {
            color: #007be7;
            font-size: 22px;
            line-height: 27px;
          }

          p {
            font-variation-settings: 'wght' 500;
            font-size: 18px;
            line-height: 30px;
          }
        }
      }

      .bottom-content {
        display: flex;
        height: 50%;
        width: 100%;

        .left {
          width: 50%;
          height: 100%;
          padding-left: 140px;

          hr {
            width: 60px;
            margin-left: 0;
          }

          p,
          a {
            max-width: 558px;
            font-family: "Mulish", sans-serif;
          }

          h2 {
            margin-top: 60px;
            font-size: 40px;
            line-height: 51px;
            font-family: "Lora", serif;
            font-variation-settings: 'wght' 500;
            max-width: 558px;
          }

          a {
            color: #007be7;
            font-size: 22px;
            line-height: 27px;
          }

          p {
            font-size: 18px;
            line-height: 30px;
            font-family: "Mulish", sans-serif;
            font-variation-settings: 'wght' 500;
          }
        }

        .right {
          width: 50%;
          height: 100%;
          background-image: url("../images/careers/2.png");
          background-size: cover;
          background-position: center;
          border-radius: 0 0 60px 0;
        }
      }

      .circle-dots {
        position: absolute;
      }
    }
  }
  .from-content {
    width: 100%;
    padding: 95px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-around;
    background-image: url("../images/careers/lines.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    .title {
      margin-top: 129px;
      h2 {
        width: 829px;
        font-family: "Lora", serif;
        font-size: 40px;
        line-height: 60px;
      }
      .line {
        width: 111px;
        height: 1px;
        background: #a6a6a6;
        margin: 30px 0;
      }
    }
    .form {
      width: 483px;
      background-color: #fff;
      box-shadow: 0 4px 35px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      padding: 30px 38px;
      p {
        margin-top: 9px;
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-variation-settings: 'wght' 500;
        font-size: 16px;
        line-height: 20px;
      }
      input {
        width: 407px;
        height: 40px;
        border: 1px solid #dedede;
        box-sizing: border-box;
        border-radius: 10px;
        padding-left: 5px;
      }
      .apply {
        width: 188px;
        height: 45px;
        background: #1994ff;
        border-radius: 100px;
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        &:hover,
        &:active {
          border: 1px solid #1994ff;
          color: #1994ff;
          background: #fff;
        }
      }
      .insade {
        width: 407px;
        height: 134px;
        border: 1px dashed #dedede;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .digimoni {
          border: none;
          width: 230px;
        }

        h4 {
          font-family: "Mulish", sans-serif;
          font-style: normal;
          font-variation-settings: 'wght' 500;
          font-size: 16px;
          cursor: pointer;
        }
        .blue {
          color: #1994ff;
        }
        .default {
          cursor: default;
        }
      }
    }
  }

  @media (max-width: 1600px) {
    .from-content .title {
      margin-top: 0;
    }
  }

  @media (max-width: 1440px) {
    .wrepper .right {
      max-width: 600px;
    }

    .from-content .title h2 {
      height: auto;
      width: 600px;

      br {
        display: none;
      }
    }
  }

  @media (max-width: 1366px) {
    .from-content {
      flex-direction: column;

      .title {
        margin-top: 0;

        h2 {
          max-width: 829px;
          width: auto;
        }
      }

      .form {
        align-self: center;
        margin-top: 50px;
      }
    }
  }

  @media (max-width: 1280px) {
    .wrepper {
      flex-direction: column;
      
      .right {
        max-width: initial;

        .ul,
        .if {
          flex-direction: column;

          .svg {
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
              margin: 0;
            }

            #up,
            #up2 {
              display: inline;
            }
          }

          ul {
            padding-top: 20px;
          }
        }

        .line {
          width: 100%;
          background-color: #eaeaea;
          height: 1px;
          display: inline;
        }
      }

      .left {
        .line {
          margin-bottom: 30px;
        }

        h2 {
          margin-bottom: 15px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .second {
      height: auto;

      .content-holder {
        height: auto;
        padding-top: 60px;
  
        .circle-dots {
          display: none;
        }
  
        .upper-content,
        .bottom-content {
          flex-direction: column;
          height: auto;
  
          .left,
          .right {
            width: initial;
          }
        }
  
        .upper-content {
          .right {
            padding: 0 10%;
            padding-bottom: 30px;
            margin-top: -80px;
            border-radius: 30px;
            background: #fff;
          }
  
          .left {
            height: 375px;
            background-position: bottom;
            border-radius: 30px 30px 0 0;
          }
        }
  
        .bottom-content {
          .left {
            padding: 0 10%;
            padding-bottom: 70px;
            margin-top: -80px;
            border-radius: 30px;
            background: #fff;
          }
  
          .right {
            height: 375px;
            background-position: bottom;
            order: -1;
            border-radius: 30px 30px 0 0;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .from-content {
      padding: 60px 10%;

      .form {
        width: 80%;

        input,
        .insade {
          width: 100%;
        }
      }
    }

    .wrepper {
      max-width: 90%;
    }

    .hero {
      height: 600px;
      padding: 150px 0 0 0;

      h1 {
        font-size: 45px;
        line-height: 55px;
      }

      .bgImg {
        background-position: center 70%;
      }
    }
  }

  @media (max-width: 600px) {
    .hero {
      h1 {
        font-size: 40px;
        line-height: 125%;
        width: 85%;
        margin: auto;

        @media (max-width: 420px) {
          font-size: 35px;
          line-height: 45px;
        }
      }
    }

    .wrepper {
      .right {
        .ul,
        .if {
          .svg {
            padding: 10px 0;
          }

          ul {
            padding-inline-start: 20px;
          }
        }
      }

      .left h2 {
        font-size: 30px;
        line-height: 45px;
      }
    }

    .from-content .form {
      width: 90%;
    }

    .from-content .title h2 {
      font-size: 30px;
      line-height: 45px;
    }
  }

  @media (max-width: 480px) {
    .from-content {
      .form {
        width: 100%;
        margin-top: 20px;

        p {
          &:last-of-type {
            width: 100%;
          }
        }
      }

      .title h2 {
        font-size: 22px;
        line-height: 32px;
      }
    }

    .second .content-holder {
      .upper-content,
      .bottom-content {
        .left,
        .right {
          h2 {
            font-size: 25px;
            line-height: 32px;
          }

          p {
            font-size: 14px;
            line-height: 25px;
          }

          a {
            font-size: 15px;
            line-height: 18px;
          }
        }
      }
    }

    .wrepper .left h2 {
      font-size: 25px;
      line-height: 40px;
    }
  }
}