.template-contact_us {
  .main {
    width: 100%;
    z-index: 10;
    .hero {
      background-image: url('../images/contact/lines.svg'), linear-gradient(180deg, #F9F9F9 0%, rgba(249, 249, 249, 0) 100%);
      background-position: bottom;
      background-repeat: no-repeat;
      padding: 100px 0 300px 0;
    }
    .title-content {
      padding-top: 70px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .line {
        width: 79px;
        border-top: 1px solid #a6a6a6;
        margin-top: 15px;
        margin-bottom: 21px;
        margin-left: auto;
        margin-right: auto;
        z-index: 11;
      }
      h1 {
        font-family: "Lora", serif;
        font-variation-settings: 'wght' 500;
        font-size: 70px;
      }
      p {
        font-family: "Mulish", sans-serif;
        font-weight: normal;
        font-size: 25px;
      }
    }
    .link-content {
      margin: 70px auto 0;
      width: 770px;
      display: flex;
      justify-content: space-between;
      .call {
        width: 290px;
        height: 70px;
        background: #f4f4f4;
        border-radius: 35px;
        display: flex;
        align-items: center;
        position: relative;
        transition: 5s;

        .svg-frame {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 72.95px;
          height: 70px;
          background: #fff;
          border-radius: 100px;
          transition: 1.5s;
          z-index: 100;
          box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.15);
        }

        p {
          font-variation-settings: 'wght' 500;
          font-size: 20px;
          line-height: 24px;
          color: #1994ff;
          margin: 0;
          position: absolute;
          left: 100px;
          transition: 1.5s;
        }

        &:hover {
          text-decoration: none;
          
          .svg-frame {
            text-decoration: none;
            transform: translate(300%);
          }

          p {
            text-decoration: none;
            left: 50px;
          }
        }
      }
    }
    #project-form {
      margin-top: 100px;
    }
    .bgImg {
      background-position: top;
      background-repeat: no-repeat;
      width: 100%;
      height: 256px;
    }
    .bottom {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      min-height: 590px;
      background: url('../images/contact/Mask Group.png') right no-repeat;
      background-size: cover;

      h2 {
        font-family: "Lora", serif;
        font-size: 2.5rem;
      }
    }
  }

  header {
    .container-fluid {
      .menu-holder {
        width: 82%;
      }
    }
  }
}

@media (max-width: 800px) {
  .template-contact_us .main .link-content {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .template-contact_us .main form {
    max-width: 90% !important;
  }
}

@media (max-width: 660px) {
  .template-contact_us .main .link-content {
    width: auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .template-contact_us .main .link-content .call {
    margin-bottom: 30px;
  }
  .template-contact_us .main .bottom {
    height: 440px;
    padding: 0 !important;

    h2 {
      display: none;
    }

    hr {
      display: none;
    }
  }
  .template-contact_us .main {
    height: auto;
  }
  .template-contact_us .main .bgImg {
    height: 197px;
    background-position: right;
  }
}

@media (max-width: 600px) {
  .template-contact_us .main {
    .title-content {
      h1 {
        font-size: 50px;
      }

      p {
        font-size: 20px;
      }
    }

    .link-content {
      flex-direction: column;
      align-items: center;
    }

    .bottom {
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 500px) {
  .template-contact_us .main {
    .title-content {
      padding-top: 0;
  
      h1 {
        font-size: 35px;
      }
  
      p {
        font-size: 16px;
      }
    }

    .hero {
      padding-bottom: 200px;
      background-position: center 105%;
    }
  }
  .template-contact_us .main .bottom {
    text-align: center;
    min-height: unset;
    height: auto;
    padding: 10% 0 !important;
  }
  .template-contact_us .main .link-content {
    .call svg {
      width: 176px;
    }

    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .template-contact_us .main .bottom {
    padding-left: 0;
  }
  .template-contact_us .main .title-content h1 {
    font-size: 35px;
  }
  .template-contact_us .main .title-content p {
    font-size: 16px;
  }
}