.page-template-default {
  header {
    width: 100%;
    // position: absolute;
    z-index: 200;
  }

  .page-header {
    width: 100%;
    height: 410px;
    background: #fafafa url("../images/shared/header.svg") 0 95% no-repeat;
    display: flex;
    justify-content: center;

    .title-holder {
      width: 76%;

      h1 {
        font-size: 40px;
        line-height: 60px;
        padding-top: 143px;
        text-align: center;
      }
    }
  }

  .content-holder {
    max-width: 1030px;
    margin: auto;
    padding: 50px 0 80px 0;

    p {
      overflow-wrap: break-word;
      max-width: 1028px;
      margin: 0 auto;
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 24px;
      color: #343434;
      font-family: "Mulish", sans-serif;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 20px;
    }

    ul {
      padding-inline-start: 40px;
    }

    a {
      color: #00e;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      margin: 20px 0;
      max-width: 100%;
    }
  }

  @media (max-width: 1112px) {
    .content-holder {
      max-width: 90%;
    }
  }

  @media (max-width: 800px) {
    .page-header {
      .title-holder {
        width: 90%;
        
        h1 {
          font-size: 34px;
          line-height: 47px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .page-header {
      height: auto;
      padding: 125px 0;
      background: #fafafa url("../images/shared/mobile.svg") 0 93% no-repeat;
      background-size: contain;

      .title-holder {
        h1 {
          padding-top: 0;
        }
      }
    }
  }

  @media (max-width: 360px) {
    .page-header {
      .title-holder {
        h1 {
          font-size: 28px;
          line-height: 34px;
        }
      }
    }
  }
}