.template-hiring {
  .title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 50px;
      line-height: 64px;
    }

    .line-t {
      width: 122px;
      border-top: 1px solid #898989;
    }
  }

  .offer {
    padding: 90px 0 75px 0;
    background: url("../images/shared/lines.svg") center no-repeat;

    .offer-frame {
      width: 1300px;
      height: 525px;
      margin: auto;
      background: #fff;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);
      border-radius: 40px;
      padding: 60px 60px 40px 75px;
      position: relative;

      .offer-text {
        width: 500px;
        font-size: 18px;
        line-height: 34px;

        h2 {
          font-size: 40px;
          line-height: 56px;
          margin-bottom: 30px;
        }

        .line {
          width: 100px;
          border-top: 1px solid #898989;
          margin-bottom: 30px;
        }

        .first {
          width: 80%;
        }

        p {
          margin-bottom: 40px;
        }

        a {
          color: #007be7;
          font-variation-settings: 'wght' 400;
          font-size: 22px;
          line-height: 27px;

          svg {
            margin-left: 15px;
          }
        }
      }

      .offer-img {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .benefits {
    padding: 92px 0 200px 0;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;

    .benefits-wrap {
      display: flex;
      justify-content: space-between;
      width: 1500px;
      padding-top: 95px;

      .benefit {
        position: relative;
        width: 286px;

        img {
          border-radius: 40px;
        }

        .text-box {
          width: 100%;
          background: #fff;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);
          border-radius: 40px;
          padding: 42px 0;
          position: absolute;
          bottom: -80px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          line-height: 44px;

          p {
            width: 70%;
            text-align: center;
            font-variation-settings: 'wght' 400;;
            margin: 0;
          }

          .text-box-sm {
            width: 62%;
          }

          .dot {
            position: absolute;
            transform: translate(-50%);
            left: 50%;
            top: -15px;
          }
        }
      }
    }
  }

  .careers {
    padding: 66px 0 80px 0;
    background: #f5f5f5;

    .career-frame {
      width: 1200px;
      margin: auto;
      padding-top: 60px;
      display: flex;
      justify-content: space-between;

      .career {
        display: flex;
        flex-direction: column;
        align-items: center;

        .job {
          font-size: 30px;
          line-height: 42px;
          font-variation-settings: 'wght' 400;;
          padding: 55px 0;
          text-align: center;
        }
        
        .line {
          width: 122px;
          border: 1px solid #b6b6b6;
        }
      }
    }
  }

  @media (max-width: 1600px) {
    .benefits .benefits-wrap {
      width: 90%;
    }

    .offer .offer-frame {
      width: 90%;
      height: 480px;

      .offer-text {
        h2,
        .line {
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 30px;
        }
      }

      .offer-img {
        width: 600px;
      }
    }
  }

  @media (max-width: 1280px) {
    .offer .offer-frame {
      padding-left: 40px;
    }

    .careers .career-frame {
      width: 90%;
    }

    .benefits .benefits-wrap .benefit {
      width: 266px;
    }
  }

  @media (max-width: 1112px) {
    .benefits {
      padding-bottom: 80px;

      .benefits-wrap {
        flex-wrap: wrap;
        justify-content: space-around;
        height: 1000px;

        .benefit {
          width: 350px;
          height: 300px;
        }
      }
    }

    .careers .career-frame {
      flex-wrap: wrap;
      justify-content: space-around;

      .career {
        width: 40%;
        margin-top: 50px;

        .line {
          display: none;
        }
      }
    }

    .offer .offer-frame .offer-img {
      height: 100%;
      width: 420px;
      background: url("../images/hiring/main.png") right;
      border-radius: 40px;

      img {
        display: none;
      }
    }
  }

  @media (max-width: 1050px) {
    .offer .offer-frame .offer-img {
      width: 380px;
      background-position: 90%;
    }
  }

  @media (max-width: 1000px) {
    .offer {
      height: 950px;
      background-position: center 70%;

      .offer-frame {
        width: 70%;
        margin-top: 300px;

        .offer-text {
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .offer-img {
          width: 600px;
          height: auto;
          background: none;
          border-radius: none;
          transform: translate(-50%);
          left: 50%;
          z-index: -1;
          top: -340px;

          img {
            display: block;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .benefits .benefits-wrap .benefit {
      width: 286px;
      height: 250px;
    }

    .offer {
      height: 850px;

      .offer-frame {
        margin-top: 200px;
        height: auto;

        .offer-text {
          width: auto;
        }

        .offer-img {
          width: 440px;
          top: -250px;
        }
      }
    }
  }

  @media (max-width: 650px) {
    .benefits {
      padding-bottom: 0;

      .benefits-wrap {
        height: auto;

        .benefit {
          margin-bottom: 140px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .offer {
      height: 1000px;

      .offer-frame {
        width: inherit;
        margin-top: 350px;

        .offer-img {
          width: 100%;
          top: -350px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .careers .career-frame .career {
      background: #fff;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
      border-radius: 10px;

      svg {
        width: 90px;
      }

      .job {
        font-size: 16px;
        line-height: 24px;
        padding: 0;
      }
    }

    .offer {
      height: auto;
      padding: 0;

      .offer-frame {
        margin-top: 280px;

        .offer-text {
          font-size: 16px;

          .first {
            width: 100%;
          }
        }

        .offer-img {
          top: -280px;
        }
      }
    }
  }

  @media (max-width: 414px) {
    .careers .career-frame {
      justify-content: space-between;

      .career {
        width: 47%;
      }
    }

    .offer .offer-frame {
      padding: 35px 30px;
      margin-top: 230px;

      .offer-text {
        h2 {
          font-size: 25px;
          line-height: 35px;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          svg {
            margin-left: 0;
            margin-top: 15px;
          }
        }
      }

      .offer-img {
        top: -230px;
      }
    }

    .benefits,
    .careers {
      padding-top: 40px;

      .career-frame {
        padding: 0;
      }

      .benefits-wrap {
        padding-top: 45px;
      }
    }

    .careers {
      padding-bottom: 45px;
    }
  }

  @media (max-width: 360px) {
    .benefits .benefits-wrap .benefit {
      width: 256px;

      .text-box p {
        width: 75%;
      }
    }
  }
}