.page-template-template-home {
  header .container-fluid {
    max-width: 1320px;
    margin: auto;

    @media (max-width: 1600px) {
      max-width: 100%;
    }
  }

  .container-fluid {
    padding: 0;
  }

  a:hover {
    text-decoration: none;
  }

  .line {
    width: 60px;
    border-bottom: 1px solid #898989;
    margin: 20px 0 30px 0;
  }

  .logo-img-desk {
    transform: scale(0.8);

    @include breakpoint(iXLandscape) {
      display: none;
    }

    @include breakpoint(S8Landscape) {
      display: block;
    }

    @include breakpoint(XSMaxLand) {
      display: none;
    }
  }

  .logo-img-phone {
    position: relative;
    top: 0;
    right: 20%;

    @include breakpoint(bellow1024) {
      display: block;
    }

    @include breakpoint(iphoneX) {
      top: 4px;
      right: 2%;
      padding: 0;
    }

    @include breakpoint(samsungS8) {
      top: -4px;
      right: 15%;
      padding: 0;
    }

    @include breakpoint(XSMax) {
      top: 0;
      right: 6%;
      padding: 0;
      // transform: scale(0.8);
    }

    @include breakpoint(iXLandscape) {
      transform: scale(1);
    }

    @include breakpoint(S8Landscape) {
      transform: scale(1);
    }

    @include breakpoint(XSMaxLand) {
      transform: scale(1);
    }
  }

  .logo-img-scroll {
    @include breakpoint(bellow889) {
      right: 63%;
    }

    @include breakpoint(mobile) {
      position: relative;
      top: 5%;
      right: -3%;

      svg {
        transform: scale(1);
      }
    }

    @include breakpoint(iphoneX) {
      right: -5%;

      svg {
        transform: scale(1);
      }
    }

    @include breakpoint(samsungS8) {
      right: -3%;
      top: -5%;

      svg {
        transform: scale(1);
      }
    }

    @include breakpoint(XSMax) {
      display: block;
      position: relative;
      right: 41%;

      svg {
        transform: scale(1);
      }
    }

    @include breakpoint(iXLandscape) {
      right: 65%;

      svg {
        transform: scale(0.9);
      }
    }

    @include breakpoint(S8Landscape) {
      right: 67%;
    }
  }

  header.phone-scroll {
    position: fixed;
    background: #fafafa;
    z-index: 1000;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;

    .menu-holder {
      width: 100% !important;

      @include breakpoint(XSMax) {
        display: flex;
      }

      nav.nav-primary {
        .regular-menu {
          ul li:first-of-type a {
            margin-left: 0;
          }
        }
      }
    }

    .container-fluid {
      flex-direction: column;
      display: flex;
      height: 100%;
      padding: 0;
      width: 100%;

      @media (max-width: 1600px) {
        width: 80% !important;
      }
    }

    .for-phone-home {
      display: none;
      width: 10%;
    }

    #home-dots {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 150px;

      @include breakpoint(samsungS8) {
        margin-right: 10%;
      }

      svg {
        transition: width 250ms ease-in-out;
      }
    }
  }

  header.banner {
    display: none;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 110;
    background: #fafafa;
  }

  @include breakpoint(mobile) {
    hr {
      margin-top: 0.5em;
      margin-bottom: 1em;
    }

    .container-fluid {
      width: 100vw;
    }
  }

  .home-one {
    height: 100vh;

    @media (max-width: 1440px),
    (max-height: 850px),
    (min-height: 1090px) {
      height: 800px;
    }

    .content-holder {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      background: #fafafa;
      overflow: hidden;
      justify-content: space-between;
      align-items: flex-start;

      .svg-holder {
        position: absolute;
        width: 100%;
        z-index: 0;

        .desktop-svg {
          transform: scale(1) translate(0, 0);

          @include breakpoint(bellow1710) {
            transform: scale(1) translate(-3%, 0);
            width: 200%;
          }

          @include breakpoint(bellow1500) {
            transform: scale(0.9) translate(-7%, 0);
          }

          @include breakpoint(bellow1366) {
            transform: scale(0.9) translate(-8%, 0);
          }

          @include breakpoint(bellow1280) {
            transform: scale(0.87) translate(-12%, 0);
          }

          @include breakpoint(bellow1200) {
            transform: scale(0.8) translate(-15%, -8%);
          }

          @include breakpoint(bellow1070) {
            transform: scale(0.8) translate(-15.3%, -4%);
          }
        }

        .phone-480 {
          display: none;
          height: 90%;
          width: 100%;
          align-items: center;
          position: absolute;
          top: 10%;
          transform: translate(-25%, 0);

          .boxes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .box {
              height: 147px;
              width: 147px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 27px;
              margin: 10px;
            }

            .red {
              background-color: #ee4631;
            }

            .blue {
              background: #1994ff;
            }

            .yellow {
              background: #ffe600;
            }

            .orange {
              background-color: #ffb000;
            }
          }
        }

        svg {
          width: 100%;

          .path-group {
            transition: all 350ms ease-in;
          }

          g.yellow-email:hover .yellow {
            stroke-width: 5;
          }

          g.blue-social:hover .alpha-blue {
            stroke-width: 5;
          }

          g.orange-development:hover .orange {
            stroke-width: 5;
          }

          g.red-search:hover .red {
            stroke-width: 5;
          }

          .paths {
            transition: transform 350ms ease-in-out;

            &.message-paths {
              transform: translate(619px, 417px);
              z-index: 0;
            }

            &.search-logo {
              transform: translate(392px, 214px);
              z-index: 0;
            }

            &.development-paths {
              transform: translate(386px, 408px);
              z-index: 0;
            }

            &.email-logo {
              transform: translate(609px, 225px);
              z-index: 0;
            }
          }
        }
      }

      .right {
        width: 40%;
      }

      .text {
        width: 55%;
        flex-direction: column;
        justify-content: center;
        display: flex;
        z-index: 10;
        position: relative;
        margin-top: 245px;

        @media (max-width: 1500px) {
          width: 52%;
        }

        .svg-phone {
          display: none;
          position: absolute;
          z-index: 0;
          width: 100%;

          svg {
            width: 100%;
            transform: translate(0, 43%) scale(1.2);
          }
        }

        h3 {
          font-size: 60px;
          line-height: 90px;
          font-family: "Futura", sans-serif;
          font-variation-settings: 'wght'400;
          margin-top: 2.8%;
        }

        h1 {
          font-size: 24px;
          line-height: 161.9%;
          font-family: "Mulish", sans-serif;
          font-variation-settings: 'wght'500;
          ;
          //margin-top: 3.5%;

          .desk-br {
            display: block;
          }

          .phone-br {
            display: none;
          }
        }

        .schedule-button {
          color: white;
          background: linear-gradient(90deg, #1994FF 0.17%, #0088FF 100.17%);
          margin-right: 20px;

          &:hover {
            color: #1994ff;
            background-color: white;
          }
        }

        a {
          margin-top: 3%;
          width: 184px;
          height: 44px;
          display: flex;
          border: 1px solid #1994ff;
          color: #1994ff;
          border-radius: 100px;
          justify-content: center;
          align-items: center;
          line-height: 27.5px;
          text-decoration: none;
          transition: all 250ms ease-in;

          &:hover {
            color: #fff;
            background: #1994ff;
          }
        }

        .tablet-br2 {
          display: none;
        }
      }
    }
  }

  .second {
    .second-container {
      max-width: 1320px;
      position: relative;
      margin: auto;
      padding: 100px 0;

      .decor {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }

      .second-box {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 50px;
        align-items: center;

        .second-text {
          // max-width: 763px;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .line {
            align-self: flex-start;
            margin-left: 10%;
          }

          a {
            font-size: 22px;
            line-height: 27px;
            font-variation-settings: 'wght'400;
            ;
            color: #007be7;
            width: 80%;
          }

          h2 {
            font-size: 40px;
            line-height: 51px;
            color: #323232;
            width: 80%;
          }

          p {
            font-variation-settings: 'wght'300;
            ;
            font-size: 18px;
            line-height: 27px;
            color: #323232;
            margin-bottom: 25px;
            width: 80%;
          }
        }
      }

      .upper {
        padding-bottom: 50px;

        iframe {
          margin-right: 30px;
          border-radius: 30px;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .lower {
        padding-top: 50px;

        .second-text {
          align-items: flex-start;

          .line {
            margin-left: 0;
          }
        }

        .img-frame {
          img {
            border-radius: 30px;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
          }
        }
      }
    }
  }

  .third {
    width: initial;
    background: #fafafa url("../images/home/third1.svg") bottom right no-repeat;
    padding: 145px 0 150px 0;

    .container-fluid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1320px;

      @media (max-width: 1600px) {
        max-width: 80%;
      }

      .intelligence {
        max-width: 470px;

        @media (max-width: 1400px) {
          max-width: 420px;
        }

        h2 {
          font-size: 40px;
          line-height: 56px;
        }

        p {
          font-variation-settings: 'wght'300;
          ;
          font-size: 18px;
          line-height: 34px;
        }

        a {
          font-size: 22px;
          line-height: 27px;
          font-variation-settings: 'wght'400;
          ;
          color: #007be7;
        }
      }

      .featured-on {
        background: #fff;
        box-shadow: 0 30px 100px -20px rgba(125, 142, 157, 0.3);
        border-radius: 40px;
        border: 1px solid #e2e2e2;
        width: 53%;
        position: relative;
        padding: 50px 0;

        @media (max-width: 1400px) {
          width: 45%;

          .featured-box {
            padding: 0 !important;
          }
        }

        .featured-box {
          max-width: 580px;
          margin: auto;
          padding: 0 50px;

          p {
            font-size: 35px;
            line-height: 43px;
            color: #d3d3d3;
          }

          .frame {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            .featured-mobile {
              display: none;
            }

            a {
              width: 45%;
              display: flex;
              justify-content: center;

              &:nth-of-type(1),
              &:nth-of-type(2) {
                margin-bottom: 60px;
              }

              // img {
              //   &:last-of-type {
              //     display: none;
              //   }
              // }
            }
          }
        }

        .eye {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .fourth {
    width: initial;
    background: #f5f5f5 url("../images/home/explore-line.svg") no-repeat;
    padding: 120px 0 250px 0;
    background-position: -20px 100%;

    .container-fluid {
      display: flex;
      justify-content: space-between;
      max-width: 1320px;

      .explore {
        max-width: 680px;
        padding-top: 120px;

        h2 {
          font-size: 40px;
          line-height: 56px;
        }

        p {
          font-variation-settings: 'wght'300;
          ;
          font-size: 18px;
          line-height: 34px;
        }

        a {
          font-size: 22px;
          line-height: 27px;
          font-variation-settings: 'wght'400;
          ;
          color: #007be7;
        }
      }

      .explore-img {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 100px;
        max-width: 410px;

        a {
          width: 33.33%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px !important;

          &:hover {
            color: #323232;
          }

          img {
            max-width: 85px;
          }

          &:nth-of-type(3) {
            margin-bottom: 12px !important;
          }
        }

        span {
          text-align: center;
          font-variation-settings: 'wght'300;
          ;
          line-height: 24px;
          margin-top: 5px;
        }
      }
    }
  }

  .fifth {
    width: initial;
    background: url("../images/home/quotes-lele.svg") bottom left no-repeat;
    padding: 145px 0 180px 0;

    .container-fluid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1320px;

      @media (max-width: 1600px) {
        max-width: 80%;
      }

      .carousel {
        background: #fff;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        box-shadow: 0 30px 100px -20px rgba(125, 142, 157, 0.3);
        border-radius: 40px;
        height: 380px;

        .carousel-inner {
          min-height: 560px;
          display: flex;
          align-items: center;
          transition: none;
          -webkit-transition: none;
          transform: none;

          .carousel-item {
            transition: none;
            -webkit-transition: none;
            transform: none;
            height: 400px;

            .info-wrap {
              height: 220px;
              z-index: 20;
            }

            p {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              /* number of lines to show */
              -webkit-box-orient: vertical;
            }

            svg {
              margin: auto;
              width: 100%;
            }

            .surve {
              overflow: visible;
            }

            .milind {
              display: flex;
              height: 140px;
              margin: auto;
              width: 40%;
            }

            .brio {
              display: flex;
              height: 90px;
              width: 30%;
              margin: auto;
            }

            .aeriform {
              display: flex;
              height: 90px;
            }

            .surge {
              display: flex;
              height: 90px;
              width: 55%;
              margin: auto;
            }

            .surve-svg {
              display: flex;
              height: 90px;
              width: 25%;
              margin: auto;
            }
          }
        }

        .carousel-control-prev {
          position: relative;
          top: 120px;
          left: -80px;

          .carousel-control-prev-icon {
            background-image: none;
          }

          .carousel-control-prev-icon::after {
            content: "<";
            font-size: 55px;
            color: #1994ff;
            display: block;
          }
        }

        .carousel-control-next,
        .carousel-control-prev {
          &:hover {
            svg {
              fill: #1994ff;

              path {
                fill: #fff;
              }
            }

            circle {
              stroke: #1994ff;
            }
          }
        }

        .carousel-control-next {
          position: relative;
          top: 75px;
          left: 50px;

          .carousel-control-next-icon {
            background-image: none;
          }

          .carousel-control-next-icon::after {
            content: ">";
            font-size: 55px;
            color: #1994ff;
            display: block;
          }
        }
      }

      .quotes {
        width: 656px;
        background: #fff;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
        border-radius: 40px;
        padding: 40px 40px 35px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1600px) {
          width: 456px;;
        }

        .info-wrap {
          display: flex;
          flex-direction: column;
          align-items: center;

          .name-quote {
            margin-top: 8px;
            font-variation-settings: 'wght'600;
            ;
            font-size: 21px;
            line-height: 27px;
            margin-bottom: 12px;
            color: #303030;
          }

          .function-quote {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 27px;
            color: #c4c4c4;
          }
        }

        p {
          font-variation-settings: 'wght'300;
          ;
          font-size: 16px;
          line-height: 27px;
          text-align: center;
          color: #303030;
          margin-bottom: 21px;
        }
      }
    }

    .logos {
      max-width: 670px;
      transform: translateX(30px);

      @media (max-width: 1600px) {
        transform: unset;
      }

      .logo-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 40px 0;

        svg {
          width: 300px;
          filter: sepia(0%) saturate(112%) hue-rotate(161deg) brightness(89%) contrast(5%) grayscale(20);

          &:hover {
            filter: unset;
          }
        }
      }
    }
  }

  .sixth {
    width: initial;
    background: #fafafa url("../images/home/section-6-bg.svg") bottom right no-repeat;
    padding: 180px 0;

    .container-fluid {
      max-width: 1320px;

      @media (max-width: 1600px) {
        max-width: 80%;
      }
    }

    .projects {
      display: flex;
      max-width: 1580px;
      margin: auto;
      align-items: center;

      .latest-projects {
        max-width: 630px;
        margin-left: 7%;

        h2 {
          font-size: 40px;
          line-height: 47px;
          color: #303030;
        }

        p {
          font-variation-settings: 'wght'300;
          ;
          font-size: 18px;
          line-height: 34px;
          color: #303030;
        }

        a {
          font-size: 22px;
          line-height: 27px;
          color: #007be7;
        }
      }

      .img-wrap {
        width: 50%;
        max-width: 570px;

        .d-flex {
          margin-bottom: 27px;

          a {
            width: 48%;
            filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.25));
          }
        }
      }
    }
  }

  .seventh {
    width: initial;
    background: url("../images/home/sec-7-lines1.svg") 0 100% no-repeat, url("../images/home/MaskGroup.jpg") no-repeat;
    // background-size: cover;
    padding-top: 110px;
    padding-bottom: 220px;

    .seventh-frame {
      max-width: 1320px;
      margin: auto;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1600px) {
        max-width: 80%;
      }

      .delivers {
        display: block;
        justify-content: space-between;
        width: 30%;
        //margin: auto;

        h2 {
          font-size: 50px;
          line-height: 50px;
        }

        h2:after {
          content: '';
          width: 60px;
          height: 1px;
          color: #898989;
          display: flex;
          border-bottom: 1px solid #898989;
          padding-top: 20px;
        }

        .delivers-txt {
          font-variation-settings: 'wght'300;
          ;
          font-size: 16px;
          line-height: 27px;
          color: #303030;
          max-width: 710px;
          padding-top: 15px;
        }

        strong {
          font-variation-settings: 'wght'600;
          ;
          font-family: "Mulish", sans-serif;
        }

        .contact-arrow {
          display: flex;

          a {
            color: #007BE7;
            text-decoration: none;
            font-size: 22px;
            line-height: 26.8px;
            margin-right: 14px;
          }
  
          span {
            background-image: url("../images/home/arrow11.svg");
            display: block;
            width: 70px;
            background-repeat: no-repeat;
            margin-top: 11px;
          }
        }

        // a:after {
        //   content: '';
        //   width: 62px;
        //   height: 1px;
        //   color: #007BE7;
        //   display: flex;
        //   margin: auto;
        //   border-bottom: 1px solid;
        // }
      }

      .about-form {
        width: inherit;
        //padding: 270px 0 10% 0;
        //margin: auto;

        h5 {
          br {
            display: none;

            @media (max-width: 480px) {
              display: inline;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1690px) {
    .third .container-fluid {
      .featured-on {
        padding: 60px;

        .eye {
          left: 0;
        }
      }
    }
  }

  @media (max-width: 1600px) {
    .fourth {
      .container-fluid {
        max-width: 80%;
      }
    }

    .fifth .container-fluid .logos {
      width: 680px;

      .logo-row svg {
        width: 130px;
      }
    }

    .second {
      .second-container {
        max-width: 80%;
      }
    }
  }

  @media (max-width: 1500px) {
    .fifth {
      .container-fluid {
        .logos {
          width: 650px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .home-one .content-holder .text {
      height: fit-content;

      h3 {
        font-size: 67px;
      }
    }

    .second {
      .second-container {
        .lower {
          .img-frame {
            width: 46%;
          }
        }

        .upper {
          iframe {
            width: 48%;
          }
        }
      }
    }

    .fifth {
      .container-fluid {
        .logos {
          width: 635px;
        }
      }
    }
  }

  @media (max-width: 1366px) {
    .home-one .content-holder .text {
      h3 {
        font-size: 65px;
      }
    }

    .fourth {
      padding-top: 70px;
    }

    .fifth {
      .container-fluid {
        .logos {
          width: 50%;
        }

        .carousel {
          .carousel-control-prev {
            top: 100px;
          }

          .carousel-control-next {
            top: 56px;
          }
        }
      }
    }

    .seventh {
      background-size: contain, cover;
      background-position: center 90%;

      .seventh-frame {
        .delivers {
          flex-direction: column;
          align-items: center;

          .delivers-title h2 {
            line-height: 60px;
          }
        }
      }
    }

  }

  @media (max-width: 1280px) {
    .fourth {
      background: #f5f5f5 url("../images/home/explore-tablet.svg") bottom right no-repeat;
      background-size: 95%;

      .container-fluid {
        align-items: center;

        .explore {
          max-width: 550px;
          padding-top: 0;
        }
      }
    }

    .fifth .logos {
      margin-right: 0;
    }

    .sixth {
      background-size: 80%;
      padding: 15% 0;

      .container-fluid {
        padding: 0;
        width: 80%;

        .projects {
          justify-content: space-between;

          .latest-projects {
            width: 50%;
          }
        }
      }
    }

    .seventh .seventh-frame .delivers {
      max-width: 90%;
    }

    .seventh {
      background-position: center 74%;
      padding-bottom: 150px;

      .seventh-frame {
        flex-wrap: wrap;

        .delivers {
          //margin: auto;
          width: 95%;
        }

        .about-form {
          margin: auto;
          margin-top: 60px;
        }
      }
    }

    .home-one .content-holder .text {
      h3 {
        font-size: 60px;
      }

      h1 {
        max-width: 550px;

        .desk-br {
          display: none;
        }

        .tablet-br {
          display: inline;
        }
      }
    }
  }

  @media (max-width: 1240px) {
    header.phone-scroll #home-dots {
      display: none;
    }

    .seventh .seventh-frame .delivers .delivers-txt {
      max-width: 570px;
    }
  }

  @media (max-width: 1200px) {
    .home-one .content-holder .text {
      margin-top: 215px;

      h3 {
        font-size: 50px;
      }

      h1 {
        font-size: 19px;
        max-width: 490px;
      }
    }
  }

  @media (max-width: 1112px) {
    .home-one .content-holder {
      .svg-holder .desktop-svg {
        transform: scale(0.75) translate(-22%, -8%);
      }

      .text {
        h1 {
          max-width: 480px;
        }
      }
    }

    .third .container-fluid .featured-on .featured-box .frame a {
      img {
        &:last-of-type {
          display: block;
        }

        // &:first-of-type {
        //   display: none;
        // }
      }
    }

    .fifth {
      .container-fluid {
        width: 80%;
        padding: 0;

        .quotes {
          width: 370px;
        }

        // .logos {
        //   width: 500px;
        //   margin-right: 0 !important;

        //   .logo-row svg {
        //     width: 115px;
        //     height: 60px;
        //   }
        // }

        .carousel {
          .carousel-inner {
            .carousel-item {
              .milind {
                height: 80px;
              }
            }
          }
        }
      }
    }

    .seventh .seventh-frame .delivers h2 {
      font-size: 42px;
    }

    .third .container-fluid .featured-on .featured-box p {
      font-size: 25px;
    }

    .second .second-container {
      .decor {
        display: none;
      }

      .second-box {
        flex-direction: column;

        .second-text {
          max-width: initial;
          width: 100%;
          padding: 0;

          h2,
          p,
          a {
            width: 100%;
          }

          .line {
            margin-left: 0;
          }
        }

        .img-frame {
          margin-top: 40px;
          width: 100%;

          img {
            display: block;
            margin: auto;
          }
        }

        iframe {
          order: 2;
          margin-top: 60px;
          width: 637px;
        }
      }

      .lower {
        padding-top: 25px;
      }
    }

    .fourth {
      .container-fluid {
        .explore {
          max-width: 500px;
        }
      }
    }
  }

  @media (max-width: 1050px) {
    .home-one .content-holder {
      .text {
        width: 440px;
        margin-right: 5%;
      }
    }

    .fifth {
      .container-fluid {
        .carousel {
          .carousel-inner {
            .carousel-item {
              .milind {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .home-one .content-holder {
      .svg-holder .desktop-svg {
        transform: scale(0.7) translate(-27%, -8%);
      }

      .text {
        margin-top: 230px;
      }
    }

    .third {
      background-size: 95%;
    }

    .fourth {
      background-size: 83%;
    }

    .fifth {
      padding-top: 0;
      background-color: #fafafa;

      .container-fluid {
        flex-direction: column;
        width: 100%;

        .logos {
          display: none;
        }

        .logos-sm {
          display: block !important;
          order: -1;
          width: 100%;
          padding: 70px 5% 0 5%;
          background: #fafafa;

          .logo-row {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            svg {
              width: 200px;
              margin: 23px 0;
            }
          }
        }

        .quotes {
          width: 90%;
          margin-top: 50px;
          padding-bottom: 0 !important;

          .carousel-inner {
            //min-height: unset;

            .carousel-item {
              height: auto;

              .milind {
                height: 90px;
              }
            }
          }

          .carousel-control-prev {
            left: -50px;
            top: 125px;
          }

          .carousel-control-next {
            left: 50px;
            top: 80px;
          }

          .info-wrap {
            width: 90%;
            flex-direction: row;
            margin: auto;
            margin-bottom: 14px;

            .img-wrap {
              margin-right: 15px;
            }
          }

          p {
            padding: 0 25px;
            text-align: justify;
          }
        }
      }
    }

    header.phone-scroll .container-fluid {
      width: 80% !important;
    }
  }

  @media (max-width: 1000px) {
    .fifth .container-fluid {
      .quotes {
        padding: 40px 20px 35px 20px;
      }

      .carousel {
        .carousel-inner {
          .carousel-item {
            height: auto;
          }
        }
      }
    }

    .third {
      padding-top: 70px;

      .container-fluid {
        flex-direction: column;
        padding: 0;
        width: 90%;

        .intelligence {
          max-width: initial;
          padding-bottom: 60px;

          h2 {
            font-size: 35px;
          }

          p {
            font-size: 16px;
          }

          a {
            font-size: 20px;
          }
        }

        .featured-on {
          width: 100%;
          padding-top: 45px;

          p {
            color: #b0b0b0;
            font-size: 26px;
          }

          .line {
            margin: 15px 0 60px 0;
          }

          .eye {
            left: 50%;
            top: 0;
            width: 50px;
            height: 50px;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          .featured-box {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }

    .fourth {
      padding-top: 70px;
      background: #fafafa url("../images/home/explore-line.svg") -20px 80% no-repeat;
      padding-bottom: 100px;

      .container-fluid {
        padding: 0;
        flex-direction: column;

        .explore {
          max-width: 90%;
          padding-bottom: 60px;
          align-self: flex-start;

          h2 {
            font-size: 35px;
          }

          p {
            font-size: 16px;
          }

          a {
            font-size: 20px;
          }
        }

        .explore-img {
          width: 100%;
          max-width: unset;
        }
      }
    }

    .sixth .projects .latest-projects {
      max-width: 430px;

      h2 {
        font-size: 28px;
      }

      .line {
        margin-top: 18px;
      }

      p {
        font-size: 16px;
      }

      a {
        font-size: 20px;
      }
    }

    .second .second-container .second-box .second-text {
      h2 {
        font-size: 35px;
      }

      a {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 950px) {
    .home-one .content-holder {
      .svg-holder .desktop-svg {
        transform: scale(0.68) translate(-30%, -9%);
      }
    }

    .fifth {
      .container-fluid {
        .carousel {
          .carousel-inner {
            .carousel-item:nth-of-type(3) {
              .info-wrap {
                height: 180px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .for-phone {
      display: block;

      .container-fluid {
        padding: 0 15px;
      }
    }

    #dots-menu {
      display: none !important;
    }

    .home-one {
      height: auto;

      .content-holder {
        padding: 120px 0 60px 0;
        flex-direction: column;
        align-items: center;
        background: #fafafa url("../images/home/Group 1533.svg") 0 34% no-repeat;
        background-size: contain;

        @media (max-width: 768px) {
          background-position: 0 38%;
        }

        @media (max-width: 600px) {
          background-position: 0 42%;
        }



        .text {
          order: -1;
          align-items: center;
          width: initial;
          padding-left: 0;
          padding-bottom: 120px;
          position: static;
          margin-top: 0;

          h1 {
            text-align: center;
          }

          .d-flex {
            flex-direction: column;
          }

          a {
            margin-top: 7%;
            width: 230px;
          }
        }

        .svg-holder {
          position: static;

          .desktop-svg {
            display: none;
          }

          .phone-480 {
            display: block;
            position: static;
            transform: translate(0);
          }

          .right {
            display: none;
          }
        }
      }
    }

    .seventh {
      padding-top: 70px;

      .seventh-frame {
        //background-position: 0 27%;

        .delivers {
          flex-direction: column;

          .delivers-title {
            h2 {
              font-size: 40px;
            }

            .line {
              margin-top: 25px !important;
            }
          }

          .delivers-txt {
            max-width: 100%;
          }
        }

        .about-form {
          padding-top: 70px;
        }
      }
    }

    .sixth {
      padding-top: 60px;
      background-size: 100%;

      .projects {
        flex-direction: column;

        .latest-projects {
          order: -1;
          margin-left: 0;
          max-width: 100%;
          width: 100% !important;
        }

        .img-wrap {
          width: 70%;
          margin-top: 60px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .home-one {
      .content-holder {
        .text {
          margin-right: 0;
        }
      }
    }

    .sixth .projects .img-wrap {
      width: 80%;
    }

    .second .second-container .second-box iframe {
      width: 100% !important;
    }

    .fifth {
      .container-fluid {
        .carousel {
          .carousel-inner {
            .carousel-item {
              height: auto;
            }

            // .carousel-item:nth-of-type(3) {
            //   height: 220px;
            // }
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    .third {
      background-size: auto;
      background-position: center;
      padding-bottom: 80px;

      .container-fluid .featured-on {
        padding: 40px;

        .featured-box {
          .line {
            margin-bottom: 30px;
          }
        }
      }
    }

    .fifth {
      .container-fluid {
        .carousel {
          .carousel-inner {
            min-height: 600px;

            .carousel-item {
              height: auto;

              .surve-svg {
                height: 65px;
              }

              .surge {
                height: 67px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .home-one .content-holder {
      .text {
        h3 {
          font-size: 45px;
          text-align: center;
          line-height: 55px;
          margin: 0;
        }

        h1 {
          font-size: 18px;
          width: 90%;
          margin: 0;

          br {
            display: none !important;
          }
        }

        .d-flex {
          margin: 35px 0 30px 0;

          a {
            margin: 0;
          }

          .schedule-button {
            margin: 0 0 25px 0;
            filter: drop-shadow(0px 15px 20px rgba(25, 148, 255, 0.25));
          }
        }
      }
    }

    .second .second-container {
      max-width: 90%;

      .second-box iframe {
        height: 300px;
        margin-right: 0;
      }
    }

    .third .container-fluid {
      max-width: 90%;

      .featured-on {
        width: 100%;

        .featured-box {
          .frame {
            a {

              &:nth-of-type(1),
              &:nth-of-type(2) {
                margin-bottom: 20px;
              }

              img {
                max-width: 70%;
              }
            }
          }
        }
      }
    }

    .fourth {
      background-position: -20px 150%;

      .container-fluid {
        max-width: 90%;
      }
    }

    .fifth {
      padding-bottom: 150px;

      .container-fluid {
        max-width: 90%;

        .quotes {
          padding: 40px 20px 0 20px;

          .carousel-inner {
            //min-height: unset;

            .carousel-item {
              height: auto;

              .info-wrap {
                flex-direction: column;

                .img-wrap {
                  margin: 0;
                }

                .div {
                  p:last-of-type {
                    margin-bottom: 0 !important;
                  }

                  p:first-of-type {
                    text-align: center;
                    margin: 12px 0 0 0;
                  }
                }
              }

              .surve-svg {
                height: 100px;
              }
            }
          }

          .carousel-control-prev {
            top: 50px;
          }

          .carousel-control-next {
            top: 5px;
          }
        }

        .logos-sm {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .sixth {
      background: #fafafa url("../images/home/Group 389.svg") 0 105% no-repeat;
      background-size: contain;

      .container-fluid {
        max-width: 90%;
        width: 90%;
      }

      .projects {
        .img-wrap {
          width: 100%;
        }
      }
    }

    .seventh {
      background: url('../images/shared/lines-mob.svg') no-repeat, url("../images/home/MaskGroup.jpg") no-repeat;
      background-size: contain, cover;
      background-position: center 27%;

      .seventh-frame {
        max-width: 90%;

        .delivers {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .home-one .content-holder {
      padding-top: 80px;
      background: #fafafa url("../images/home/hero-mobile.svg") 0 48% no-repeat;
      background-size: contain;

      .text {
        h1 {
          line-height: 25px;
          margin-bottom: 0 !important;
          width: 300px;
        }
      }
    }

    .fifth {
      .container-fluid {
        .carousel {
          .carousel-inner {
            .carousel-item {
              height: auto;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .seventh {
      background-position: center 70%;
    }

    .third {
      background: #f9f9f9 url("../images/home/third1.svg") center no-repeat;
      background-size: auto;

      .container-fluid .featured-on {
        border-radius: 30px;

        .featured-box {
          .line {
            margin-top: 0;
          }

          .frame {
            a {
              width: 40%;
            }
          }
        }
      }
    }

    .fourth {
      background: #f5f5f5 url("../images/home/explore-mob.svg") no-repeat;
      background-size: contain;
      background-position: 0 95%;

      .container-fluid {
        .explore-img {
          padding-top: 10px;

          a {
            margin-bottom: 45px !important;

            &:nth-of-type(3) {
              margin-bottom: unset !important;
            }

            span {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }

    .fifth {
      background: #fff;
      padding-bottom: 200px;

      .container-fluid {
        .quotes {
          border-radius: 30px;
          position: relative;
          width: 100%;
        }

        .logos-sm {
          background: #fff;

          svg path {
            fill: #d3d3d3 !important;
          }
        }
      }
    }

    .second .second-container {
      padding: 0;

      .second-box iframe {
        height: 250px;
      }

      .second-box.lower {
        padding-top: 0;

        .second-text {
          .line {
            margin-top: 10px;
          }
        }
      }
    }

    .home-one .content-holder {
      //background-size: auto;
      background: none;

      .text {
        padding-top: 30px;
        padding-bottom: 25px;

        h1 {
          .tablet-br {
            display: none;
          }
        }

        .tablet-br2 {
          display: block;
        }

        .schedule-button {
          margin-bottom: 5px;
        }
      }
    }
  }

  @media (max-width: 450px) {
    h2 {
      font-size: 25px;
    }

    .fifth .container-fluid .quotes p {
      padding: 0;
      text-align: center;
    }

    .fourth {
      .container-fluid {
        .explore-img {
          .time {
            img {
              padding-top: 5px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 440px) {
    form#project-form {
      max-width: 100%;

      .form-body {
        #client-phone-num {
          max-width: 230px;
        }

        #client-email-addr {
          max-width: 230px;
        }
      }
    }
  }

  @media (max-width: 430px) {
    .fourth {
      .container-fluid {
        .explore-img {
          .time {
            img {
              padding-top: 9px;
            }
          }
        }
      }
    }

    .fifth {
      .container-fluid {
        .carousel {
          .carousel-inner {
            .carousel-item {
              .aeriform {
                margin-top: -10px;
              }

              .surge {
                margin-top: -16px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 414px) {
    .seventh .seventh-frame {
      background-position: 0 31%;
    }

    .second .second-container .second-box iframe {
      height: 210px;
    }

    .home-one .content-holder {
      background-position: 0 44%;

      .svg-holder {
        height: auto !important;
      }

      .text {
        h1 {
          font-size: 17px;
        }
      }
    }
  }

  @media (max-width: 380px) {
    .fifth .container-fluid .quotes .info-wrap {
      .name-quote {
        font-size: 17px;
      }

      .function-quote {
        font-size: 15px;
      }

      .img-wrap {
        margin-right: 10px;
      }
    }

    .fifth {
      .container-fluid {
        .carousel {
          .carousel-inner {
            .carousel-item {
              height: auto;
            }
          }
        }
      }
    }

    .second .second-container .second-box iframe {
      height: 190px;
    }

    .home-one .content-holder {
      background-position: 0 48%;
      padding-bottom: 0;
    }
  }

  @media (max-width: 360px) {
    .home-one .content-holder {
      .svg-holder .phone-480 {
        transform: scale(0.9);
      }
    }

    .fifth .container-fluid .quotes .info-wrap {
      .name-quote {
        padding: 0;
        padding-left: 15px;
      }

      .function-quote {
        padding: 0;
        padding-left: 15px;
      }
    }
  }

  @media (max-width: 340px) {
    .fourth {
      background-position: 0 80%;
    }

    form#project-form {
      .form-body {
        h5 {
          font-size: 20px;
        }

        #client-phone-num {
          max-width: 100px;
        }

        #client-email-addr {
          max-width: 160px;
        }
      }
    }
  }

  //xs max
  @media only screen and (min-width: 428px) and (max-width: 926px) and (orientation: landscape) {
    .home-one {
      height: 500px;

      .content-holder {
        background: none;
        padding-top: 70px;

        .svg-holder {
          height: 600px;

          .desktop-svg {
            display: block;
            transform: scale(0.54) translate(-50%, -45%);
          }

          .phone-480 {
            display: none;
          }
        }

        .text {
          position: absolute;
          align-items: flex-start;
          right: 10%;
          top: 34%;
          width: 40%;
          padding: 0;
          margin: 0;

          h1 {
            font-size: 15px;
            line-height: initial;
            margin: 0;

            br {
              display: none !important;
            }
          }

          h3 {
            margin: 0;
            font-size: 38px;
            line-height: 45px;
          }

          .d-flex {
            margin: 25px 0;
          }

          p {
            font-size: 14px;
            text-align: left;
            margin: 0;
            margin-bottom: 15px;
          }

          a {
            font-size: 13px;
            width: 126px;
            height: 34px;
            margin: 0;
          }
        }
      }
    }

    .second .second-container {
      padding-top: 10%;
    }
  }

  @media only screen and (min-width: 414px) and (max-width: 896px) and (orientation: landscape) {
    .home-one {
      .content-holder {
        background: none;
        padding: 70px 0 0 0;

        .svg-holder {
          height: 400px;
          width: 150%;

          .desktop-svg {
            display: block;
            transform: scale(0.5) translate(-35%, -58%);
          }

          .phone-480 {
            display: none;
          }
        }

        .text {
          position: absolute;
          align-items: flex-start;
          right: 10%;
          top: 29%;
          width: 40%;
          padding: 0;

          .d-flex {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin: 15px 0;

            a {
              font-size: 14px;
              width: 48%;
              height: 34px;
              margin: 0;
            }
          }

          h3 {
            font-size: 26px;
            line-height: initial;
            margin: 0;
          }

          h1 {
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            margin: 0;

            br {
              display: none !important;
            }
          }
        }
      }
    }

    .second .second-container {
      padding-top: 10%;
    }
  }

  //hero for landscape mobile
  @media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .home-one {
      height: 450px;

      .content-holder {
        background: none;
        padding-top: 70px;

        .svg-holder {
          width: 150%;

          .desktop-svg {
            display: block;
            transform: scale(0.5) translate(-37%, -58%);
          }

          .phone-480 {
            display: none;
          }
        }

        .text {
          position: absolute;
          align-items: flex-start;
          right: 5%;
          top: 33%;
          width: 40%;

          .d-flex {
            width: 100%;
            flex-direction: row;
            margin: 15px 0;
          }

          h3 {
            font-size: 26px;
            line-height: initial;
            margin: 0;
          }

          h1 {
            font-size: 14px;
            text-align: left;
            margin: 0;
          }

          a {
            font-size: 14px;
            width: 126px;
            height: 34px;
            margin: 0;
          }
        }
      }
    }
  }

  //iPhone 6+, 7+ and 8+
  @media only screen and (min-width: 414px) and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .home-one {
      .content-holder {
        background: none;
        padding-top: 70px;

        .svg-holder {
          height: 400px;

          .desktop-svg {
            display: block;
            transform: scale(0.5) translate(-37%, -58%);
          }

          .phone-480 {
            display: none;
          }
        }

        .text {
          position: absolute;
          align-items: flex-start;
          right: 5%;
          top: 29%;
          width: 40%;
          padding: 0;

          .d-flex {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            a {
              font-size: 14px;
              width: 48%;
              height: 34px;
              margin: 0;
            }
          }

          h3 {
            font-size: 26px;
            line-height: initial;
            margin: 0;
          }

          h1 {
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            margin: 0;

            br {
              display: none !important;
            }
          }
        }
      }
    }
  }

  //iPhone 6, 6S, 7 and 8
  @media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .home-one {
      .content-holder {
        background: none;
        padding-top: 70px;

        .svg-holder {
          height: 400px;
          width: 200%;

          .desktop-svg {
            display: block;
            transform: scale(0.54) translate(-27%, -52%);
          }

          .phone-480 {
            display: none;
          }
        }

        .text {
          position: absolute;
          align-items: flex-start;
          right: 5%;
          top: 29%;
          width: 40%;
          padding: 0;

          .d-flex {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            a {
              font-size: 13px;
              width: 48%;
              height: 34px;
              margin: 0;
            }
          }

          h3 {
            font-size: 26px;
            line-height: initial;
          }

          h1 {
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            margin: 0;

            br {
              display: none !important;
            }
          }
        }
      }
    }

    .second .second-container {
      padding-top: 0;
    }
  }

  //mobile landscape default:
  @media only screen and (min-width: 360px) and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .home-one {
      .content-holder {
        .text {
          top: 30%;
          padding: 0;

          h1,
          h3 {
            margin: 0;
          }

          .d-flex {
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  //iPhone 5, 5S, 5C and 5SE
  @media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .home-one {
      .content-holder {
        background: none;
        padding: 70px 0 0 0;

        .svg-holder {
          width: 200%;

          .desktop-svg {
            display: block;
            transform: scale(0.54) translate(-32%, -58%);
          }

          .phone-480 {
            display: none;
          }
        }

        .text {
          position: absolute;
          align-items: flex-start;
          padding: 0;
          width: 47%;
          top: 22%;

          .d-flex {
            margin: 15px 0;

            a {
              margin: 0 !important;
            }
          }

          h3 {
            font-size: 26px;
            line-height: initial;
            margin: 0;
          }

          h1 {
            font-size: 14px;
            text-align: left;
            margin: 0;
          }

          a {
            font-size: 14px;
            width: 126px;
            height: 34px;
            margin: 0;
          }
        }
      }
    }
  }

  //iphone 4
  @media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .home-one {
      .content-holder {
        background: none;
        padding-top: 70px;

        .svg-holder {
          width: 300%;

          .desktop-svg {
            display: block;
            transform: scale(0.44) translate(-77%, -74%);
          }

          .phone-480 {
            display: none;
          }
        }

        .text {
          align-items: flex-start;
          width: 47%;
          top: 25%;

          h3 {
            font-size: 26px;
            line-height: initial;
            margin-bottom: 12px;
            text-align: left;
          }

          h1 {
            font-size: 13px;
            text-align: left;
            margin: 0;
            margin-bottom: 15px;
            line-height: 18px;
            width: auto;
          }

          .d-flex {
            a {
              font-size: 10px;
              height: 22px;
            }
          }

          a {
            font-size: 14px;
            width: 126px;
            height: 27px;
            margin: 0;
          }
        }
      }
    }
  }
}
