.template-portfolio {
  .container {
    max-width: 1320px;
    padding: 0;
    height: 100%;

    @media (max-width: 1600px) {
      max-width: 80%;
    }
  }

  .book,
  .call-frame {
    border-top: 1px solid #f4f4f4;
    display: none;

    .container {
      max-width: 90%;
      padding: 40px 0 50px 0;

      h6 {
        text-align: center;
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 20px;
      }

      a {
        display: flex;
        align-items: center;
        background: #F4F4F4;
        border-radius: 50px;
        text-decoration: none !important;
        max-width: 330px;
        margin: auto;

        .svg-frame {
          width: 73px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          border-radius: 100%;
          box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.15);
        }

        p {
          margin: 0 0 0 15%;
          font-size: 20px;
          line-height: 24px;
          font-variation-settings: 'wght' 500;
          color: #1994ff;
        }
      }
    }
  }

  .call-frame:last-of-type {
    border-bottom: 1px solid #f4f4f4;
  }

  section {
    height: 800px;

    &:nth-child(even) .container {
      flex-direction: row-reverse;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .text-wrap {
        align-self: center;

        p b {
          font-variation-settings: 'wght' 400;
        }

        .portfolio-project-info {
          display: none;

          .item {
            width: 100%;
            background: #f9f9f9;
            margin-bottom: 40px;
            position: relative;
            padding-top: 25px;
            border-radius: 8px;

            &:last-of-type {
              margin-bottom: 0;
            }

            img {
              position: absolute;
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
              transform: translate(-50%, -50%);
              top: 0;
              left: 50%;
            }

            h6,
            p {
              text-align: center;
              padding: 16px 0;
            }

            p {
              border-top: 1px solid #e3e3e3;
              font-variation-settings: 'wght' 300;
              font-size: 18px;
            }

            h6 {
              font-family: "Mulish";
              font-variation-settings: 'wght' 700;
              font-size: 18px;
            }
          }

          a.detail-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 45px;
            background: #1994ff;
            border-radius: 100px;
            color: #fff;
            text-decoration: none !important;
            margin: auto;
            filter: drop-shadow(0px 15px 20px rgba(25, 148, 255, 0.25));
          }
        }
      }
    }
  }

  header {
    background: #fff;

    .menu-holder {
      max-width: 1320px;

      @media (max-width: 1600px) {
        max-width: 80%;
      }
    }
  }

  .hero {
    padding: 150px 0 185px 0;
    background: url("../images/shared/portfolio-lines.svg") center 90% no-repeat;
    text-align: center;

    h1 {
      b {
        font-variation-settings: 'wght' 600;
      }

      br {
        display: none;

        @media (max-width: 600px) {
          display: inline;
        }
      }
    }
  }

  .hero-badges {
    display: none;
    padding-top: 3%;

    .container {
      max-width: 95%;
    }

    @media (max-width: 600px) {
      display: block;
    }
  }

  .text-wrap {
    max-width: 398px;

    .actions {
      .logo-frame-m {
        display: none;
      }
    }

    &.white {
      .site-title,
      p {
        color: #fff;
      }

      .line {
        border-color: #fff;
      }

      .actions {
        a.demo {
          background: #fff;
          color: #303030;
        }
  
        svg path {
          fill: #fff;
        }
      }
    }

    .site-title {
      font-variation-settings: 'wght' 400;
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 39px;
    }

    .line {
      width: 72px;
      border-top: 1px solid #333;
      margin-bottom: 20px;
    }

    p {
      font-variation-settings: 'wght' 400;
      margin-bottom: 50px;
    }

    .actions {
      display: flex;

      a {
        margin-right: 18px;

        &.demo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 170px;
          height: 45px;
          background: #1994ff;
          border-radius: 100px;
          color: #fff;
          text-decoration: none !important;

          &.white {
            background: #fff;
            color: #303030;
          }
        }
      }
    }
  }

  .mup,
  .tree-of-life,
  .coffee,
  .surve {
    .container {
      .img-wrap {
        display: none;
      }
    }
  }

  .asia {
    background: #f9f9f9 url('../images/portfolio/asia-bg.svg') no-repeat;

    .container .img-wrap {
      padding-right: 5%;

      @media (max-width: 600px) {
        padding: 0;
      }
    }
  }

  .surge {
    .container {
      .img-wrap {
        transform: translateX(15%);
      }
    }
  }

  .lineage {
    background-image: linear-gradient(94.53deg, #D1DAE3 100%,#EFEFEF 2.58%);
  }

  .mup {
    background: #f7f7f7 url('../images/portfolio/multiunitpros.png') right no-repeat;

    @media (max-width: 1700px) {
      background-position: 23em;
    }

    .container {
      flex-direction: row !important;
    }
  }

  .breachlock {
    background: linear-gradient(98.62deg, #71A7FF 100%, #4C80D4 0%);

    .container {
      flex-direction: row !important;
    }
  }

  .medical {
    background: #f2f2f2;

    .container {
      flex-direction: row-reverse;
    }
  }

  .aeriform {
    background: #00a0a2;

    .container {
      flex-direction: row;
    }
  }

  .paystubs {
    background: #f9f9f9;
  }

  .tree-of-life {
    background: url('../images/portfolio/treeoflife.png') left no-repeat, linear-gradient(262.81deg, #60C5FF 0%, #159FED 100%);

    @media (max-width: 1720px) {
      background-position: -50%;
    }
    
    @media (max-width: 1550px) {
      background-position: -140%;
    }

    @media (max-width: 1440px) {
      background-position: -270%;
    }

    @media (max-width: 1360px) {
      background-position: -30em 0, 0 0;
      background-size: cover;
    }

    @media (max-width: 1150px) {
      background-position: -41em 0, 0 0;
    }

    .container {
      flex-direction: row-reverse !important;
    }
  }

  .surve {
    background: #f9f9f9 url('../images/portfolio/surve.png') 50em no-repeat;
    background-size: contain;

    @media (max-width: 1366px) {
      background-position: 40em;
    }

    .container {
      flex-direction: row !important;
    }
  }

  .coffee {
    background: #367bf5 url('../images/portfolio/coffeewithus.png') left no-repeat;
    background-size: contain;

    @media (max-width: 1720px) {
      background-position: -50%;
    }
    
    @media (max-width: 1550px) {
      background-position: -140%;
    }

    @media (max-width: 1360px) {
      background-position: -30em;
      background-size: cover;
    }

    @media (max-width: 1150px) {
      background-position: -41em;
    }

    .container {
      flex-direction: row-reverse !important;
    }
  }

  .performance {
    width: 100%;
    background: url('../images/portfolio/performance.png') center center no-repeat, url('../images/shared/portfolio-lines.svg') center 62% no-repeat;
    background-size: cover, contain;
    padding: 130px 0 140px 0;

    .container {
      flex-direction: column !important;
      justify-content: unset;
      align-items: center;

      .site-title {
        font-variation-settings: 'wght' 400;
        font-size: 36px;
        line-height: 39px;
        margin-bottom: 50px;
      }

      .iframe-wrap {
        width: 827px;
        position: relative;
        filter: drop-shadow(0px 70px 150px rgba(0, 0, 0, 0.4));

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 464px;
          border-radius: 20px;
        }
      }
    }
  }

  .view-projects {
    padding: 10% 0;

    .container {
      display: flex;
      justify-content: space-between;

      a {
        width: 35%;
        display: flex;
        align-items: center;
        background: #ededed;
        border-radius: 20px;
        padding: 5% 2.5%;
        text-decoration: none !important;

        &:hover {
          background: #fff;
          box-shadow: 0 30px 70px rgba(0, 0, 0, 0.1);

          svg path {
            fill: #1994ff;
          }
        }

        svg {
          margin-right: 10%;
          min-width: 100px;
        }

        h5 {
          font-family: "Mulish", sans-serif;
          font-variation-settings: 'wght' 700;
          font-size: 60px;
          color: #303030;
          margin: 0;
        }
      }

      h4 {
        font-size: 40px;
        width: 25%;
        display: flex;
        align-items: center;
      }
    }
  }

  @media (max-width: 1500px) {
    section {
      height: 720px;

      .container {
        .img-wrap {
          width: 65%;
        }
      }
    }

    .view-projects {
      .container {
        a {
          h5 {
            font-size: 45px;
          }
        }

        svg {
          min-height: 85px;
        }

        h4 {
          font-size: 35px;
        }
      }
    }
  }

  @media (max-width: 1280px) {
    section {
      height: auto;
      padding-top: 10%;

      .container {
        flex-direction: column-reverse !important;
        align-items: center;

        .text-wrap {
          max-width: 100%;
          padding-bottom: 10%;
        }
      }
    }

    .surge .container .img-wrap {
      transform: translate(0);
    }

    .breachlock {
      .container {
        flex-direction: column-reverse !important;
      }
    }

    .mup,
    .tree-of-life,
    .surve,
    .coffee {
      padding-bottom: 50%;
      background-size: 800px;
      background-position: 0 bottom;
    }

    .tree-of-life {
      background: url('../images/portfolio/treeoflife-m.png') left bottom no-repeat, linear-gradient(262.81deg, #60C5FF 0%, #159FED 100%);
      background-size: 55%, cover;
    }

    .coffee {
      background: #367bf5 url('../images/portfolio/coffeewithus-m.png') left bottom no-repeat;
      background-size: 55%;
    }

    .mup {
      background: url('../images/portfolio/multiunitpros-m.png') right bottom no-repeat;
      background-size: 65%;
    }

    .surve {
      background-position: bottom right;
      background-size: 80%;
    }

    .performance {
      .container {
        .iframe-wrap {
          width: 100%;
          padding-bottom: 56.25%;

          iframe {
            height: 100%;
          }
        }
      }
    }

    .view-projects {
      .container {
        flex-wrap: wrap;
        justify-content: space-around;

        h4 {
          width: 100%;
          text-align: center;
          padding-bottom: 10%;
          display: block;
        }

        a {
          justify-content: center;
          width: 42%;
          
          svg {
            width: 80px;
            min-width: unset;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    section {
      .container {
        .img-wrap {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .view-projects {
      .container {
        flex-direction: column;
        align-items: center;

        a {
          max-width: 600px;
          width: 80%;
          margin-bottom: 35px;

          &:last-of-type {
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    section .container {
      max-width: 100%;
      flex-direction: column !important;

      &:nth-of-type(even) {
        flex-direction: column !important;
      }

      .img-wrap {
        max-width: 90%;
        margin: auto;
        cursor: pointer;
      }

      .text-wrap {
        width: 100%;
        padding: 0;

        .portfolio-project-info {
          display: block;
        }

        .inner {
          display: none;
          padding-top: 20px;
          border-top: 1px solid #f9f9f9;

          & > * {
            padding: 0 5%;
          }

          .portfolio-project-info {
            padding-bottom: 50px;
          }
        }

        .actions {
          padding: 20px 5%;
          justify-content: space-between;

          a {
            &:last-of-type {
              margin: 0;
            }
          }

          .logo-frame-m {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .call-frame,
    .book {
      display: block;
    }

    header {
      background: #f9f9f9;
    }

    .hero {
      padding: 100px 0 20px 0;
      background: #f9f9f9;

      h1 {
        font-size: 24px;
        line-height: 30px;
      }
    }

    .text-wrap {
      background: #fff;
      display: flex;
      flex-direction: column-reverse;

      p {
        margin-bottom: 40px;

        b {
          font-variation-settings: 'wght' 700 !important;
        }
      }

      .line,
      .site-title {
        display: none;
      }

      .actions {
        a.demo {
          display: none;
        }
      }

      &.white {
        .actions {    
          svg path {
            fill: rgb(25, 148, 255);
          }
        }

        p {
          color: initial;
        }
      }
    }

    .tree-of-life {
      background: linear-gradient(262.81deg, #60C5FF 0%, #159FED 100%);
      padding: 5% 0 0 0;

      .container {
        flex-direction: column !important;

        .img-wrap {
          display: block;
          max-width: 100%;
        }
      }
    }

    .breachlock {
      padding: 0;

      .container {
        flex-direction: column !important;
        
        .img-wrap {
          margin-top: 10%;
        }
      }
    }

    .coffee {
      background: #367bf5;
      padding: 0;

      .container {
        flex-direction: column !important;

        .img-wrap {
          display: block;
          max-width: 100%;
        }
      }
    }

    .mup {
      .container .img-wrap {
        margin-bottom: -10%;
      }
    }

    .surge {
      background: #f9f9f9;

      .container {
        .img-wrap {
          max-width: 100% !important;
        }
      }
    }

    .mup,
    .coffee {
      padding-top: 0;
    }

    .surve {
      padding-top: 0;
    }

    .mup,
    .surve {
      background: #f9f9f9;
      padding-bottom: 0;

      .container {
        flex-direction: column !important;

        .img-wrap {
          max-width: 100%;
          display: block;
        }
      }
    }

    .performance {
      padding: 10% 0;

      .container {
        max-width: 90%;
      }

      .site-title {
        text-align: center;
      }
    }

    .site-title {
      font-size: 28px !important;
      line-height: 39px !important;
    }

    .view-projects {
      .container {
        h4 {
          font-size: 28px;
          line-height: 39px;
        }
      }
    }

    @media (max-width: 480px) {
      .performance {
        padding: 15% 0;
      }

      .view-projects {
        .container {
          h4 {
            font-size: 25px;
          }

          a {
            h5 {
              font-size: 25px;
            }

            svg {
              width: 50px;
              min-height: unset;
              height: auto;
            }
          }
        }
      }

      section {
        .container {
          .text-wrap {
            .actions {
              .socials {
                display: flex;

                a {
                  width: 27px;
                  height: 27px;
                  display: block;
  
                  svg {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}