.page-template-template-privacy {
  .hero {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    flex-direction: column;
    padding-top: 70px;
    h1 {
      font-family: "Lora", serif;
      font-size: 60px;
      padding: 50px;
      margin: 0 auto;
    }
    .bgImg {
      background-image: url("../images/shared/Group\ 234.svg");
      background-repeat: no-repeat;
      width: 100%;
      height: 200px;
      background-position: bottom;
    }
  }
  .wrepper {
    background-color: #f5f5f5;
    width: auto;
    height: auto;
    padding: 50px;
    .text-content {
      background: #fff;
      padding: 75px;
      width: 1200px;
      margin: 0 auto;
      font-family: "Mulish", sans-serif;
      font-size: 16px;
      line-height: 24px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
    }
  }
}

@media (max-width: 1326px) and (min-width: 1100px) {
  .page-template-template-privacy .wrepper {
    padding: 40px;
  }
  .page-template-template-privacy .wrepper .text-content {
    padding: 60px;
    width: 1000px;
  }
}

@media (max-width: 1099px) and (min-width: 800px) {
  .page-template-template-privacy .wrepper {
    padding: 30px;
  }
  .page-template-template-privacy .wrepper .text-content {
    padding: 50px;
    width: 700px;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .page-template-template-privacy .wrepper {
    padding: 20px;
  }
  .page-template-template-privacy .wrepper .text-content {
    padding: 40px;
    width: 500px;
  }
  .page-template-template-privacy .hero h1 {
    padding: 25px;
    font-size: 50px;
  }
}

@media (max-width: 599px) and (min-width: 400px) {
  .page-template-template-privacy .wrepper {
    padding: 15px;
  }
  .page-template-template-privacy .wrepper .text-content {
    padding: 30px;
    width: 350px;
  }
  .page-template-template-privacy .hero h1 {
    padding: 20px;
    font-size: 40px;
  }
}

@media (max-width: 399px) {
  .page-template-template-privacy .wrepper {
    padding: 10px;
  }
  .page-template-template-privacy .wrepper .text-content {
    padding: 30px;
    width: 280px;
  }
  .page-template-template-privacy .hero h1 {
    padding: 20px;
    font-size: 40px;
  }
}