.page-template-template-ty-page {
  .holder .bg-desktop {
    top: 55% !important;
  }
}

.page-template-template-schedule-a-call,
.page-template-template-ty-page,
.template-website-grader-appointmen {
  header {
    // position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  .ty-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;

    h2 {
      font-size: 60px;
      line-height: 90px;
    }

    p {
      font-size: 30px;
      margin-bottom: 35px;
    }

    a {
      font-size: 24px;
      background: #1994ff;
      height: 50px;
      width: 250px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;

      &:hover {
        text-decoration: none;
        border: 1px solid #1994ff;
        background: #fff;
        color: #1994ff;
      }
    }
  }

  .holder {
    // height: 1167px;
    background: #fafafa;
    padding-top: 171px;
    position: relative;

    .for-phone {
      display: none;
    }

    .bg-desktop {
      position: absolute;
      top: 40%;
      width: 100%;
      z-index: 0;

      svg {
        width: 100%;
      }
    }

    .container {
      z-index: 1;
      position: relative;

      h1,
      h2 {
        font-family: "Lora", serif;
        font-variation-settings: 'wght' 500;
        font-size: 40px;
        line-height: 60px;
        color: #323232;
      }

      hr {
        width: 127px;
        margin-left: 0;
      }

      small {
        font-family: "Mulish", sans-serif;
        font-variation-settings: 'wght' 500;
        font-size: 22px;
        line-height: 47px;
        color: #323232;
      }

      .wrapper {
        max-width: 860px;
        margin: auto;
      }
    }
  }

  .form {
    height: 687px;
    background: #f5f5f5;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-text {
      width: 80%;
      margin: 0 auto;
      padding-top: 100px;
      z-index: 2;
      position: relative;
      display: flex;
      justify-content: space-around;

      .form-holder {
        max-width: 451px;
        width: 100%;
        background: #fff;
        box-shadow: 0 4px 35px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        padding: 35px;

        .text-upper {
          font-size: 30px;
          color: #323232;
          font-family: "Lora", serif;
          font-variation-settings: 'wght' 500;

          hr {
            width: 62px;
            margin-left: 0;
            margin-top: 0;
          }
        }

        .hbspt-form {
          input {
            background: #fff !important;
            border-radius: 10px !important;
          }
        }

        form {
          display: flex;
          flex-direction: column;

          input[type="text"] {
            max-width: 380.04px;
            width: 100%;
            height: 40px;
            border: 1px solid #dedede;
            box-sizing: border-box;
            border-radius: 10px;
            padding-left: 15px;
            outline: none;
          }

          input[type="submit"] {
            width: 208.94px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: #1994ff;
            border-radius: 100px;
            border: 1px solid #1994ff;
            margin-top: 31px;
            margin-right: auto;
            margin-left: auto;
          }
        }
      }

      .text {
        max-width: 829px;
        padding-top: 75px;
        padding-right: 5px;

        p {
          font-size: 40px;
          line-height: 60px;
          font-family: "Lora", serif;
          font-variation-settings: 'wght' 500;
        }

        hr {
          width: 159px;
          margin-left: 0;
        }
      }
    }

    .bg-desktop {
      position: absolute;
      width: 100%;
      z-index: 0;
      top: 20px;

      svg {
        width: 100%;
      }
    }

    .for-phone {
      display: none;
    }

    .copy {
      display: flex;
      justify-content: center;
      font-family: "Mulish", sans-serif;
      font-size: 14px;
      line-height: 17px;
      font-variation-settings: 'wght' 500;
      padding-bottom: 35px;
    }
  }
}

@media (max-width: 1530px) {
  .page-template-template-schedule-a-call .form .form-text,
  .page-template-template-ty-page .form .form-text,
  .template-website-grader-appointmen .form .form-text {
    width: 100%;
    padding: 100px 30px 0 30px;
  }
}

@media (max-width: 1275px) {
  .page-template-template-schedule-a-call .form .bg-desktop,
  .page-template-template-ty-page .form .bg-desktop,
  .template-website-grader-appointmen .form .bg-desktop {
    display: none;
  }
}

@media (max-width: 1046px) {
  .page-template-template-schedule-a-call .form,
  .page-template-template-ty-page .form,
  .template-website-grader-appointmen .form {
    height: fit-content;

    .copy {
      display: none;
    }

    .form-text {
      flex-direction: column;
      align-items: center;
      padding: 0 30px 50px 0;
      height: fit-content;

      .text {
        margin-bottom: 37px;
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .page-template-template-schedule-a-call .ty-section,
  .page-template-template-ty-page .ty-section,
  .template-website-grader-appointmen .ty-section {
    h2 {
      font-size: 45px;
      line-height: 60px;
    }

    p {
      font-size: 22px;
      margin-bottom: 25px;
    }

    a {
      font-size: 20px;
      height: 45px;
    }
  }
}

@media (max-width: 768px) {
  .page-template-template-ty-page {
    .ty-section {
      h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 50px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 580px) {
  .page-template-template-schedule-a-call .form .form-text .text p,
  .page-template-template-ty-page .form .form-text .text p,
  .template-website-grader-appointmen .form .form-text .text p {
    font-size: 25px;
    line-height: 40px;
  }

  .page-template-template-schedule-a-call .holder .container h1,
  .page-template-template-ty-page .holder .container h1,
  .page-template-template-schedule-a-call .holder .container h2,
  .page-template-template-ty-page .holder .container h2,
  .template-website-grader-appointmen .holder .container h2,
  .template-website-grader-appointmen .holder .container h1 {
    font-size: 25px;
    line-height: 40px;
  }

  .page-template-template-schedule-a-call .holder .container small,
  .page-template-template-ty-page .holder .container small,
  .template-website-grader-appointmen .holder .container small {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 31px;
  }

  .page-template-template-schedule-a-call .holder .container .meetings-iframe-container,
  .page-template-template-ty-page .holder .container .meetings-iframe-container,
  .template-website-grader-appointmen .holder .container .meetings-iframe-container {
    margin-top: 31px;
  }

  .page-template-template-schedule-a-call .form .form-text,
  .page-template-template-ty-page .form .form-text,
  .template-website-grader-appointmen .form .form-text {
    padding: 0 25px 40px 25px;
  }

  .page-template-template-schedule-a-call .form .form-text .form-holder,
  .page-template-template-ty-page .form .form-text .form-holder,
  .template-website-grader-appointmen .form .form-text .form-holder {
    height: fit-content;
  }

  .page-template-template-schedule-a-call .form .for-phone,
  .page-template-template-ty-page .form .for-phone,
  .template-website-grader-appointmen .form .for-phone {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 40%;

    svg {
      width: 100%;
    }
  }

  .page-template-template-schedule-a-call .holder .bg-desktop,
  .page-template-template-ty-page .holder .bg-desktop,
  .template-website-grader-appointmen .holder .bg-desktop {
    display: none;
  }

  .page-template-template-schedule-a-call .holder .for-phone,
  .page-template-template-ty-page .holder .for-phone,
  .template-website-grader-appointmen .holder .for-phone {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 40%;

    svg {
      width: 100%;
    }
  }

  .page-template-template-ty-page .holder .for-phone {
    top: 20%;
  }
}
