.template-services-searchEngine,
.template-services-development,
.template-services-email,
.template-services-socialMedia {
  .wrap {
    padding-top: 70px;
  }
}

.template-services-searchEngine {
  .service-header {
    background: url("../images/services/paid-search/hero_image1.png") center no-repeat;
  }

  .paid-redesign2 .Reimg {
    background-image: url("../images/services/paid-search/redesign.png");
  }

  .service-first-part {
    .first-article {
      .article-frame {
        border: 1px solid #C7C7C7;
        box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
      }
    }

    .second-article {
      .article-frame {
        border: 1px solid #C7C7C7;
        box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
      }
    }
  }

  @media (max-width: 1024px) {
    .service-first-part .first-article .article-frame .img-wrap {
      //background: url("../images/services/paid-search/first-art.png") no-repeat;
    }

    .second-article .article-frame .img-wrap {
      //background: url("../images/services/paid-search/nd-art.png") no-repeat;
    }

    .paid-redesign3 .article-frame .img-wrap {
      background: url("../images/services/paid-search/redesign-article.png") no-repeat;
    }
  }

  @media (max-width: 900px) {
    .service-first-part .first-article .article-frame .img-wrap {
      img {
        border-radius: 40px;
      }
    }

    .service-first-part .second-article .article-frame .img-wrap {
      img {
        border-radius: 40px;
      }
    }
  }

  @media (max-width: 480px) {
    .service-first-part {
      .first-article {
        .article-frame {
          top: 50px !important;

          .art-txt {
            margin-top: 0 !important;
          }
        }
      }

      .quotes:nth-of-type(2) {
        margin-top: 0 !important;
      }
    }
  }

  @media (max-width: 400px) {
    .service-first-part {
      .first-article {
        .article-frame {
          top: 30px !important;
        }
      }
    }
  }
}

.template-services-searchEngine,
.template-services-socialMedia {
  @media (max-width: 1024px) {
    .get-started {
      .started-box {
        max-width: 85% !important;
      }
    }
  }

  @media (max-width: 600px) {
    .get-started .started-box .p-box {
      flex-direction: column;

      p {
        width: initial !important;

        &:last-of-type {
          display: none;
          padding-top: 20px;
        }
      }
    }
  }
}

.template-services-socialMedia {
  .service-header {
    background: url("../images/services/social-media/hero2.png") center no-repeat;
  }

  .paid-redesign2 .Reimg {
    background-image: url("../images/services/social-media/redesign.png");
  }

  .get-started:nth-of-type(1) {
    background: #fff !important;
  }

  .article-frame {
    border: 1px solid #C7C7C7;
    box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.07);
    border-radius: 30px !important;

    .art-txt {
      a {
        color: #007BE7;
        text-decoration: none;
        font-variation-settings: 'wght'400;
        font-size: 22px;

        &:hover {
          text-decoration: none;
        }
      }

      // a:after {
      //   content: "-";
      //   width: 30px;
      //   height: 1px;
      //   color: #007BE7;
      //   margin-left: 11px;
      // }
    }
  }

  @media (max-width: 1024px) {
    .service-first-part .first-article .article-frame .img-wrap {
      //background: url("../images/services/social-media/first-art.png") no-repeat;
    }

    .paid-redesign3 .article-frame .img-wrap {
      //background: url("../images/services/social-media/redesign-article.png") no-repeat;
    }
  }

  @media(max-width: 900px) {
    .service-first-part .first-article .article-frame .img-wrap {
      img {
        border-radius: 40px;
      }
    }

    .service-first-part {
      .first-article {
        background: url("../images/services/social-media/first-art111.png") no-repeat !important;
      }
    }
  }
}

@media(max-width: 400px) {
  .template-services-socialMedia {
    .service-first-part {
      .first-article {
        background: url("../images/services/social-media/first-art1-mobile.png") no-repeat !important;
      }
    }
  }
}

.template-services-email {
  .service-header {
    background: url("../images/services/email/hero222.png") center no-repeat;
  }

  .paid-redesign2 .Reimg {
    background-image: url("../images/services/email/redesign.png");
  }

  .get-started {
    .hidden-content-service {
      ul {
        padding-inline-start: 20px;
        font-family: "Mulish", sans-serif;
        color: #323232;
      }
    }
  }

  @media (max-width: 1112px) {
    .get-started .started-box {
      max-width: 85% !important;
    }
  }

  @media (max-width: 1024px) {
    .service-first-part .first-article .article-frame .img-wrap {
      //background: url("../images/services/email/first-art.png") no-repeat;
    }

    .second-article .article-frame .img-wrap {
      //background: url("../images/services/email/nd-art.png") no-repeat;
    }

    .paid-redesign3 .article-frame .img-wrap {
      //background: url("../images/services/email/redesign-article.png") no-repeat;
    }
  }

  .service-first-part {
    .first-article {
      .article-frame {
        border: 1px solid #C7C7C7;
        box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
      }
    }

    .second-article {
      .article-frame {
        border: 1px solid #C7C7C7;
        box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
      }
    }
  }

  @media(max-width: 900px) {
    .service-first-part .first-article .article-frame .img-wrap {
      img {
        border-radius: 40px;
      }
    }

    .service-first-part {
      .first-article {
        background: url("../images/services/email/first-art11-medium.png") no-repeat !important;
      }
    }

    .service-first-part {
      .second-article {
        background: url("../images/services/email/nd-art11-medium.png") no-repeat !important;
      }
    }

    .service-first-part .second-article .article-frame .img-wrap {
      img {
        border-radius: 40px;
      }
    }
  }

  @media (max-width: 600px) {
    .get-started .started-box {
      .hidden-content-service {
        display: none;
      }

      p .hidden-service {
        display: inline;
      }
    }
  }

  @media (max-width: 480px) {
    .service-first-part {
      .first-article {
        .article-frame {
          top: 200px !important;
        }
      }
    }

    .service-first-part {
      .second-article {
        .article-frame {
          top: 200px !important;
        }
      }
    }
  }

  @media (max-width: 390px) {
    .service-first-part {
      .first-article {
        background: url("../images/services/email/first-art11-mobile.png") no-repeat !important;

        .article-frame {
          top: 115px !important;
        }
      }
    }

    .service-first-part {
      .second-article {
        background: url("../images/services/email/nd-art11-mobile.png") no-repeat !important;

        .article-frame {
          top: 115px !important;
        }
      }
    }
  }

  @media (max-width: 375px) {
    .get-started .started-box p .hidden-service {
      margin-left: 0;
    }
  }
}

.template-services-development {
  .service-header {
    background: url("../images/services/development/hero123123.png") center no-repeat;
  }

  .paid-redesign2 .Reimg {
    background-image: url("../images/services/development/redesign.png");
  }

  .service-first-part {
    .first-article {
      .article-frame {
        border: 1px solid #C7C7C7;
        box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
      }
    }

    .second-article {
      .article-frame {
        border: 1px solid #C7C7C7;
        box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
      }
    }
  }

  @media (max-width: 1112px) {
    .get-started .started-box {
      max-width: 85% !important;

      p {
        text-align: center;

        &:first-of-type {
          text-align: center;

          br {
            display: inline !important;
          }
        }

        &:last-of-type {
          max-width: 80%;
          margin: auto;
          padding-top: 15px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .service-first-part .first-article .article-frame .img-wrap {
      //background: url("../images/services/development/first-art.png") no-repeat;
    }

    .second-article .article-frame .img-wrap {
      //background: url("../images/services/development/nd-art.png") no-repeat;
    }

    .paid-redesign3 .article-frame .img-wrap {
      background: url("../images/services/development/redesign-article.png") no-repeat;
    }
  }

  @media(max-width: 900px) {
    .service-first-part .first-article .article-frame .img-wrap {
      img {
        border-radius: 40px;
      }
    }

    .service-first-part .second-article .article-frame .img-wrap {
      img {
        border-radius: 40px;
      }
    }

    .service-first-part {
      .first-article {
        background: url("../images/services/development/first-art1-medium.png") no-repeat !important;
      }
    }

    .service-first-part {
      .second-article {
        background: url("../images/services/development/nd-art1-medium.png") no-repeat !important;
      }
    }
  }

  @media (max-width: 650px) {
    .get-started .started-box p:first-of-type br {
      display: none !important;
    }
  }

  @media (max-width: 600px) {
    .get-started .started-box {
      p .hidden-service {
        display: inline;
      }

      .hidden-content-service {
        display: none;
      }
    }
  }

  @media(max-width: 480px) {
    .service-first-part {
      .second-article {
        .article-frame {
          top: 170px !important;
        }
      }
    }
  }

  @media (max-width: 414px) {
    .get-started .started-box p:last-of-type {
      max-width: initial;
    }
  }

  @media (max-width: 390px) {
    .service-first-part {
      .first-article {
        background: url("../images/services/development/first-art111-mobile.png") no-repeat !important;
      }

      .second-article {
        background: url("../images/services/development/nd-art111-mobile.png") no-repeat !important;

        .article-frame {
          top: 90px !important;
        }
      }
    }
  }
}

.template-services-searchEngine,
.template-services-socialMedia,
.template-services-email,
.template-services-development {
  p {
    font-family: "Mulish", sans-serif;
  }

  .get-started-btn {
    width: 185px;
    height: 45px;
    border: 1px solid #1994ff;
    font-size: 16px;
    line-height: 20px;
    border-radius: 100px;
    color: #1994ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;

    &:hover {
      text-decoration: none;
    }
  }

  .article-frame {
    margin: auto;
    max-width: 1030px;
    display: flex;
    border-radius: 63px;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .art-txt {
      max-width: 430px;
      padding-left: 50px;
    }

    h4 {
      font-family: "Lora", sans-serif;
      font-size: 30px;
      line-height: 38px;
      color: #323232;
      margin-bottom: 13px;
    }

    .line {
      width: 79px;
      border-bottom: 1px solid #898989;
      margin-bottom: 23px;
    }

    p {
      font-size: 16px;
      line-height: 27px;
      color: #323232;
      font-variation-settings: 'wght'300;
      ;
    }
  }

  .counter-art {
    .art-txt {
      padding: 0;
      margin-right: 40px;
    }
  }

  .service-header {
    width: initial;
    height: 410px;
    background-size: cover;

    .tint {
      width: inherit;
      height: inherit;
      background: rgba(233, 233, 233, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;

      .header-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          margin-bottom: 17px;
        }

        h1 {
          font-family: "Lora", sans-serif;
          font-size: 50px;
          line-height: 64px;
          margin-bottom: 20px;
        }

        p {
          font-size: 25px;
          line-height: 30px;
          font-variation-settings: 'wght'400;
          ;
        }
      }
    }
  }

  .get-started {
    padding: 60px 0;
    background: #f9f9f9;

    &:last-of-type {
      background: #fff !important;
    }

    .started-box {
      margin: auto;
      font-variation-settings: 'wght'300;
      ;
      font-size: 16px;
      line-height: 27px;
      color: #303030;
      display: flex;
      flex-direction: column;
      align-items: center;

      .p-box {
        p {
          width: 45%;
          margin-bottom: 0;
        }
      }

      .hidden-service {
        display: none;
      }

      p span {
        cursor: pointer;
      }
    }
  }

  .service-first-part {
    .quotes {
      padding: 55px 0;

      .quotes-box {
        max-width: 1040px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          padding: 22px 0;
          text-align: center;
          font-size: 16px;
          line-height: 27px;
          font-family: "Mulish", sans-serif;
          font-style: italic;
          margin-bottom: 0;
          color: #303030;
        }
      }
    }

    .first-article {
      background: #f9f9f9 url("../images/shared/article-lines.svg") no-repeat;
      padding: 150px 0 100px 0;
    }
  }

  .second-article {
    background: #f9f9f9 url("../images/shared/counter-art.svg") 0 70% no-repeat;
    padding: 100px 0;
  }

  .schedule-call {
    width: initial;
    height: 177px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Mulish", sans-serif;

    p {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 30px;
    }

    a {
      width: 185px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #1994ff;
      border-radius: 100px;
      font-size: 16px;
      line-height: 20px;
      color: #1994ff;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .redesign-wrap {
    background: #f9f9f9;
  }

  .paid-redesign2 {
    background-color: #f9f9f9;
    width: 100%;
    padding: 23px 0 43px 0;

    .Retxt {
      margin: 48px auto;
      width: 1030px;

      h1 {
        font-family: $secondary-font, serif;
        font-size: 30px;
      }

      p {
        font-size: 16px;
        font-family: $main-font, sans-serif;
        font-style: normal;
        margin: 0;
        padding: 0;
        line-height: 27px;
      }

      .h2 {
        font-family: $secondary-font, serif;
        font-size: 25px;
        padding-bottom: 30px;
        padding-top: 32px;
      }
    }

    .line {
      width: 98px;
      height: 0;
      border: 1px solid #303030;
      margin-top: 43px;
      margin-bottom: 43px;
    }

    .Reimg {
      width: 1030px;
      height: 218px;
      margin: 40px auto;
      display: flex;
      justify-content: center;
    }
  }

  .paid-redesign3 {
    background: #f9f9f9 url("../images/shared/service-lines.svg") 0 55% no-repeat;
    padding: 55px 0 65px 0;

    .article-frame .img-wrap img {
      border-radius: 60px;
    }
  }

  .paid-redesign4 {
    background-color: #f9f9f9;

    .txt {
      width: 1030px;
      // height: 454px;
      height: 100%;
      margin: 0 auto;

      h1 {
        font-family: $secondary-font, serif;
        font-size: 30px;
        margin: 0;
      }

      .p {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          font-family: $main-font, sans-serif;
          font-size: 16px;
          width: 100%;
          margin-bottom: 25px;
          line-height: 27px;

          &:last-child {
            padding-bottom: 0;
            margin-bottom: 25px;
          }
        }
      }
    }
  }

  .paid-redesign5 {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-bottom: 47px;

    //PAID REDESIGN HIDE BUTTONS HERE
    .btn {
      //display: flex;
      justify-content: center;
      cursor: pointer;
      display: none;
    }

    .hidd {
      width: 1043px;
      margin: 0 auto;
    }

    //PAID REDESIGN HIDE BUTTONS HERE
    .txt {
      //hiddendisplay: flex;
      justify-content: center;
      padding-left: 6px;
      display: none;

      p {
        font-family: $main-font, sans-serif;
        font-size: 16px;
        line-height: 27px;
      }
    }
  }

  .paid-redesign6 {
    background-color: #f5f5f5;
    padding: 40px;

    p {
      display: flex;
      justify-content: center;
      font-family: $main-font, sans-serif;
      font-size: 18px;
      line-height: 22px;
      margin-top: 40px;
    }

    .infBtn {
      width: 185px;
      height: 45px;
      margin: auto;
      border: 1px solid #1994ff;
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1994ff;
      border-radius: 100px;
      margin-top: 29px;

      a {
        text-decoration: none;
        color: #1994ff;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 12px;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 1112px) {
    .quotes .quotes-box {
      max-width: 80% !important;
    }

    .redesign-wrap {

      .paid-redesign2,
      .paid-redesign4,
      .paid-redesign5 {
        width: 90%;
        margin: auto;
      }

      .Retxt,
      .Reimg,
      .txt {
        width: initial;
      }
    }

    .article-frame {
      width: 90%;

      .img-wrap {
        padding: 0;
        padding-left: 6%;
      }
    }

    .counter-art {
      .img-wrap {
        padding: 0;
        padding-right: 3%;
      }
    }
  }

  @media (max-width: 1024px) {
    .article-frame {
      .img-wrap {
        //width: 40%;
        //height: 400px;
        border-radius: 40px;

        img {
          //display: none;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .service-first-part {
      .first-article {
        background: #f9f9f9 url("../images/shared/article-lines.svg") no-repeat;
        background: url("../images/services/paid-search/first-art-medium.png") no-repeat;
        background-size: cover;
        border-radius: 30px;
        padding: 230px 0 110px 0;

        .article-frame {
          flex-direction: column;
          position: relative;
          top: 170px;
          //background: none;
          border: 1px solid #C7C7C7;

          .img-wrap {
            background: none !important;
            order: -1;
            width: initial;
            padding: 0 !important;

            img {
              display: none;
            }
          }

          .art-txt {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            //align-items: center;
            background: #fff;
            padding: 50px;
            border-radius: 50px;
            margin-top: -120px;

            h4 {
              text-align: left;
            }

            p {
              text-align: left;
            }
          }
        }
      }

      .quotes:nth-of-type(2) {
        padding-top: 140px !important;
      }
    }

    .service-first-part {
      .second-article {
        background: url("../images/services/paid-search/nd-art-medium.png") no-repeat;
        background-size: cover;
        border-radius: 30px;
        padding: 150px 0 110px 0;

        .article-frame {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          position: relative;
          top: 170px;

          .img-wrap {
            background: none !important;

            img {
              display: none;
            }
          }

          .art-txt {
            max-width: 100%;
            padding: 50px;
          }
        }
      }

      .quotes:nth-of-type(3) {
        padding-top: 140px !important;
      }

      .quotes:nth-of-type(2) {
        padding-top: 140px !important;
      }
    }

    .counter-art .art-txt {
      margin-right: 0;
    }
  }

  @media (max-width: 800px) {
    .service-header .tint .header-box {
      width: 80%;

      svg {
        width: 110px;
        height: 110px;
      }

      h1 {
        font-size: 40px;
        line-height: 45px;
        margin-top: 12px;
        text-align: center;
      }

      p {
        font-size: 22px;
      }
    }
  }

  @media (max-width: 600px) {
    .service-first-part {
      .first-article {
        .article-frame {
          width: 85%;
        }
      }
    }


    .get-started .started-box .p-box p .hidden-service {
      display: inline;
    }
  }

  @media (max-width: 480px) {
    .service-header .tint .header-box {
      h1 {
        font-size: 35px;
        line-height: 45px;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }

      svg {
        width: 100px;
        height: 100px;
      }
    }

    .article-frame {
      border-radius: 40px;

      h4 {
        font-size: 25px;
        text-align: center;
      }

      p {
        text-align: center;
      }

      .art-txt {
        padding: 40px 33px;
      }
    }

    .service-first-part {
      .first-article {
        background: url("../images/services/paid-search/first-art-mobile.png") no-repeat;
        background-size: contain;
        border-radius: 30px;

        .article-frame {
          .art-txt {
            padding: 20px;
          }
        }
      }
    }

    .service-first-part {
      .second-article {
        background: url("../images/services/paid-search/nd-art-mobile.png") no-repeat;
        background-size: contain;
        border-radius: 30px;

        .article-frame {
          width: 85%;
          top: 120px;

          .art-txt {
            padding: 20px;
            align-items: unset;
            margin-top: -15px;

            h4 {
              text-align: left;
            }

            p {
              text-align: left;
            }
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    .article-frame .art-txt {
      margin-top: -100px;
    }

    .service-first-part {
      .first-article {
        .article-frame {
          top: 130px;
          border: none;

          .art-txt {
            border-radius: 30px !important;
            border: 1px solid #C7C7C7;
            align-items: unset;

            h4 {
              text-align: left !important;
            }

            p {
              text-align: left;
            }
          }
        }
      }

      .second-article {
        .article-frame {
          top: 95px;
          padding-top: 20px;
        }
      }
    }
  }
}

.featured-articles-section {
  padding-top: 97px;
  background: url("../images/services/paid-search/articles-svg.svg") no-repeat center;
  background-color: #F9F9F9;

  .featured-title {
    h2 {
      font-size: 40px;
      font-family: 'Lora', sans-serif;
      line-height: 50px;
      text-align: center;

      @media (max-width: 480px) {
        font-size: 30px;
        line-height: 42px;
      }
    }

    .title-bold {
      font-weight: 700;
    }

    hr {
      width: 71px;
      text-align: center;
      margin-top: 23px;
      margin-bottom: 44px;
    }
  }

  .bottom-articles {
    display: flex;
    margin: auto;
    width: 55%;
    justify-content: space-between;

    @media (max-width: 1000px) {
      align-items: center;

      .article {
        max-width: 80% !important;

        .text {
          height: unset !important;
        }
      }
    } 

    @media (max-width: 480px) {
      .article {
        max-width: 90% !important;
      }
    }

    .article {
      max-width: 30%;

      .image {
        width: 100%;
        height: 222px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 40px;
        }
      }

      .text {
        background: #FFFFFF;
        border: 1px solid #C7C7C7;
        box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
        padding: 20px 25px 45px 25px;
        max-width: 90%;
        height: 321px;
        margin: auto;
        position: relative;
        bottom: 80px;
        display: flex;
        flex-direction: column;

        .title {
          h3 {
            color: #323232;
            font-size: 18px;
            line-height: 27.5px;
            font-family: 'Lora', sans-serif;
            margin-bottom: 13px;
            min-height: 81px;

            @media (max-width: 1000px) {
              min-height: unset;
            }
          }
        }

        // .title::after {
        //   content: '-';
        //   width: 49.35px;
        //   height: 0.69px;
        //   background: #898989;
        //   display: block;
        //   text-align: left;
        //   margin-top: 12.88px;
        //   margin-bottom: 10px;
        // }

        .date {
          color: #BFBFBF;
          font-weight: 600;
          font-size: 12px;
          line-height: 30px;
          margin-bottom: 9px;
        }

        .text-content {
          color: #323232;
          font-size: 14px;
          line-height: 23px;
          font-weight: 300;
          flex-grow: 1;
        }

        a {
          color: #007BE7;
          font-size: 16px;
          line-height: 20px;
          text-decoration: none;
          display: flex;
          margin-top: 5px;
        }

        a:after {
          content: '-';
          width: 26.89px;
          height: 0.69px;
          background: #007BE7;
          display: block;
          margin: auto;
          margin-left: 10px;
        }
      }
    }
  }
}

@media(max-width: 1810px) {
  .featured-articles-section {
    .bottom-articles {
      width: 58%;

      .article {
        .text {
          width: 94%;

          .title {
            h3 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .featured-articles-section {
    .bottom-articles {
      width: 63%;
    }
  }
}

@media (max-width: 1450px) {
  .featured-articles-section {
    .bottom-articles {
      width: 72%;

      .article {
        .text1 {
          .title {
            h3 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1381px) {
  .featured-articles-section {
    .bottom-articles {
      width: 77%;
    }
  }
}

@media (max-width: 1300px) {
  .featured-articles-section {
    .bottom-articles {
      width: 82%;
    }
  }
}

@media (max-width: 1210px) {
  .featured-articles-section {
    .bottom-articles {
      width: 90%;
    }
  }
}

@media (max-width: 1100px) {
  .featured-articles-section {
    .bottom-articles {
      width: 97%;
    }
  }
}

@media (max-width: 1000px) {
  .featured-articles-section {
    .bottom-articles {
      flex-direction: column;

      .article-1 {
        margin: auto;
        max-width: 70%;

        .image1 {
          margin: auto;

          img {
            width: 100%;
          }
        }

        .text1 {
          height: auto;
        }
      }

      .article-2 {
        margin: auto;
        max-width: 70%;

        .image2 {
          margin: auto;

          img {
            width: 100%;
          }
        }

        .text2 {
          height: auto;
        }
      }

      .article-3 {
        margin: auto;
        max-width: 70%;

        .image3 {
          margin: auto;

          img {
            width: 100%;
          }
        }

        .text3 {
          height: auto;
        }
      }
    }
  }
}

// @media (max-width: 800px) {
//   .featured-articles-section  {
//     .bottom-articles {
//       .article-1 {
//         .text1 {
//           height: auto;
//         }
//       }

//       .article-3 {
//         .text3 {
//           height: auto;
//         }
//       }
//     }
//   }
// }
