.single-post {
  header {
    // position: absolute;
    max-width: 1920px;

    .menu-holder {
      max-width: 1320px;
    }
  }

  article {
    .hero {
      height: 500px;
      width: 100%;
      margin-bottom: 70px;
      background: #fafafa url("../images/blog/hero.svg") 0 95% no-repeat;

      .title-holder {
        width: 76%;
        margin: 0 auto;
        padding-top: 143px;

        .title {
          font-size: 40px;
          line-height: 60px;
          font-family: "Lora", sans-serif;
          font-variation-settings: 'wght' 500;
          font-family: unset;
          max-width: 938px;
          text-align: center;
          margin: auto;
        }

        hr {
          width: 71.62px;
          margin-left: 0;
        }
      }
    }

    .container-fluid {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 1320px;
      padding: 0;

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;

        .header {
          time {
            margin: 12px 0 24px 20px;
            display: block;
            font-size: 18px;
            font-family: "Mulish", sans-serif;
            line-height: 30px;
            color: #bfbfbf;
          }

          img {
            width: 100%;
            max-width: 1028px;
            height: 370px;
            object-fit: cover;
            border-radius: 40px;
          }

          p {
            display: none;
          }
        }

        .entry-content {
          //max-width: 1024px;


          p {
            overflow-wrap: break-word;
            max-width: 100%  ;
            margin: 0 auto;
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 26px;
            color: #343434;
            font-family: "Mulish", sans-serif;
          }

          h2,
          h3,
          h4,
          h5,
          h6 {
            margin-bottom: 20px;
          }

          ul {
            padding-inline-start: 20px;
            font-family: "Mulish", sans-serif;
          }

          a {
            color: #00e;

            &:hover {
              text-decoration: none;
            }
          }

          img {
            margin: 20px auto;
            max-width: 73%;
          }

          .alignleft {
            float: none;
          }

          .content1 {
            width: 93%;
          }
        }

        // .share-on {
        //   width: 100%;
        //   max-width: 1028px;
        //   margin: 0 auto;
        //   margin-top: 100px;
        //   margin-bottom: 60px;

        //   h1 {
        //     font-size: 30px;
        //     line-height: 39px;
        //     font-family: "Lora", serif;
        //   }

        //   hr {
        //     width: 71.62px;
        //     margin-left: 0;
        //   }

        //   .social a {
        //     margin-right: 16.3px;
        //     text-decoration: none;

        //     &:hover {
        //       text-decoration: none;
        //     }
        //   }
        // }

        .author-card {
          max-width: 1014px;
          width: 100%;
          height: 209px;
          display: flex;
          background: #fff;
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
          border-radius: 20px;
          align-items: center;
          margin-top: 50px;

          .content {
            display: flex;
            width: initial;
            align-items: flex-start;
            justify-content: center;

            small {
              font-size: 16px;
              line-height: 30px;
              color: #bfbfbf;
              font-family: "Mulish", sans-serif;
            }

            .text-author {
              padding-right: 10px;

              a {
                color: #1994ff;
                text-decoration: none !important;
              }
            }
          }
          
          .image {
            // width: 123px;
            margin-right: 35px;
            margin-left: 5%;
            flex: 1 0 100px;
          }
        }

        .related {
          width: 100%;
          max-width: 1028px;
          margin: 60px auto 0 auto;

          h1 {
            font-size: 30px;
            line-height: 39px;
            color: #323232;
            font-family: "Lora", serif;
            font-variation-settings: 'wght' 500;
          }

          hr {
            margin-left: 0;
            width: 72px;
          }

          .posts-related {
            display: flex;
            justify-content: space-around;

            .single-post {
              width: 50%;
              margin: 25px 0;
      
              .post-content-wrapper {
                width: 500px;
                height: fit-content;
                
                a img {
                  border-radius: 40px;
                  width: 467px;
                  height: 325px;
                  object-fit: cover;
                }
      
                .entry-content {
                  background: #fff;
                  box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
                  border-radius: 40px;
                  max-width: 420px;
                  width: 100%;
                  height: 322px;
                  padding: 35px;
                  margin: 0 auto;
                  position: relative;
                  bottom: 23px;
      
                  .post-desc-div {
                    font-family: "Mulish", sans-serif;
      
                    p {
                      font-size: 16px;
                      line-height: 24px;
                      color: #323232;
                    }
      
                    a {
                      font-size: 22px;
                      line-height: 27px;
                      color: #007be7;
                    }
                  }
      
                  .time-title {
                    overflow-wrap: break-word;
      
                    .time {
                      color: #bfbfbf;
                      font-size: 18px;
                      line-height: 30px;
                      font-family: "Mulish", sans-serif;
                    }
      
                    .post-title {
                      font-size: 26px;
                      line-height: 39px;
                      font-family: "Lora", serif;
                      color: #323232;
                    }
      
                    hr {
                      width: 72px;
                      margin: 22px 0 20px 0;
                    }
                  }
                  
                  .post-description {
                    overflow-wrap: break-word;
                  }
                }
              }
            }
          }
        }

        .comments {
          width: 100%;
          max-width: 1028px;
          background: #fafafa;
          border-radius: 40px;
          padding: 51px;
          margin-top: 60px;

          ol.comment-list {
            footer.comment-meta {
              background: initial;
              flex-direction: column;
              justify-content: center;
              align-items: end;

              .comment-author {
                margin-bottom: 10px;

                img,
                .says {
                  display: none;
                }
              }

              .comment-metadata {
                a {
                  font-family: "Mulish", sans-serif;
                  font-style: normal;
                  font-variation-settings: 'wght' 500;
                  font-size: 16px;
                  line-height: 30px;
                  color: #bfbfbf;
                }
              }
            }

            .comment-content {
              font-family: "Mulish", sans-serif;
              font-style: normal;
              font-variation-settings: 'wght' 500;
              font-size: 16px;
              line-height: 30px;
              color: #323232;
            }

            .reply {
              font-family: "Mulish", sans-serif;
              font-style: normal;
              font-variation-settings: 'wght' 500;
              font-size: 16px;
              line-height: 30px;
              color: #323232;
            }
          }

          .comment-respond {
            h3 {
              font-family: "Lora", serif;
              font-style: normal;
              font-variation-settings: 'wght' 500;
              font-size: 30px;
              line-height: 39px;
              margin-bottom: 20px;
            }

            .comment-form {
              .comment-notes {
                display: none;
              }

              p textarea {
                max-width: 912px;
                min-height: 82px;
                max-height: 102px;
                height: 82px;
                background: #fafafa;
                border-radius: 40px;
                padding: 10px 0 0 25px;
                resize: none;
              }

              p input {
                border: 1px solid #d2d2d2;
                box-sizing: border-box;
                border-radius: 100px;
                background: #fafafa;
              }

              p input.submit {
                background: #1994ff;
                width: 229px;
                height: 43px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }

          h2 {
            font-family: "Lora", serif;
            font-size: 30px;
            line-height: 39px;
            color: #323232;
          }
        }
      }

      .right {
        width: 25%;
        height: fit-content;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //transition: top 300ms ease-out;
        //position: relative;
        position: sticky; 
        //margin: -135px 0 0 410px; 
        top: 70px !important;
    
        .marketing-audit {
          margin-bottom: 50px;
          max-width: 100%;
          height: auto;
          width: 100%;
          object-fit: cover;
          background-image: url("../images/blog/single/audit.png");
        }
    
        .first-issue-image {
          margin-bottom: 50px;
        }
    
        .platinum-text {
          width: 100%;
          margin-bottom: 43px;
        }
    
        .platinum-form {
          width: 380px;
          height: 219px;
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
          border-radius: 20px;
          margin-bottom: 40px;
    
          form {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 30px 28px;
            justify-content: space-between;
    
            label {
              font-size: 26px;
              margin: 0;
              line-height: 39px;
              font-family: "Lora", serif;
              font-variation-settings: 'wght' 500;
            }
    
            #platinum-edition {
              height: 43px;
              color: #b1b1b1;
              font-size: 16px;
              line-height: 24px;
              border: 1px solid #dedede;
              box-sizing: border-box;
              border-radius: 100px;
              outline: none;
              padding-left: 24px;
            }
    
            #submit-platinum {
              background: #1994ff;
              border-radius: 100px;
              width: 143px;
              height: 42px;
              border: 1px solid #1994ff;
              color: #fff;
    
              &:hover {
                background: #fff;
                color: #1994ff;
              }
            }
          }
        }
    
        .recent-posts {
          p {
            font-size: 26px;
            line-height: 39px;
            font-family: "Lora", serif;
            font-variation-settings: 'wght' 500;
          }
    
          hr {
            width: 70px;
            margin-left: 0;
          }
    
          ul {
            padding: 0 0 0 20px;
            max-width: 360px;
            overflow-wrap: break-word;
    
            li {
              margin-bottom: 14px;
    
              a {
                color: #323232;
    
                .title {
                  font-size: 16px;
                  line-height: 24px;
                  color: #323232;
                  font-family: "Mulish", sans-serif;
                }
              }
            }
          }
        }
      }
    }
  }

  .log {
    width: 100%;
    background-color: #f5f5f5;
    background-image: url("../images/about/lines.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 50px;
    .box {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 100px 0;
      padding-bottom: 180px;
      margin: auto;

      .ask {
        width: 656px;
        height: 180px;
        h1 {
          font-family: "Lora", serif;
          font-size: 40px;
          line-height: 60px;

          strong {
            font-variation-settings: 'wght' 500;
          }
        }
      }
    }

    .about-form {  
      margin-left: 5%;

      @media (max-width: 1440px) {
        max-width: 50% !important;
      }

      form {
        max-width: 785px !important;
        background: #fff;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
        border-radius: 60px;
        padding: 5% 6%;

        .form-body {
          text-align: left !important;
        }

        h5 {
          font-size: 35px !important;
          position: relative;
          text-align: left !important;

          &::after {
            display: inline-block;
            content: "";
            border-top: 1px solid #a6a6a6;
            width: 60px;
            position: absolute;
            left: 0;
            bottom: -12px;
          }
        }
      }
    }
  }

  .contact {
    width: 100%;
    height: 500px;
    background: #fafafa url("../images/shared/coa.svg");
    margin-top: 50px;

    .title-content {
      padding-top: 40px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .line {
        width: 79px;
        border-top: 1px solid #a6a6a6;
        margin-top: 15px;
        margin-bottom: 21px;
        margin-left: auto;
        margin-right: auto;
        z-index: 11;
      }
      h1 {
        font-family: "Lora", serif;
        font-variation-settings: 'wght' 500;
        font-size: 70px;
      }
      p {
        font-family: "Mulish", sans-serif;
        font-weight: normal;
        font-size: 25px;
      }
    }
    .link-content {
      margin: 70px auto 0;
      width: 770px;
      display: flex;
      justify-content: space-between;
      .call {
        width: 290px;
        height: 70px;
        background: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
        border-radius: 35px;
        display: flex;
        align-items: center;
        position: relative;
        transition: 5s;

        .svg-frame {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 72.95px;
          height: 70px;
          background: #1994ff;
          border-radius: 100px;
          transition: 1.5s;
          z-index: 100;
        }

        p {
          font-variation-settings: 'wght' 500;
          font-size: 20px;
          line-height: 24px;
          color: #1994ff;
          margin: 0;
          position: absolute;
          left: 100px;
          transition: 1.5s;
        }

        &:hover {
          text-decoration: none;
          
          .svg-frame {
            text-decoration: none;
            transform: translate(300%);
          }

          p {
            text-decoration: none;
            left: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .single-post article .container-fluid .content {
    padding-right: 50px;
  }

  .single-post .log .box .ask {
    width: auto;

    h1 {
      font-size: 35px;
      max-width: 530px;
    }
  }
}

@media (max-width: 1422px) {
  .single-post article .container-fluid .content .author-card .content {
    flex-direction: column;
  }

  .single-post .seventh {
    height: fit-content;
    padding-bottom: 50px;
    padding-top: 60px;
  }

  .single-post article .container-fluid {
    flex-direction: column;
    width: 90%;

    .content,
    .right {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .right {
      justify-content: space-evenly;
      //width: 90%;
      align-self: center;
      transition: none;
    }

    .content {
      padding: 0;

      .entry-content {
        max-width: 100%;
  
        p {
          max-width: 100%;
        }

        .right {
          width: 25%;
        }

        .content1 {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .single-post article .container-fluid .content .entry-content {
    // max-width: 90%;
    padding: 0;

    p {
      max-width: 100%;
    }
  }

  .category {
    .right {
      .marketing-audit {
        .svg-first {
          display: none !important;
        }

        .d-none {
          display: block !important;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1112px) {
  .single-post .log .box {
    flex-direction: column;
    padding-bottom: 120px;

    .ask {
      height: auto;
      padding-bottom: 30px;

      h1 {
        max-width: 100%;
        text-align: center;
        margin-bottom: 45px;
      }
    }

    .about-form {
      max-width: 100% !important;
      margin-left: 0;
    }
  }

  .single-post article .container-fluid .content .entry-content .right {
    width: 100%;
  }

  .single-post article .container-fluid .content .entry-content {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 1032px) {
  .single-post article .container-fluid .content .related .posts-related {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-post .seventh .container-fluid .top .lefts {
    width: 100%;

    .proven {
      margin: 10px auto 40px auto;
    }
  }

  .single-post article .container-fluid .content .related h1 {
    text-align: center;
  }

  .single-post article .container-fluid .content .related hr {
    margin: 0 auto;
  }

  .single-post article .container-fluid .content .share-on {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
      margin: 6px auto 29px auto;
    }
  }

  .single-post article .container-fluid .content .comments .comment-respond .comment-form p textarea {
    min-width: 200px;
  }

  .single-post article .hero .title-holder .title {
    overflow-wrap: break-word;
  }

  .single-post article .container-fluid .content .related .posts-related .single-post {
    width: 100%;
  }

  .single-post .seventh .container-fluid .top .rights {
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .single-post article .hero .title-holder {
    width: 90%;

    .title {
      font-size: 34px;
      line-height: 47px;

      @media (max-width: 480px) {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  .single-post article .container-fluid .content .entry-content img {
    width: 100%;
    height: auto;
  }

  .single-post .contact .link-content {
    width: 90%;
  }

  .single-post .log .box {
    .ask h1,
    .about-form form h5 {
      font-size: 28px !important;
      line-height: 42px !important;
    }
  }
}

@media (max-width: 719px) {

  .single-post .seventh .container-fluid .top .lefts .proven {
    font-size: 25px;
    line-height: 40px;
  }

  .single-post .seventh .container-fluid .top .rights {
    border-radius: 20px;

    h1 {
      font-size: 22px;
      line-height: 28px;
    }

    form {
      input {
        font-size: 14px;
        line-height: 24px;
      }

      .form-p {
        font-size: 14px;
        line-height: 39px;
      }
    }
  }

  .single-post article .container-fluid .content .author-card .content {
    max-width: 500px;
  }
}

@media (max-width: 660px) {
  .single-post .contact .link-content {
    width: auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .call {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 600px) {
  .single-post article .hero {
    background: #fafafa url("../images/shared/mobile.svg") 0 93% no-repeat;
    background-size: contain;
    height: auto;
    padding: 95px 0 100px 0;

    .title-holder {
      padding-top: 0px;
      width: 85%;
    }
  }

  .single-post article .container-fluid .content .author-card .content {
    max-width: 400px;
  }

  .single-post .log {
    .about-form {
      form {
        border-radius: 10px;
      }
    }

    .box .ask h1 {
      margin-bottom: 20px;
    }
  }

  .single-post .contact {
    .title-content {
      h1 {
        font-size: 50px;
      }
  
      p {
        font-size: 20px;
      }
    }

    .link-content {
      flex-direction: column;
      align-items: center;
    }
  }

  .single-post {
    article {
      .container-fluid {
        .right {
          .recent-posts {
            min-height: 250px;
          }

          .recent-posts:last-of-type {
            min-height: 500px;
          }
        }
      }
    }
  }
}

@media (max-width: 519px) {
  .single-post article .container-fluid .content .related .posts-related .single-post .post-content-wrapper {
    width: 100%;
  }

  .single-post article .container-fluid .content .author-card .image {
    margin: 0 auto;
  }

  .single-post article .container-fluid .content .related .posts-related .single-post .post-content-wrapper a img {
    width: 100%;
  }

  .single-post article .container-fluid .content .author-card {
    flex-direction: column;
    height: fit-content;
    padding: 25px 0 15px 0;

    .content {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  .single-post .seventh .container-fluid .top .rights {
    height: 100%;
  }

  .single-post article .container-fluid .right .first-issue-image {
    img {
      width: 100%;
    }
  }

  .single-post article .container-fluid {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .single-post .seventh .container-fluid .top .rights form input {
    height: 25px;
  }

  .single-post .log {
    padding: 40px 0;

    .about-form form#project-form {
      h5 {
        font-size: 22px !important;
        line-height: 28px !important;
      }
    }

    .box {
      padding: 0;

      .ask h1 {
        font-size: 25px;
        line-height: 40px;
        text-align: center;
      }
    }

    .single-post .log .abt-form-rl {
      align-items: flex-start;
      padding: 40px 22px;
    }
  }

  .single-post article .container-fluid .right {
    width: 90%;
    margin: 25px auto 0 auto;
  }

  .single-post article .container-fluid .content .author-card .content .text-author {
    padding: 0 20px;
  }

  .single-post .mobile-join {
    width: initial;
    height: 270px;
    background: url("../images/blog/single/audit-m.png") no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  .single-post .seventh .container-fluid .top .rights form {
    input:nth-child(1) {
      width: 160px;
    }

    input:nth-child(4) {
      width: 140px;
    }
  }
}

@media (max-width: 414px) {
  .single-post .log .box .ask {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .single-post .contact .title-content {
    h1 {
      font-size: 35px;
    }
  }
}

@media (max-width: 385px) {
  .single-post article .hero .svg-holder {
    display: none;
  }

  .single-post article .hero .title-holder {
    top: 5%;

    p {
      font-size: 25px;
      line-height: 50px;
    }

    hr {
      display: none;
    }
  }

  .single-post article .hero .svg-phone {
    display: block;
    width: 100%;

    svg {
      width: 100%;
    }
  }

  .single-post article .container-fluid .content .share-on h1 {
    font-size: 25px;
    line-height: 39px;
  }

  .single-post article .container-fluid .content .author-card .content {
    h3 {
      font-size: 24px;
      line-height: 24px;
    }
  }
}