.last {
  height: 600px;
  position: relative;
  background-color: #f5f5f5;
  background-image: url("../images/shared/portfolio-lines.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  .container-fluid {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .top {
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
      padding-bottom: 165px;

      .lefts {
        width: 100%;

        .proven {
          font-size: 40px;
          font-family: "Lora", serif;
          line-height: 60px;
          width: 656px;
          margin-left: auto;
        }

        hr {
          margin-top: 56px;
          width: 128px;
          margin-left: 0;
        }
      }
    }

    .bottom {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px 53px;
      height: fit-content;
      background: #fff;
      border-radius: 60px;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
      margin-bottom: 120px;

      hr {
        width: 61px;
        margin-left: 0;
      }

      form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
          display: inline;
        }

        .form-text {
          br {
            display: none;
          }
        }

        .form-p {
          margin: 0;
          font-family: "Mulish", sans-serif;
          font-size: 18px;
          line-height: 46px;
          font-variation-settings: 'wght' 500;
        }

        input {
          border: none;
          background: none;
          border-bottom: 1px solid #323232;
          font-size: 16px;
          text-align: center;
          font-style: italic;
          height: 35px;

          &:focus {
            outline: none;

            &::placeholder {
              color: transparent;
            }
          }
        }

        #first {
          width: 190px;
        }

        #second {
          width: 180px;
        }

        #third {
          width: 140px;
        }

        #fourth {
          width: 250px;
        }

        #phone-num {
          width: 190px;
        }

        input[type="submit"] {
          height: 44px;
          width: 155px;
          color: #fff;
          background-color: #1994ff;
          border: 1px solid #1994ff;
          border-radius: 100px;
          margin-top: 30px;
          transition: all 250ms ease-in;
          font-style: normal;

          &:hover {
            background-color: transparent;
            color: #1994ff;
          }
        }
      }
    }
  }

  .lines-bg {
    position: absolute;
    bottom: 45%;

    .svg {
      width: 100%;
    }
  }
}

@media (max-width: 1309px) {
  .last .container-fluid {
    flex-direction: column;

    .bottom {
      width: 750px;
    }
  }

  .last {
    height: fit-content;
    padding: 50px 0;
  }

  .last .container-fluid .top {
    margin-bottom: 41px;
    width: 100%;
    padding-bottom: 0;

    .proven {
      text-align: center;
      margin: 0 auto;
    }
  }
}

@media (max-width: 991px) {
  .last .container-fluid .bottom {
    width: 90%;
    margin: auto;
  }

  .last .container-fluid .top .lefts .proven {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .last .container-fluid {
    .top .lefts .proven {
      font-size: 25px;
      line-height: 40px;
    }

    .bottom {
      h2 {
        font-size: 22px;
        line-height: 28px;
      }

      form {

        #first,
        #second {
          width: 160px;
        }

        #third {
          width: 80px;
        }

        #fourth {
          width: 220px;
        }

        .form-p {
          font-size: 16px;

          br {
            display: inline !important;
          }

          input {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .last .container-fluid {
    padding: 0;

    .top .lefts .proven {
      width: 90%;
      margin: auto;
    }

    .bottom {
      border-radius: 30px;
      padding: 35px 20px;
    }
  }
}
