.template-case-study-coffee-with-us {
  .img-surge {
    background-color: #fafafa;
  
    .container {
      max-width: 100%;
    }
  
    .img1 {
      width: 60%;
      margin: auto;
  
      img {
        width: 100%;
      }
    }
  }
  
  @media (max-width: 900px) {
    .img-surge {
      .container {
        .img1 {
          width: 88%;
        }
      }
    }
  }
  
  @media (max-width: 700px) {
    .img-surge {
      .container {
        .img1 {
          width: 93%;
        }
      }
    }
  }
  
  @media (max-width: 500px) {
    .img-surge {
      .container {
        .img1 {
          width: 97%;
        }
      }
    }
  }
}