/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

form#project-form {
  max-width: 770px;
  margin: auto;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 40px 100px -20px rgba(125, 142, 157, 0.3);
  border-radius: 30px;
  padding: 20px 35px 50px 35px;

  br {
    //display: none;

    @media (max-width: 440px) {
      display: inline;
    }
  }

  h5 {
    font-size: 35px;
    line-height: 51px;
    margin-bottom: 30px;
    //text-align: center;
  }

  .form-body {
    //text-align: center;

    p,
    input {
      display: inline-block;
      font-size: 24px;
      //line-height: 50px;
      color: #303030;
      font-family: "Mulish", sans-serif;
      font-variation-settings: 'wght'500;
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #303030;
      margin: 0 3px;
      height: 40px;
      line-height: 50px;
      //text-align: center;
      //font-style: italic;
      color: #303030;
      font-size: 24px;
      //padding-bottom: 10px;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      border-radius: 0;

      &::placeholder {
        font-size: 24px;
        text-align: center;
        font-style: italic;
        color: #AFAFAF;
      }

      &:focus {
        outline: none;

        &::placeholder {
          color: transparent;
        }
      }

      &#project-type {
        width: 190px;
      }

      &#business-name {
        width: 27%;
      }

      &#client-name {
        width: 23%;
      }

      &#client-phone-num {
        width: 180px;
      }

      &#client-email-addr {
        width: 41.5%;
        margin-right: 0;
      }
    }

    select {
      // padding: 5px 8px 5px 15px;
      padding: 5px 22px 5px 0;
      border: none;
      font-size: 24px;
      line-height: 30px;
      color: #303030;
      font-weight: 500;
      font-family: "Mulish", sans-serif;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* Remove default arrow */
      background-image: url("../images/home/arrow.svg");
      background: transparent;
      /* Add custom arrow */
      background-repeat: no-repeat !important;
      background-position: right !important;
      // padding-right: 30px;

      &:focus {
        outline: none;
      }
    }

    // .strela {
    //   background-image: url("../images/home/arrow2.svg");
    // }

    .rotate {
      // -moz-transition: all 2s linear;
      // -webkit-transition: all 2s linear;
      // transition: all 2s linear;
      background-image: url("../images/home/arrow2.svg");
      transition: all 0.3s linear;
    }

    .rotate.down {
      background-image: url("../images/home/arrow.svg");
      transition: all 0.3s linear;
    }

    // select.redText {
    //   background-image:
    //     linear-gradient(45deg, transparent 50%, #1994FF 50%),
    //     linear-gradient(135deg, #1994FF 50%, transparent 50%);
    //   background-position:
    //     calc(100% - 20px) calc(1em + -4px),
    //     calc(100% - 15px) calc(1em + -4px),
    //     calc(100% - 4em) 0.5em;
    //   background-size:
    //     6px 9px,
    //     5px 9px,
    //     1px 1.5em;
    //   background-repeat: no-repeat;
    //   background-origin: padding-box;
    //   padding-right: 6%;
    // }

    // select.redText:focus {
    //   background-image:
    //     linear-gradient(45deg, #1994FF 50%, transparent 50%),
    //     linear-gradient(135deg, transparent 50%, #1994FF 50%);
    //   background-position:
    //     calc(100% - 15px) 0.6em,
    //     calc(100% - 20px) 0.6em,
    //     calc(100% - 2.5em) 0.5em;
    //   background-size:
    //     5px 9px,
    //     7px 9px,
    //     1px 1.5em;
    //   background-repeat: no-repeat;
    //   border-color: green;
    //   outline: 0;
    // }


    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    body {
      background-color: rgb(0, 159, 214);
      font: bold 1em/100% "Helvetica Neue", Arial, sans-serif;
      padding: 2em 0;
      text-align: center;
    }

    select {
      option {
        border-bottom: 1px solid #EDEDED;
        font-size: 22px;
        line-height: 30px;
        display: inline-block;
        padding: 30px;
        color: #303030;
      }
    }

    .redText {
      color: #1994FF;
    }
  }

  @media (max-width: 1000px) {
    .form-body {
      select {
        option {
          font-size: 19px;
        }
      }
    }
  }

  @media (max-width: 700px) {
    max-width: 100%;
  }

  @media (max-width: 600px) {
    h5 {
      font-size: 35px;
    }

    .form-body {
      text-align: left;

      p {
        font-size: 18px;
      }

      input {
        font-size: 16px;
      }

      input {
        &#project-type {
          width: 160px;
        }

        &#business-name {
          width: 150px;
        }

        &#client-name {
          width: 110px;
        }

        &#client-phone-num {
          width: 150px;
        }

        &#client-email-addr {
          width: 180px;
        }
      }

      select {
        font-size: 18px;

        option {
          font-size: 18px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    h5 {
      font-size: 26px;
      line-height: 31px;
      text-align: left;
    }

    .form-body {

      p,
      input {
        font-size: 16px;
        line-height: 25px;
      }

      input {
        &#project-type {
          width: 130px;

          @media (max-width: 400px) {
            width: 100px;
          }
        }

        &#business-name {
          width: 120px;
        }

        &#client-name {
          width: 90px;
        }

        // &#client-phone-num {
        //   width: 294px;
        // }

        &::placeholder {
          font-size: 12px;
        }

        // &#client-email-addr {
        //   width: 294px;
        // }
      }

      br.mobile-break-f {
        display: none;
      }

      select {
        font-size: 16px;
        padding-left: 0;

        option {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1380px) {
  form#project-form {
    max-width: 640px;

    .form-body {
      select {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 1280px) {
  form#project-form {
    max-width: 810px;
    // padding: 40px 40px 65px 45px;
  }
}

// @media (max-width: 780px) {
//   form#project-form .form-body input#business-name {
//     width: 20%;
//   }

//   form#project-form .form-body input#client-name {
//     width: 21%;
//   }

//   form#project-form .form-body input#client-email-addr {
//     width: 37%;
//   }
// }

@media (max-width: 700px) {
  form#project-form {
    h5 {
      font-size: 32px;
    }

    // .form-body {
    //   select.redText {
    //     padding-right: 8%;
    //   }
    // }
  }
}

// @media (max-width: 500px) {
//   form#project-form {
//     .form-body {
//       select.redText {
//         padding-right: 10%;
//       }
//     }
//   }
// }

@media (max-width: 440px) {
  form#project-form {
    // padding: 32px 10px 30px 16px;
    //width: 770px;

    h5:after {
      content: "";
      display: block;
      width: 15%;
      padding-top: 20px;
      border-bottom: 1px solid #A6A6A6;
    }

    .form-body {
      .submit-btn {
        margin: auto;
        margin-top: 30px;
      }

      // select.redText {
      //   padding-right: 15%;
      // }

      .br {
        display: none;
      }
    }
  }
}

form#upload-cv-form {
  label {
    margin-top: 9px;
  }

  input {
    margin-top: 9px;
  }

  p {
    margin-top: 9px;
  }

  #client-cv {
    height: 134px;
    padding-top: 12%;
    padding-left: 24%;
  }

  input#business-name {
    width: 184px;
  }

  input#client-email-addr {
    width: 184px;
  }
}

form#project-form,
form#upload-cv-form {
  .submit-btn {
    width: 190px;
    height: 45px;
    background: #1994ff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: #fff;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  form#upload-cv-form {
    #client-cv {
      padding-top: 14%;
      //padding-left: 24%;
    }
  }
}

@media (max-width: 520px) {
  form#upload-cv-form {
    #client-cv {
      padding-top: 16%;
      padding-left: 15%;
    }
  }
}

@media (max-width: 440px) {
  form#project-form {
    #business-name {
      padding-bottom: 7px;
    }

    .submit-btn {
      margin: auto;
      margin-top: 30px;
      width: 240px;
      //display: inline;
    }

    .form-body {
      .name {
        display: inline-block;
        margin-top: 6px;
      }

      select {
        margin-bottom: 7px;
      }

      // input {
      //   #business-name {
      //     width: 54%;
      //   }

      //   #client--name {
      //     width: 30%;
      //   }

      //   #client-email-addr {
      //     width: 50%;
      //   }
      // }
    }
  }
}

@media (max-width: 400px) {
  form#project-form .form-body input#client-phone-num {
    max-width: 250px;
  }

  form#project-form .form-body input#client-email-addr {
    max-width: 250px;
  }

  form#project-form {
    padding: 25px 20px;

    h5 {
      font-size: 22px;
    }
  }
}

// @media (max-width: 380px) {
//   form#project-form {
//     padding: 32px 30px 30px 40px;

//     .form-body {
//       input#business-name {
//         width: 227px;
//       }
//     }
//   }
// }

@media (max-width: 340px) {
  form#project-form {
    .form-body {
      input#business-name {
        width: 184px;
      }

      input#client-phone-num {
        width: 184px;
      }

      input#client-email-addr {
        width: 184px;
      }
    }

    .submit-btn {
      width: 190px;
    }
  }
}

@media (max-width: 440px) {
  form#project-form {
    .form-body {
      input {
        height: 30px;
      }
    }
  }

  // form#project-form .form-body input#business-name {
  //   width: 55% !important;
  // }

  // form#project-form .form-body input#client-name {
  //   width: 79% !important;
  // }

  form#project-form .form-body {
    .d-none {
      display: block !important;
    }
  }

  .page-template-template-home form#project-form .form-body #client-email-addr {
    width: 79% !important;
  }
}
