.template-case-study-sverdloff {
  .img-surge {
    background-color: #fafafa;

    .container {
      max-width: 100%;
    }

    .img1 {
      width: 57%;
      margin: auto;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 1500px) {
    .img-surge {
      .container {
        .img1 {
          width: 75%;
        }
      }
    }
  }

  @media (max-width: 1350px) {
    .img-surge {
      .container {
        .img1 {
          width: 78%;
        }
      }
    }
  }

  @media (max-width: 1300px) {
    .img-surge {
      .container {
        .img1 {
          width: 80%;
        }
      }
    }
  }

  @media (max-width: 1250px) {
    .img-surge {
      .container {
        .img1 {
          width: 83%;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .img-surge {
      .container {
        .img1 {
          width: 82%;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .img-surge {
      .container {
        .img1 {
          width: 84%;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .img-surge {
      .container {
        .img1 {
          width: 65%;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .img-surge {
      .container {
        .img1 {
          width: 70%;
        }
      }
    }
  }

  @media (max-width: 850px) {
    .img-surge {
      .container {
        .img1 {
          width: 72%;
        }
      }
    }
  }

  @media (max-width: 786px) {
    .img-surge {
      .container {
        .img1 {
          width: 90%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .img-surge {
      .container {
        .img1 {
          width: 75%;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .img-surge {
      .container {
        .img1 {
          width: 80%;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .img-surge {
      .container {
        .img1 {
          width: 95%;
        }
      }
    }
  }
}
