.results-section {
  .container {
    .results-parts {
      padding-top: 100px;
      margin: auto;
      width: 86%;

      .results-text {
        h2::after {
          content: "";
          display: block;
          border: 1px solid #333;
          width: 72px;
          height: 1px;
          margin-top: 20px;
        }
      }

      .results-items {
        display: flex;
        margin: auto;
        margin-top: 44px;
        justify-content: space-between;

        .results-first {
          display: flex;
          background-color: #f9f9f9;
          border-radius: 20px;
          padding: 20px 22px 12px 25px;
          height: 89px;
          width: 30%;

          .product {
            p {
              line-height: 26px;
            }
          }

          .svg-icon1 {
            margin: auto;
            margin-right: 18px;
          }

          .svg-icon2 {
            margin-left: 18px;
          }
        }

        .results-second {
          display: flex;
          background-color: #f9f9f9;
          border-radius: 20px;
          padding: 20px 22px 12px 25px;
          height: 89px;
          width: 30%;

          .website {
            p {
              line-height: 26px;
            }
          }

          .svg-icon1 {
            margin: auto;
            margin-right: 18px;
          }

          .svg-icon2 {
            margin-left: 18px;
          }
        }

        .results-third {
          display: flex;
          background-color: #f9f9f9;
          border-radius: 20px;
          padding: 20px 22px 12px 25px;
          height: 89px;
          width: 30%;

          .organic {
            p {
              line-height: 26px;
            }
          }

          .svg-icon1 {
            margin: auto;
            margin-right: 18px;
          }

          .svg-icon2 {
            margin-left: 18px;
          }
        }
      }
    }
  }
}

// @media (max-width: 1920px) {
//   .results-section {
//     .container {
//       .results-parts {
//         width: 99%;
//       }
//     }
//   }
// }

@media (max-width: 1350px) {
  .results-section {
    .container {
      .results-parts {
        width: 87%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .results-section {
    .container {
      .results-parts {
        width: 84%;

        .results-items {
          .results-first {
            width: 34%;
            padding-left: 20px;

            .svg-icon1 {
              margin-right: 10px;
            }

            .svg-icon2 {
              margin-left: 12px;
            }
          }

          .results-second {
            width: 32%;
            padding-left: 20px;

            .svg-icon1 {
              margin-right: 10px;
            }

            .svg-icon2 {
              margin-left: 12px;
            }
          }

          .results-third {
            width: 32%;
            padding-left: 20px;

            .svg-icon1 {
              margin-right: 10px;
            }

            .svg-icon2 {
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .results-section {
    .container {
      .results-parts {
        width: 64%;

        .results-items {
          flex-direction: column;

          .results-first {
            width: 52%;
            margin-bottom: 25px;
          }

          .results-second {
            width: 52%;
            margin-bottom: 25px;
          }

          .results-third {
            width: 52%;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .results-section {
    .container {
      .results-parts {
        width: 85%;

        .results-items {
          .results-first {
            width: 46%;
            margin-bottom: 25px;
          }

          .results-second {
            width: 46%;
            margin-bottom: 25px;
          }

          .results-third {
            width: 46%;
          }
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .results-section {
    .container {
      .results-parts {
        width: 96%;

        .results-items {
          .results-first {
            width: 42%;
          }

          .results-second {
            width: 42%;
          }

          .results-third {
            width: 41%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .results-section {
    .container {
      .results-parts {
        .results-items {
          .results-first {
            width: 55%;
          }

          .results-second {
            width: 55%;
          }

          .results-third {
            width: 55%;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .results-section {
    .container {
      .results-parts {
        width: 92%;

        .results-items {
          .results-first {
            width: 60%;
          }

          .results-second {
            width: 60%;
          }

          .results-third {
            width: 60%;
          }
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .results-section {
    .container {
      .results-parts {
        width: 85%;

        .results-items {
          .results-first {
            width: 68%;
          }

          .results-second {
            width: 68%;
          }

          .results-third {
            width: 68%;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .results-section {
    .container {
      .results-parts {
        width: 83%;
      }
    }
  }
}

@media (max-width: 500px) {
  .results-section {
    .container {
      .results-parts {
        width: 76%;

        .results-items {
          .results-first {
            width: 88%;
          }

          .results-second {
            width: 88%;
          }

          .results-third {
            width: 88%;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .results-section {
    .container {
      .results-parts {
        width: 77%;

        .results-items {
          .results-first {
            width: 97%;
          }

          .results-second {
            width: 97%;
          }

          .results-third {
            width: 97%;
          }
        }
      }
    }
  }
}

@media (max-width: 385px) {
  .results-section {
    .container {
      .results-parts {
        width: 83%;

        .results-items {
          .results-first {
            width: 99%;
          }

          .results-second {
            width: 99%;
          }

          .results-third {
            width: 99%;
          }
        }
      }
    }
  }
}