.template-default-second {
  background: url("../images/default-page/lines.png") 0 28%;
  background-repeat: no-repeat;

  .main-section {
    margin: auto;
    width: 85%;


    //transform: matrix(-1, 0, 0, 1, 0, 0);
    padding-top: 120px;
    // background-color: #fafafa;
    //background: url("../images/default-page/lines.png") 0 95%;
    //background-blend-mode: multiply;
    background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center;

    h1 {
      font-size: 30px;
      line-height: 50px;
      font-weight: 600;
    }

    .main-part {
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      margin: auto;

      li,
      p {
        color: #000;
        font-weight: 500;
      }

      span {
        font-weight: 500;
      }

      li {
        span {
          font-weight: 400;
        }
      }

      .main-info {
        width: 50%;

        h1 {
          width: 80%;
          font-family: 'Montserrat', sans-serif;
          margin-bottom: 30px;
        }

        .main-text {
          width: 85%;
        }
      }

      .main-img {
        width: 45%;

        img {
          width: 100%;
        }
      }
    }

    .img-lines {
      margin: 0;

      img {
        width: 100%;
      }
    }
  }

  .text-part {
    margin: auto;
    width: 75%;
    margin-top: 150px;

    p {
      color: #000;
      font-weight: 500;
      margin-bottom: 20px;
    }

    span {
      font-weight: 500;
    }

    h1 {
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 15px;
      font-weight: 500;
    }

    h2 {
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      margin-bottom: 20px;
    }

    ul {
      li {
        span {
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .template-default-second {
    .main-section {
      .main-part {
        width: 95%;

        .main-info {
          width: 75%;
        }

        .main-img {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .template-default-second {
    background: url("../images/default-page/lines.png") 0 27%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1400px) {
  .template-default-second {
    .main-section {
      .main-part {
        width: 98%;

        .main-info {
          width: 85%;

          h1 {
            width: 85%;
            font-size: 27px;
          }
        }

        .main-img {
          width: 60%;
          margin: auto;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .template-default-second {
    .main-section {
      .main-part {
        width: 100%;

        .main-info {
          width: 85%;

          h1 {
            width: 80%;
            font-size: 25px;
          }
        }

        .main-img {
          width: 60%;
          margin: auto;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .template-default-second {
    background: none;

    .main-section {
      .main-part {
        flex-wrap: wrap;

        .main-info {
          width: 85%;

          h1 {
            width: 85%;
            line-height: 35px;
          }
        }

        .main-img {
          width: 65%;
          margin: auto;
          margin-top: 50px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .template-default-second {
    .main-section {
      .main-part {
        flex-wrap: wrap;

        .main-info {
          width: 90%;

          h1 {
            width: 90%;
          }
        }

        .main-img {
          width: 65%;
          margin: auto;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .template-default-second {
    .main-section {
      .main-part {
        h1 {
          text-align: center;
        }

        .main-img {
          width: 75%;
          margin-top: 30px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .template-default-second {
    .main-section {
      .main-part {
        .main-img {
          width: 82%;
        }

        .main-info {
          h1 {
            width: 95%;
          }

          .main-text {
            width: 98%;
          }
        }
      }
    }
  }
}
