.blog-section {
  height: 778px;
  background-color: #f9f9f9;
  position: relative;

  .bg-eighth {
    position: absolute;
    width: 100%;
    bottom: 250px;

    svg {
      width: 100%;
    }
  }

  .container {
    position: relative;
    z-index: 10;

    .top {
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-family: "Lora", serif;
        font-size: 30px;
      }

      hr {
        width: 71px;
        margin-bottom: 0;
      }
    }

    .bottom {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-evenly;

      #posts-carousel {
        display: none;
      }

      .post {
        width: 320px;
        position: relative;

        .image {
          position: absolute;
          z-index: 0;
          width: 320px;
          height: 221px;
          margin-left: -14.5px;
          padding: 15px;

          img {
            width: inherit;
            height: inherit;
            border-radius: 40px;
          }
        }

        .date {
          font-size: 12px;
          color: #bfbfbf;
          font-family: "Mulish", sans-serif;
          font-variation-settings: 'wght' 600;;
        }

        .title {
          font-size: 18px;
          font-family: "Lora", serif;
          margin-top: 9px;
          overflow-wrap: break-word;
        }

        hr {
          width: 50px;
          margin: 11px 0;
        }

        .text {
          background: #fff;
          border-radius: 40px;
          padding: 30px 19px 19px 19px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          height: 320px;
          width: 288px;
          z-index: 1;
          position: relative;
          margin: 20px auto 0 auto;
          top: 95px;

          a {
            margin: 15px 0;
            font-family: "Mulish", sans-serif;
            display: block;
            text-decoration: none;
            color: #1994ff;
          }
        }

        .text-content {
          font-family: "Mulish", sans-serif;
          color: #323232;
          font-size: 14px;
          overflow-wrap: break-word;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .blog-section {
    height: 700px;

    .container .bottom {
      flex-direction: column;
    }
  }

  .dot-svg.active {
    svg {
      width: 20px;
      height: 21px;
      position: absolute;
      top: 0;
      left: 0;

      circle {
        fill: #cfcfcf;
      }
    }
  }

  .blog-section .container .bottom .post {
    display: none;
    margin: 0 auto;
  }

  .blog-section .container .bottom #posts-carousel {
    display: block;
  }

  #posts-carousel {
    .carousel-inner {
      width: 320px;
      height: 550px;
    }

    .post-carousel {
      width: 320px;
      position: relative;

      .image {
        position: absolute;
        z-index: 0;
        width: 320px;
        height: 221px;

        img {
          width: inherit;
          height: inherit;
          border-radius: 40px;
        }
      }

      .date {
        font-size: 12px;
        color: #bfbfbf;
        font-family: "Mulish", sans-serif;
        font-variation-settings: 'wght' 600;;
      }

      .title {
        font-size: 18px;
        font-family: "Lora", serif;
        margin-top: 9px;
        overflow-wrap: break-word;
      }

      hr {
        width: 50px;
        margin: 11px 0;
      }

      .text {
        background: #fff;
        border-radius: 40px;
        padding: 30px 19px 19px 19px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        height: 320px;
        width: 288px;
        z-index: 1;
        position: relative;
        margin: 20px auto 0 auto;
        top: 95px;

        a {
          margin: 15px 0;
          font-family: "Mulish", sans-serif;
          display: block;
          text-decoration: none;
          color: #1994ff;
        }
      }

      .text-content {
        font-family: "Mulish", sans-serif;
        color: #323232;
        font-size: 14px;
        overflow-wrap: break-word;
      }
    }
  }

  .blog-section .container .bottom #posts-carousel .post {
    display: block;
  }
}

@media (max-width: 360px) {
  .blog-section .container .top h1 {
    font-size: 25px;
  }
}