.template-locations {
  .title {
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 33px;
    font-family: "Lora", serif;
    font-variation-settings: 'wght' 500;
  }

  .line {
    width: 88px;
    border-top: 1px solid #898989;
    margin-bottom: 30px;
  }

  .clients {
    padding: 120px 0 140px 0;
    max-width: 1390px;
    margin: auto;

    .partner {
      line-height: 30px;
      margin-bottom: 90px;
      font-family: "Mulish", sans-serif;
      font-variation-settings: 'wght'500;
    }
  }

  .clients-frame,
  .clients-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .client {
      width: 210px;
      margin: 60px 0;
      display: flex;
      justify-content: center;

      svg {
        filter: sepia(0%) saturate(112%) hue-rotate(161deg) brightness(89%) contrast(5%) grayscale(20);

        &:hover {
          filter: unset;
        }
      }
    }
  }

  .clients-mobile {
    display: none;
  }
}

@media (max-width: 1800px) {
  .template-locations {
    .clients {
      width: 1310px;
    }
  }
}

@media (max-width: 1680px) {
  .template-locations {
    .clients {
      width: 1240px;

      .clients-frame {
        .client {
          width: 180px;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .template-locations {
    .clients {
      width: 1150px;
    }
  }
}

@media (max-width: 1600px) {
  .template-locations {
    .clients {
      width: 81%;
    }

    .clients-frame {
      justify-content: center;
    }

    .clients {
      width: 1100px;

      .clients-frame {
        .client {
          width: 180px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .template-locations {
    .clients {
      padding-bottom: 70px;
      width: 1140px;

      .clients-frame {
        .client {
          width: 190px;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .template-locations {
    .clients-frame {
      justify-content: space-around;
    }

    .clients {
      width: 1100px;

      .clients-frame {
        .client {
          width: 170px;
        }
      }
    }
  }
}

@media (max-width: 1285px) {
  .template-locations {
    .clients {
      width: 1030px;

      .clients-frame {
        .client {
          width: 180px;
        }
      }
    }
  }
}

@media (max-width: 1213px) {
  .template-locations {
    .clients {
      width: 950px;

      .clients-frame  {
        .client {
          width: 165px;
        }
      }
    }
  }
}

@media (max-width: 1112px) {
  .template-locations {
    .clients {
      padding-top: 30px;
      width: 885px;
    }
  }
}

@media (max-width: 1070px) {
  .template-locations {
    .clients {
      width: 850px;

      .clients-frame {
        .client {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .template-locations {
    .clients {
      width: 780px;
      padding-bottom: 30px;

      .clients-frame {
        .client {
          width: 160px;

          svg:first-of-type {
            display: none !important;
          }

          .d-none {
            display: block !important;
            filter: unset;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .template-locations {
    .clients {
      width: 690px;
  
      .clients-frame {
        .clent {
          width: 190px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .template-locations {
    .clients {
      width: 610px;

      .clients-frame {
        .client {
          width: 140px;
        }
      }
    }

    .clients-frame .client {
      justify-content: center;
    }

    .clients .partner {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 750px) {
  .template-locations {
    .clients {
      width: 550px;
  
      .clients-frame {
        .client {
          width: 120px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .template-locations {

    .clients-frame {
      display: none;
    }

    .clients-mobile {
      display: flex;
      justify-content: space-around;

      .client {
        width: 100px;
        justify-content: center;
      }
    }

    .clients {
      width: 90% !important;
      margin: auto;
      padding: 10% 0 !important;

      .title {
        margin-bottom: 12px;
      }

      .clients-frame {
        .client {
          margin-top: 30px;
          margin-bottom: 30px;
          width: 100px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .template-locations {
    .clients {
      padding-bottom: 20px;
      width: 370px;
    }
  }
}

@media (max-width: 414px) {
  .template-locations {
    .clients-mobile .client {
      margin: 25px 0;
    }

    .clients {
      width: 330px;
    }
  }
}

@media (max-width: 375px) {
  .template-locations {
    .clients {
      width: 290px;
  
      .clients-frame {
        .client {
          width: 80px;
        }
      }
    }
  }
}