.template-locations {
  .fourth-section {
    padding-top: 120px;
    background: url("../images/locations/background-line.svg");
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      .fourth-part {

        .email,
        .development,
        .seo,
        .ppc {
          background: #FAFAFA;
          border-radius: 20px;
          //padding: 27px 63px 69px 65px;

          .locations-first {
            padding: 0 40px 69px 42px;

            ul {
              // display: flex;
              // flex-wrap: wrap;
              // width: 85%;
              // justify-content: space-between;
              // flex-direction: column;
              // height: 100vh;
              display: grid;
              grid-template-columns: 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
              line-height: 40px;

              li {
                a {
                  font-size: 20px;
                  line-height: 28px;
                  color: #323232;
                  text-decoration: none;
                }
              }

              li::marker {
                color: #C4C4C4;
              }
            }
          }
        }

        .email {
          margin-bottom: 53px;
          padding-top: 27px;

          .svg {
            padding-left: 64px;
          }
        }

        .development {
          margin-bottom: 53px;
          padding-top: 27px;

          .svg {
            padding-left: 64px;
          }
        }

        .seo {
          margin-bottom: 53px;
          padding-top: 27px;

          .svg {
            padding-left: 64px;
          }
        }

        .ppc {
          padding-top: 27px;

          .svg {
            padding-left: 64px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .template-locations {
    .fourth-section {
      .container {
        .fourth-part {

          .email,
          .development,
          .seo,
          .ppc {
            display: block;

            .locations-first {
              .first {
                margin-right: 1%;
                width: 25%;
              }

              .second {
                margin-right: 1%;
                width: 25%;
              }

              .third {
                margin-right: 1%;
                width: 25%;
              }

              .fourth {
                margin-right: 1%;
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .template-locations {
    .fourth-section {
      padding-top: 75px;

      .container {
        .fourth-part {

          .email,
          .development,
          .seo,
          .ppc {
            .locations-first {
              display: block;

              ul {
                grid-template-columns: 1.2fr 1.2fr 1.2fr;
              }

              .first {
                margin-bottom: 90px;
              }

              .second {
                margin-bottom: 90px;
              }

              .third {
                margin-bottom: 90px;
              }

              .fourth {
                margin-bottom: 90px;
              }

              .fifth {
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .template-locations {
    .fourth-section {
      .container {
        .fourth-part {
          .email,
          .development,
          .seo,
          .ppc {
            .locations-first {
              ul {
                grid-template-columns: 1.2fr 1.2fr;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .template-locations {
    .fourth-section {
      padding-top: 30px;

      .container {
        .fourth-part {

          .email,
          .development,
          .seo,
          .ppc {
            .locations-first {

              .first,
              .second,
              .third,
              .fourth,
              .fifth {
                margin: auto;
              }

              ul {
                grid-template-columns: 1.2fr;
                margin: auto;
                width: 70%;
              }
            }
          }

          .email {
            .locations-first {

              .first,
              .second,
              .third,
              .fourth {
                margin-bottom: 90px;
              }
            }
          }

          .development {
            .locations-first {

              .first,
              .second,
              .third,
              .fourth {
                margin-bottom: 90px;
              }
            }
          }

          .seo {
            .locations-first {

              .first,
              .second,
              .third,
              .fourth {
                margin-bottom: 90px;
              }
            }
          }

          .ppc {
            .locations-first {

              .first,
              .second,
              .third,
              .fourth {
                margin-bottom: 90px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .template-locations {
    .fourth-section {
      .container {
        .fourth-part {

          .email,
          .development,
          .seo,
          .ppc {
            .svg {
              padding-left: 0;
            }

            .locations-first {
              ul {
                width: 75%;
              }
            }
          }
        }
      }
    }
  }
}
