.template-locations {
  body {
    height: 200vh;
    margin: 0 0;
    padding: 0 0;
  }

  header {
    position: fixed;
    z-index: 1000;
    height: 70px;
    width: 100%;
    background: transparent;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
  }

  .active {
    background-color: #FAFAFA;
  }

  .location-section {
    //transform: matrix(-1, 0, 0, 1, 0, 0);
    padding-top: 120px;
    // background-color: #fafafa;
    background: #fafafa url("../images/locations/locations.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
      .locations-info {
        display: flex;
        margin: auto;
        padding-bottom: 60px;
        width: 72%;
        justify-content: space-evenly;

        h1 {
          font-size: 48px;
          font-family: "Lora", sans-serif;
          line-height: 61px;
          color: #323232;
          margin-left: 60px;
          margin: auto;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .template-locations {
    .location-section {
      .container {
        .locations-info {
          width: 80%;

          h1 {
            font-size: 43px;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .template-locations {
    .location-section {
      .container {
        .locations-info {
          width: 88%;

          h1 {
            font-size: 38px;
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .template-locations {
    .location-section {
      .container {
        .locations-info {
          flex-wrap: wrap;
          padding-top: 40px;

          h1 {
            text-align: center;
            line-height: 38px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .template-locations {
    .location-section {
      //background-image: none;
      //background-position: 63%;

      .container {
        .locations-info {
          h1 {
            font-size: 30px;
          }
        }
      }
    }
  }
}
