.template-locations {
  .third-section {
    .container {
      .third-part {
        display: flex;
        margin: auto;
        width: 90%;
        padding-top: 50px;
        justify-content: space-evenly;

        .info {
          width: 50%;

          a {
            color: #007BE7;
            font-size: 22px;
            line-height: 27px;
            text-decoration: none;
          }

          a::after {
            content: '';
            width: 48px;
            height: 1px;
            background: #007BE7;
            display: inline-block;
            margin: auto;
            margin-left: 10px;
            margin-bottom: 5px;
          }

          p {
            width: 90%;
          }

          h2::after {
            content: '';
            width: 96px;
            height: 1px;
            background: #898989;
            display: flex;
            margin-top: 14px;
            margin-bottom: 28px;
          }
        }

        .third-img {
          width: 50%;
          margin: auto;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .template-locations {
    .third-section {
      .container {
        .third-part {
          width: 100%;

          .info {
            width: 60%;
          }

          .third-img {
            width: 45%;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .template-locations {
    .third-section {
      .container {
        .third-part {
          flex-wrap: wrap;

          .info {
            width: 90%;
            margin: auto;
            margin-bottom: 30px;
          }

          .third-img {
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .template-locations {
    .third-section {
      .container {
        .third-part {
          .info {
            width: 95%;
            margin: auto;
            margin-bottom: 50px;

            p {
              width: 95%;
            }
          }

          .third-img {
            width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .template-locations {
    .third-section {
      .container {
        .third-part {
          .third-img {
            display: none;
          }
        }
      }
    }
  }
}
