.usability-section {
  .usability-text {
    padding-top: 100px;
    margin: auto;
    margin-bottom: 40px;
    width: 85%;

    h2::after {
      content: "";
      display: block;
      border: 1px solid #333;
      width: 72px;
      height: 1px;
      margin-top: 20px;
    }

    p {
      width: 95%;
      margin-top: 40px;
    }
  }

  .three-parts {
    .three-items {
      display: flex;
      margin: auto;
      justify-content: space-between;
      width: 85%;

      .first-part {
        display: flex;
        background-color: #f9f9f9;
        border-radius: 20px;
        padding: 12px 22px 12px 25px;
        height: 89px;
        width: 30%;

        .svg-icon1 {
          margin: auto;
          margin-right: 28px;
        }

        .duration {
          h6::after {
            content: "";
            display: block;
            border: 1px solid #e3e3e3;
            width: 200px;
            height: 1px;
            margin-top: 7px;
          }
        }
      }

      .second-part {
        display: flex;
        background-color: #f9f9f9;
        border-radius: 20px;
        padding: 12px 22px 12px 25px;
        height: 89px;
        width: 30%;

        .svg-icon2 {
          margin: auto;
          margin-right: 28px;
        }

        .hours {
          h6::after {
            content: "";
            display: block;
            border: 1px solid #e3e3e3;
            width: 200px;
            height: 1px;
            margin-top: 7px;
          }
        }
      }

      .third-part {
        display: flex;
        background-color: #f9f9f9;
        border-radius: 20px;
        padding: 12px 22px 12px 25px;
        height: 89px;
        width: 33%;

        .svg-icon3 {
          margin: auto;
          margin-right: 28px;
        }

        .team-members {
          h6::after {
            content: "";
            display: block;
            border: 1px solid #e3e3e3;
            width: 220px;
            height: 1px;
            margin-top: 7px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .usability-section {
    .three-parts {
      .three-items {
        .first-part {
          .duration {
            h6::after {
              width: 150px;
            }
          }
        }

        .second-part {
          width: 34%;

          .hours {
            h6::after {
              width: 180px;
            }
          }
        }

        .third-part {
          .team-members {
            h6::after {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .usability-section {
    .usability-text {
      width: 83%;
    }

    .three-parts {
      .three-items {
        width: 83%;

        .first-part {
          .duration {
            h6::after {
              width: 150px;
            }
          }
        }

        .second-part {
          width: 34%;

          .hours {
            h6::after {
              width: 180px;
            }
          }
        }

        .third-part {
          .team-members {
            h6::after {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .usability-section {
    .three-parts {
      .three-items {
        flex-direction: column;

        .first-part {
          width: 55%;
          margin-bottom: 20px;

          .duration {
            h6::after {
              width: 216px;
            }
          }
        }

        .second-part {
          width: 55%;
          margin-bottom: 20px;

          .hours {
            h6::after {
              width: 216px;
            }
          }
        }

        .third-part {
          width: 55%;
          margin-bottom: 20px;

          .team-members {
            h6::after {
              width: 216px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .usability-section {
    .usability-text {
      padding-top: 75px;
      width: 95%;
    }

    .three-parts {
      .three-items {
        width: 96%;

        .first-part {
          width: 58%;

          .duration {
            h6::after {
              width: 204px;
            }
          }
        }

        .second-part {
          width: 58%;

          .hours {
            h6::after {
              width: 204px;
            }
          }
        }

        .third-part {
          width: 58%;

          .team-members {
            h6::after {
              width: 180px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .usability-section {
    .usability-text {
      width: 80%;
      padding-top: 65px;

      h2 {
        font-size: 30px;
      }
    }

    .three-parts {
      .three-items {
        width: 80%;

        .first-part {
          width: 70%;

          .duration {
            h6::after {
              width: 180px;
            }
          }
        }

        .second-part {
          width: 70%;

          .hours {
            h6::after {
              width: 180px;
            }
          }
        }

        .third-part {
          width: 70%;
          height: 95px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .usability-section {
    .usability-text {
      width: 85%;

      h2 {
        font-size: 28px;
      }
    }

    .three-parts {
      .three-items {
        width: 86%;

        .first-part {
          width: 90%;

          .duration {
            h6::after {
              width: 204px;
            }
          }
        }

        .second-part {
          width: 90%;

          .hours {
            h6::after {
              width: 204px;
            }
          }
        }

        .third-part {
          width: 90%;

          .team-members {
            h6::after {
              width: 204px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .usability-section {
    .usability-text {
      width: 93%;

      h2 {
        font-size: 25px;
      }
    }

    .three-parts {
      .three-items {
        width: 94%;
      }
    }
  }
}

@media (max-width: 370px) {
  .usability-section {
    .usability-text {
      width: 96%;
    }

    .three-parts {
      .three-items {
        width: 99%;

        .first-part {
          width: 98%;

          .duration {
            h6::after {
              width: 190px;
            }
          }
        }

        .second-part {
          width: 98%;

          .hours {
            h6::after {
              width: 190px;
            }
          }
        }

        .third-part {
          width: 98%;

          .team-members {
            h6::after {
              width: 190px;
            }
          }
        }
      }
    }
  }
}
