.website-grader {
  .wrap {
    width: 50%;
    margin: 0 auto;

    h1 {
      text-align: center;
      font-family: "Mulish", sans-serif;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 50px;

      @media (max-width: 930px) {
        font-size: 1.5rem;
      }
    }

    h2 {
      text-align: center;
      font-family: "Mulish", sans-serif;
      font-variation-settings: 'wght' 400;;
      margin-bottom: 30px;

      @media (max-width: 930px) {
        font-size: 1.5rem;
      }

      @media (max-width: 500px) {
        font-size: 1rem;
      }
    }

    .cover {
      //height: 50px;
      width: 100%;
      background: white;
      //margin-top: -97px;
      position: relative;
      z-index: 1;

      @media (max-width: 725px) {
        //margin-top: -109px;
      }

      @media (max-width: 429px) {
        //margin-top: -127px;
        //height: 70px;
      }

      @media (max-width: 418px) {
        //margin-top: -145px;
        //height: 87px;
      }
    }

    .hubspot-grader-form-container {
      .hubspot-grader-form__powered-by {
        display: none;
      }
    }
  }

  header {
    position: static;
  }
}


@media (max-width: 500px) {
  .website-grader {
    .wrap {
      width: 65% !important;
    }
  }
}
