.template-case-study-surge-strength {
  .comment-section {
    width: 100%;
    height: 530px;

    .container-fluid {
      .img-line {
        position: relative;
        bottom: 250px;

        img {
          width: 100%;
        }

        .img2 {
          display: none;
        }
      }

      .comment-part {
        margin: auto;
        //margin-top: 70px;
        width: 57%;
        position: relative;
        bottom: 750px;
        right: 10px;
        background-color: white;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
        border-radius: 60px;
        padding: 60px 40px 54px 52px;

        .comment-item {
          display: flex;

          .img1 {
            margin-right: 32px;
            margin-bottom: 28px;
          }

          .position {
            width: 18%;

            span {
              color: #c4c4c4;
            }
          }

          .comment-text {
            width: 50%;
          }
        }
      }
    }
  }

  @media (max-width: 1800px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 57%;
        }
      }
    }
  }

  @media (max-width: 1700px) {
    .comment-section {
      .container-fluid {
        .img-line {
          bottom: 220px;
        }

        .comment-part {
          width: 58%;
          bottom: 685px;
        }
      }
    }
  }

  @media (max-width: 1600px) {
    .comment-section {
      .container-fluid {
        .img-line {
          bottom: 200px;
        }

        .comment-part {
          width: 56%;
          bottom: 650px;
        }
      }
    }
  }

  @media (max-width: 1500px) {
    .comment-section {
      .container-fluid {
        .img-line {
          bottom: 150px;
        }

        .comment-part {
          width: 61%;
          bottom: 540px;
        }
      }
    }
  }

  @media (max-width: 1350px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 75%;
          bottom: 520px;
        }
      }
    }
  }

  @media (max-width: 1250px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 81%;
          bottom: 480px;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .comment-section {
      .container-fluid {
        .img-line {
          bottom: 110px;
        }

        .comment-part {
          width: 69%;
          bottom: 450px;
        }
      }
    }
  }

  @media (max-width: 1150px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 71%;
        }
      }
    }
  }

  @media (max-width: 1080px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 73%;
          bottom: 430px;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .comment-section {
      .container-fluid {
        .img-line {
          bottom: 10px;
        }

        .comment-part {
          width: 65%;
          bottom: 340px;

          .comment-item {
            .position {
              width: 30%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 73%;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 73%;
          bottom: 300px;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 73%;
          bottom: 250px;
        }
      }
    }
  }

  @media (max-width: 650px) {
    .comment-section {
      .container-fluid {
        .img-line {
          bottom: -220px;

          .img1 {
            display: none;
          }

          .img2 {
            display: flex;
            width: 100%;
          }
        }

        .comment-part {
          bottom: 160px;
          margin-bottom: 50px;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .comment-section {
      .container-fluid {
        .comment-part {
          width: 80%;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .comment-section {
      height: 630px;

      .container-fluid {
        .comment-part {
          width: 75%;
          margin-top: 25px;
        }
      }
    }
  }

  @media (max-width: 440px) {
    .comment-section {
      height: 690px;

      .container-fluid {
        .comment-part {
          width: 77%;
          margin-top: 35px;
        }
      }
    }
  }

  @media (max-width: 380px) {
    .comment-section {
      height: 710px;

      .container-fluid {
        .comment-part {
          width: 80%;
          margin-top: 50px;
        }
      }
    }
  }
}
