.template-case-study-surge-strength {
  .hero-study {
    height: 340px;
    display: flex;
    padding-top: 70px;
    text-align: center;
    position: relative;
    z-index: 0;
    background: #fafafa url("../images/case-study-surge/hero-line.svg") bottom no-repeat;

    h1 {
      font-family: "Lora", serif;
      font-size: 60px;
    }
  }

  @media (max-width: 1150px) {
    .hero-study {
      h1 {
        font-size: 50px;
      }
    }
  }

  @media (max-width: 1050px) {
    .hero-study {
      h1 {
        font-size: 42px;
      }
    }
  }

  @media (max-width: 700px) {
    .hero-study {
      height: 290px;

      h1 {
        font-size: 35px;
      }
    }
  }

  @media (max-width: 350px) {
    .hero-study {
      height: 260px;
      background: #fafafa url("../images/case-study-surge/mobile-line.svg") bottom no-repeat;

      h1 {
        font-size: 38px;
      }
    }
  }
}
