.template-case-study-surge-strength {
  .problem-section {
    width: 100%;
    padding-top: 110px;

    .problem-part {
      display: flex;
      margin: auto;
      width: 56%;
      justify-content: space-between;

      .problem-img {
        //background-color: blue;
        width: 45%;

        img {
          width: 100%;
        }
      }

      .problem-text {
        //background-color: yellow;
        width: 45%;

        h1::after {
          content: "";
          display: block;
          border: 1px solid #333;
          width: 72px;
          height: 1px;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 36px;
        }
      }
    }
  }

  @media (max-width: 1500px) {
    .problem-section {
      .problem-part {
        width: 58%;
      }
    }
  }

  @media (max-width: 1430px) {
    .problem-section {
      .problem-part {
        width: 68%;
      }
    }
  }

  @media (max-width: 1400px) {
    .problem-section {
      .problem-part {
        width: 62%;
      }
    }
  }

  @media (max-width: 1360px) {
    .problem-section {
      .problem-part {
        width: 72%;
      }
    }
  }

  @media (max-width: 1270px) {
    .problem-section {
      .problem-part {
        width: 77%;
      }
    }
  }

  @media (max-width: 1200px) {
    .problem-section {
      .problem-part {
        width: 67%;

        .problem-img {
          width: 55%;
        }

        .problem-text {
          width: 41%;

          h1 {
            font-size: 35px;
          }
        }
      }
    }
  }

  @media (max-width: 1160px) {
    .problem-section {
      .problem-part {
        width: 70%;

        .problem-img {
          width: 56%;
        }
      }
    }
  }

  @media (max-width: 1070px) {
    .problem-section {
      .problem-part {
        width: 74%;

        .problem-img {
          width: 54%;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .problem-section {
      padding-top: 60px;

      .problem-part {
        flex-direction: column;
        width: 80%;

        .problem-img {
          margin: auto;
          width: 75%;
        }

        .problem-text {
          margin: auto;
          width: 75%;
          margin-top: 30px;

          h1 {
            font-size: 32px;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .problem-section {
      .problem-part {
        width: 88%;
      }
    }
  }

  @media (max-width: 850px) {
    .problem-section {
      .problem-part {
        width: 92%;
      }
    }
  }

  @media (max-width: 786px) {
    .problem-section {
      .problem-part {
        .problem-img {
          width: 92%;
        }

        .problem-text {
          width: 92%;

          p {
            width: 70%;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .problem-section {
      .problem-part {
        .problem-img {
          width: 70%;
        }

        .problem-text {
          width: 70%;

          p {
            width: 80%;
          }
        }
      }
    }
  }

  @media (max-width: 730px) {
    .problem-section {
      .problem-part {
        .problem-img {
          width: 77%;
        }

        .problem-text {
          width: 77%;

          p {
            width: 82%;
          }
        }
      }
    }
  }

  @media (max-width: 660px) {
    .problem-section {
      .problem-part {
        .problem-img {
          width: 81%;
        }

        .problem-text {
          width: 81%;

          p {
            width: 82%;
          }
        }
      }
    }
  }

  @media (max-width: 630px) {
    .problem-section {
      .problem-part {
        .problem-img {
          width: 73%;
        }

        .problem-text {
          width: 73%;

          p {
            width: 82%;
          }

          h1 {
            font-size: 28px;
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    .problem-section {
      .problem-part {
        .problem-img {
          width: 81%;
        }

        .problem-text {
          width: 81%;

          p {
            width: 85%;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .problem-section {
      padding-top: 45px;

      .problem-part {
        .problem-img {
          width: 88%;
        }

        .problem-text {
          width: 88%;

          p {
            width: 90%;
          }

          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    .problem-section {
      padding-top: 30px;

      .problem-part {
        .problem-img {
          width: 94%;
        }

        .problem-text {
          width: 94%;

          p {
            width: 95%;
          }

          h1 {
            font-size: 22px;
          }
        }
      }
    }
  }
}
