.solution-section {
  width: 100%;
  padding-top: 110px;

  .solution-part {
    margin: auto;
    width: 62%;

    .solution-img {
      img {
        width: 100%;
      }

      .img2 {
        display: none;
      }
    }

    .solution-text {
      h1::after {
        content: "";
        display: block;
        border: 1px solid #333;
        width: 72px;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 43px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .solution-section {
    .solution-part {
      width: 67%;
    }
  }
}

@media (max-width: 1400px) {
  .solution-section {
    .solution-part {
      width: 69%;
    }
  }
}

@media (max-width: 1350px) {
  .solution-section {
    .solution-part {
      width: 71%;
    }
  }
}

@media (max-width: 1270px) {
  .solution-section {
    .solution-part {
      width: 78%;
    }
  }
}

@media (max-width: 1200px) {
  .solution-section {
    .solution-part {
      width: 67%;
    }
  }
}

@media (max-width: 1200px) {
  .solution-section {
    .solution-part {
      width: 70%;
    }
  }
}

@media (max-width: 1000px) {
  .solution-section {
    padding-top: 80px;

    .solution-part {
      flex-direction: column-reverse;
      width: 60%;
    }
  }
}

@media (max-width: 900px) {
  .solution-section {
    padding-top: 70px;

    .solution-part {
      width: 66%;
    }
  }
}

@media (max-width: 850px) {
  .solution-section {
    padding-top: 65px;

    .solution-part {
      width: 69%;
    }
  }
}

@media (max-width: 786px) {
  .solution-section {
    .solution-part {
      width: 85%;
    }
  }
}

@media (max-width: 768px) {
  .solution-section {
    padding-top: 60px;

    .solution-part {
      width: 65%;
    }
  }
}

@media (max-width: 730px) {
  .solution-section {
    .solution-part {
      width: 70%;
    }
  }
}

@media (max-width: 665px) {
  .solution-section {
    .solution-part {
      width: 75%;
    }
  }
}

@media (max-width: 630px) {
  .solution-section {
    .solution-part {
      width: 70%;
    }
  }
}

@media (max-width: 575px) {
  .solution-section {
    .solution-part {
      width: 75%;
    }
  }
}

@media (max-width: 500px) {
  .solution-section {
    .solution-part {
      .solution-img {
        .img1 {
          display: none;
        }

        .img2 {
          display: flex;
        }
      }
    }
  }
}
