footer {
  font-family: $main-font;
  font-variation-settings: 'wght' 500;
  background: #fff url("../images/shared/footer.svg") bottom right no-repeat;
  padding: 145px 10% 105px 16%;
  color: #303030;

  .footer-nav {
    color: #303030;
    display: flex;
    justify-content: space-between;
    max-width: 800px;

    .item-wrap {
      display: flex;
      justify-content: space-between;
      width: 380px;
    }

    .item {
      display: flex;
      flex-direction: column;
      font-variation-settings: 'wght' 600;
      font-size: 20px;
      line-height: 30px;

      .footer-logo {
        margin-bottom: 40px;
      }

      h5 {
        font-size: 22px;
        line-height: 28px;
        color: #9f9f9f;
        margin-bottom: 81px;
        font-family: "Mulish", sans-serif;
      }

      ul {
        padding-inline-start: 0;
        list-style: none;

        a:hover {
          color: #303030;
          text-decoration: none;
        }

        li {
          margin-bottom: 40px;
        }
      }
    }
  }

  .copyright-frame {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    line-height: 25px;
    padding-top: 100px;

    .copyright {
      svg {
        margin-bottom: 20px;
      }

      p {
        font-variation-settings: 'wght' 300;
        margin-bottom: 0;
      }
    }

    a {
      font-variation-settings: 'wght' 300;

      &:hover {
        text-decoration: none;
        color: #303030;
      }
    }
  }
}

.template-about {
  footer {
    padding: 145px 10% 105px 10%;
  }
}

.template-locations {
  footer {
    padding: 145px 10% 105px 10%;
  }
}

.template-contact_us {
  footer {
    padding: 145px 10% 105px 10%;
  }
}

@media (max-width: 1800px) {
  .template-home {
    footer {
      padding: 145px 10% 105px 12%;
    }
  }

  .template-about {
    footer {
      padding: 145px 10% 105px 7%;
    }
  }

  .template-blog {
    footer {
      padding: 145px 10% 105px 13%;
    }
  }

  .template-portfolio {
    footer {
      padding: 145px 10% 105px 12%;
    }
  }

  .template-careers {
    footer {
      padding: 145px 10% 105px 12%;
    }
  }

  .template-locations {
    footer {
      padding: 145px 10% 105px 7%;
    }
  }
}

@media (max-width: 1600px) {
  footer {
    padding: 145px 6% 105px 6%;
  }

  .template-home {
    footer {
      padding: 145px 10% 105px 10%;
    }
  }

  .template-about {
    footer {
      padding: 145px 10% 105px 7%;
    }
  }

  .template-blog {
    footer {
      padding: 145px 10% 105px 9%;
    }
  }

  .template-portfolio {
    footer {
      padding: 145px 10% 105px 10%;
    }
  }

  .template-careers {
    footer {
      padding: 145px 10% 105px 8%;
    }
  }
}

@media (max-width: 1000px) {
  footer .footer-nav {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  footer {
    padding-top: 75px;

    .footer-nav {
      flex-direction: column;
      align-items: center;

      .item {
        .footer-logo {
          a {
            margin-bottom: 20px;
          }
        }

        h5 {
          margin-bottom: 44px;
        }
      }

      .f-item {
        padding-bottom: 60px;

        p {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  footer .copyright-frame {
    flex-direction: column;
    align-items: flex-start;

    a {
      margin-top: 8px;
    }
  }
}

@media (max-width: 480px) {
  footer .footer-nav {
    .item-wrap {
      width: 100%;
      justify-content: space-around;
    }

    .item .footer-logo {
      svg {
        display: none;
      }

      .footer-logo-mob {
        display: block !important;
      }
    }

    .f-item {
      align-items: center;
    }
  }

  footer .footer-nav .item {
    h5 {
      font-size: 20px;
    }

    ul {
      font-size: 18px;
    }
  }
}
