header {
  height: 70px;
  position: fixed;
  z-index: 110;
  background: #fafafa;
  width: 100%;

  .container-fluid {
    padding: 0;

    @media (max-width: 900px) {
      padding: 0 15px;
    }
  }

  .menu-holder {
    height: 70px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1517px;
    // min-width: 889px;
    margin: 0 auto;

    nav {
      height: 70px;

      .regular-menu {
        height: 70px;
        width: 475.37px;

        ul {
          height: 70px;
          width: inherit;
          display: flex;
          list-style: none;
          align-items: center;
          // justify-content: space-around;
          padding-left: 0;

          .current-menu-item {
            a {
              font-variation-settings: 'wght' 600;
              border-bottom: 1px solid #303030;
            }
          }

          a {
            color: $primary-color;
            text-decoration: none;
            font-size: 16px;
            font-variation-settings: 'wght' 500;
            font-family: "Mulish", sans-serif;
            padding-bottom: 6px;
            border-bottom: 1px solid transparent;
            transition: all 0.3s ease;
            margin-left: 20px;
            text-transform: capitalize;

            &:hover {
              border-bottom: 1px solid #303030;
            }
          }

          li:first-of-type {
            a {
              margin-left: 0;
            }
          }
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;

      p {
        margin: 0;
        font-size: 28px;
        margin-left: 10px;
        color: $primary-color;
        font-family: $secondary-font;
        font-weight: bold;
      }

      #home-dots {
        padding-top: 20px;
      }

      .logo-img {
        width: 244px;
        height: 46px;

        a {
          width: 244px;
          height: 16px;

          svg {
            width: 244px;
            height: 46px;
          }
        }
      }
    }
  }
}

.for-phone {
  display: none;

  p {
    font-family: "Mulish", sans-serif;
    font-variation-settings: 'wght' 500;
    font-size: 14px;
    line-height: 147.4%;
    padding-top: 30px;
  }

  .nav-primary {
    .regular-menu {
      height: inherit;

      ul {
        height: inherit;
        padding: 0;
        list-style: none;

        .current-menu-item {
          a {
            font-variation-settings: 'wght' 600;
          }

          &::after {
            position: absolute;
            content: "";
            border-bottom: 1px solid #303030;
            width: 61px;
            bottom: -5px;
            left: 0;
          }
        }
        li {
          margin-bottom: 20px;
          width: 147px;
          position: relative;

          a {
            color: #303030;
            font-size: 16px;
            line-height: 20px;
            font-family: "Mulish", sans-serif;
            text-transform: capitalize;
          }

          &:last-child::after {
            position: absolute;
            content: "";
            border-bottom: 1px solid #c4c4c4;
            width: 136px;
            bottom: -28px;
            right: 7%;
            height: 1px;
          }
        }
      }
    }
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .burger-menu-content {
      height: 0;
      transform: scale(1, 0);
      transition: transform 250ms ease-in-out;
      transform-origin: top;
      top: 0;
      position: absolute;
      left: 0;
      width: 100%;
      background: #f9f9f9 url("../images/home/Group 1533.svg") 42% 16% no-repeat;
      z-index: 200;
      display: flex;
      flex-direction: column;
      padding: 120px 30px;
      overflow: scroll;
    }

    // .logo-img-phone {
    //   @include breakpoint(mobile) {
    //     top: 0;
    //     right: -22%;
    //   }

    //   @include breakpoint(XSMaxLand) {
    //     display: block;
    //     transform: scale(0.77);
    //   }

    //   @include breakpoint(iXLandscape) {
    //     display: block;
    //     transform: scale(0.77);
    //   }

    //   @include breakpoint(S8Landscape) {
    //     display: block;
    //     transform: scale(0.77);
    //   }
    // }

    .logo-img-phone {
      a svg {
        width: 100%;
        height: 100%;
      }
    }

    .logo-img-scroll {
      position: relative;
      width: 50px;

      a svg {
        width: 100%;
        height: 100%;
      }
    }

    .logo {
      z-index: 1000;
    }

    .burger-menu {
      width: 28px;
      height: 8px;
      border-radius: 2px;
      position: relative;
      transition: all ease-in-out 500ms;
      display: block;
      z-index: 1000;
      right: 15px;
      padding: 10px 0;
      padding-right: 30px;
      cursor: pointer;
    }

    .burger-menu::before {
      height: 2px;
      width: 28px;
      background: #303030;
      display: block;
      position: relative;
      transition: all ease-in-out 500ms;
      content: "";
      top: -6px;
    }

    .burger-x {
      transition: transform 250ms ease-in-out;
      transform: rotate(45deg);
    }

    .burger-x::before {
      opacity: 1;
      transform: rotate(180deg);
    }

    .burger-x::after {
      transform: translateY(-7px) rotate(-90deg);
      bottom: unset;

      @include breakpoint(XSMax) {
        transform: translateY(-6.9px) rotate(-90deg);
      }

      @include breakpoint(iphoneX) {
        transform: translateY(-6px) rotate(-90deg);
      }

      @include breakpoint(XSMaxLand) {
        transform: translateY(-7px) rotate(-90deg);
      }

      @include breakpoint(iXLandscape) {
        transform: translateY(-6px) rotate(-90deg);
      }

      @include breakpoint(S8Landscape) {
        transform: translateY(-6px) rotate(-90deg);
      }
    }

    .burger-regular {
      transform: rotate(0deg);
    }
    .burger-regular::before {
      opacity: 1;
    }

    .burger-regular::after {
      transform: translateY(0) rotate(0deg);
    }

    .burger-menu::after {
      height: 2px;
      background: #303030;
      width: 28px;
      display: block;
      position: relative;
      transition: all ease-in-out 500ms;
      content: "";
      // bottom: -5px;
    }

    .headphone {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .for-phone .logo .logo-img-phone {
    width: 50px;
  }

  .for-phone {
    .container-fluid {
      .burger-menu {
        order: 1;
      }

      .headphone {
        display: block;
      }
    }
  }
}

@media (max-width: 889px) {
  header {
    .menu-holder {
      width: 100%;
      // min-width: initial;
      // max-width: initial;
    }
  }

  .banner {
    display: none;
  }

  .for-phone {
    display: flex;

    .container-fluid {
      .logo {
        .logo-img-scroll {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .for-phone .container-fluid .burger-menu-content {
    background: #f9f9f9 url("../images/home/hero-mobile.svg") 0 90% no-repeat;
  }
}

@media (max-width: 360px) {
  .for-phone .container-fluid .burger-menu-content {
    background-position: 0 97%;
  }
}
