.template-case-study-multi-unit {
  .img-surge {
    background-color: #fafafa;

    .container {
      max-width: 100%;
    }

    .img1 {
      width: 80%;
      margin: auto;

      img {
        width: 100%;
      }

      .img2 {
        display: none;
      }
    }
  }

  @media (max-width: 900px) {
    .img-surge {
      .container {
        .img1 {
          width: 88%;
          
          .img3 {
            display: none;
          }

          .img2 {
            display: flex;
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    .img-surge {
      .container {
        .img1 {
          width: 93%;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .img-surge {
      .container {
        .img1 {
          width: 97%;

          // .img3 {
          //   display: none;
          // }

          // .img2 {
          //   display: flex;
          // }
        }
      }
    }
  }
}
