@font-face {
  font-family: "Futura";
  src: url("../fonts/Mulish/futura-medium-bt.ttf") format("truetype");
  font-display: optional;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
  font-display: optional;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
  font-display: optional;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", sans-serif;
  font-variation-settings: 'wght' 400;
  color: #323232;
}

p,
a {
  font-family: "Mulish", sans-serif;
  font-variation-settings: 'wght' 300;
  color: #323232;
}
