/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$primary-color: #303030;
$alpha-color: #1994ff;
$main-font: "Mulish";
$secondary-font: "Lora";

$break-320: 20em;
$break-321: 20.0625em;
$break-360: 22.5em;
$break-480: 30em;
$break-600: 37.5em;
$break-768: 48em;
$break-980: 61.25em;
$break-1024: 64em;
$break-1070: 66.875em;
$break-1200: 75em;
$break-1224: 76.5em;
$break-1280: 80em;
$break-1366: 85.375em;
$break-1500: 93.75em;
$break-1710: 106.875em;
$break-1824: 114em;

@mixin mobile-font($e) {
  @if $e == a {
    font-size: 15px;
    line-height: 18px;
  }

  @if $e == h1 {
    font-size: 25px;
    line-height: 141%;
  }

  @if $e == p {
    font-size: 15px;
    line-height: 26px;
  }
}

@mixin breakpoint($point) {
  @if $point == tablet {
    @media (min-width: $break-768) {
      @content;
    }
  }

  @if $point == bellow1710 {
    @media only screen and (max-width: $break-1710) {
      @content;
    }
  }

  @if $point == bellow1500 {
    @media only screen and (max-width: $break-1500) {
      @content;
    }
  }

  @if $point == bellow1366 {
    @media only screen and (max-width: $break-1366) {
      @content;
    }
  }

  @if $point == bellow1280 {
    @media only screen and (max-width: $break-1280) {
      @content;
    }
  }

  @if $point == bellow1200 {
    @media only screen and (max-width: $break-1200) {
      @content;
    }
  }

  @if $point == bellow1070 {
    @media only screen and (max-width: $break-1070) {
      @content;
    }
  }

  @if $point == bellow1024 {
    @media only screen and (min-width: 897px) and (max-width: $break-1024) {
      @content;
    }
  }

  @if $point == bellow980 {
    @media only screen and (min-width: $break-768) and (max-width: $break-980) {
      @content;
    }
  }

  @if $point == bellow889 {
    @media only screen and (max-width: 889px) {
      @content;
    }
  }

  @if $point == bellow768 {
    @media only screen and (max-width: $break-768) {
      @content;
    }
  }

  // Smartphones (portrait and landscape)
  @if $point == mobile {
    @media only screen and (max-width: 413px) {
      @content;
    }
  }

  // Smartphones (landscape)
  @if $point == mobileLow {
    @media only screen and (max-width: $break-321) {
      @content;
    }
  }

  // Smartphones (portrait)
  @if $point == mobilePortrait {
    @media only screen and (max-width: $break-320) {
      @content;
    }
  }

  // Desktops and laptops
  @if $point == desktopLaptop {
    @media only screen and (min-width: $break-1224) {
      @content;
    }
  }

  // Large screens
  @if $point == desktopLarge {
    @media only screen and (min-width: $break-1824) {
      @content;
    }
  }

  @if $point == samsungS8 {
    @media handheld,
      only screen and (width: 360px) and (height: 740px) and (orientation: portrait) {
      @content;
    }
  }

  @if $point == S8Landscape {
    @media only screen and (min-width: 740px) and (max-width: 741px) and (orientation: landscape) {
      @content;
    }
  }
  
  // iPhone XSMax portrait
  @if $point == XSMax {
    @media only screen and (min-width: 414px) and (orientation: portrait) {
      @content;
    }
  }

  // iPhone XSMax landscape
  @if $point == XSMaxLand {
    @media only screen and (min-width: 896px) and (max-width: 980px) and (orientation: landscape) {
      @content;
    }
  }

  // iPhone X portrait
  @if $point == iphoneX {
    @media handheld,
      only screen and (min-width: 375px) and (height: 812px) and (orientation: portrait) {
      @content;
    }
  }
  

  // iPhone X Landscape
  @if $point == iXLandscape {
    @media only screen and (min-width: 812px) and (max-width: 813px) and (orientation: landscape) {
      @content;
    }
  }

  // ipad Portrait
  @if $point == ipad {
    @media only screen and (min-width: 1024px) and (max-width: 1024px) {
      @content;
    }
  }

  // ipad lower dimensions
  @if $point == ipadLow {
    @media only screen and (min-width: 834px) and (max-width: 1023px) {
      @content;
    }
  }
}

//background image block, parameters are self-explanatory
@mixin background-image($path, $size, $position, $repeat) {
  background-image: url($path);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

@mixin reset-prop($args...) {
  @each $attr in $args {
    #{$attr}: unset;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

//fluid font size, min-max width, min-max font-size
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

//fluid line height, min-max width, steps, min-max value
@mixin fluid-line-height($min-w, $max-w, $steps, $min-value: 1.5, $max-value: 1.8) {
  $step: ($max-w - $min-w) / $steps;
  $increase: ($max-value - $min-value) / $steps;

  @for $i from 0 through $steps {
    @media (min-width: calc(#{$min-w} + (#{$i} * #{$step}))) {
      line-height: $min-value + $i * $increase;
    }
  }
}